<div class="main-content-container container-fluid px-4">  
    <div class="row pb-3 pt-4">		  
        <div class="col-12">		  
        <ul class="nav nav-tabs">
        <li class="nav-item align-self-center">
           <h5 class="text-dark mb-0 font-weight-bold mr-3">My Portfolio</h5>
          </li>
          <li class="nav-item ">
            <a routerLink="/field-reports"  class="nav-link text-muted font-weight-bold text-uppercase"  aria-controls="profile" aria-selected="false">Leases</a>
          </li>
          <li class="nav-item ">
            <a routerLink="/financials" class="nav-link text-muted font-weight-bold text-uppercase" role="tab" aria-controls="contact" aria-selected="false">Financials</a>
          </li>
          <li class="nav-item">
            <a  routerLink="/presentations" class="active nav-link text-muted font-weight-bold text-uppercase" role="tab" aria-controls="contact" aria-selected="false">Presentations</a>
          </li>
          <li class="nav-item">
            <a  routerLink="/charts" class="nav-link text-muted font-weight-bold text-uppercase" role="tab" aria-controls="contact" aria-selected="false">Charts</a>
          </li>
           <div class="ml-auto d-inline-flex">
                <li class="list-inline-item"> 
                        <a class="btn btn-outline-accent btn-sm btn-block text-uppercase" data-target=".askquestion-modal-xl" data-toggle="modal" href="#">
                                Edit Watchlist
                              </a>
                    </li>
                <li class="list-inline-item">
                        <a class="btn btn-outline-accent btn-sm btn-block text-uppercase" data-target=".askquestion-modal-xl" data-toggle="modal" href="#">
                               Add lease
                              </a>
                      
                    </li>
                </div>
        </ul>
        
      
        </div>
        </div>	
 
    

  
    <div class="row justify-content-start no-gutters  pb-3 pt-4">
            <div class="col-md-12 col-xl-12">
              
              
              <div class="row justify-content-start ">
                <div class="col-md-5 col-xl-3">
                  <div class="card"  >
                        <img class="img-fluid " src="https://source.unsplash.com/AvhMzHwiE_0/400x300" alt="">
                        <div class="card-body py-4 px-3">
                               <a href=""><i class="material-icons md-24 mb-2">
                                        save_alt
                                        </i></a> 
                                        <h6 class="card-text text-secondary font-weight-semibold mb-2 small text-uppercase">Devon Energy</h6>
                          <h6 class="card-text text-dark font-weight-semibold mb-2">Reeves County property discussion </h6>
                          <!-- <p ><small class="card-secondary mb-1">1.5k Members</small></p> -->
                          <h6 class="card-text text-secondary  mb-1 small">Added May 3 at 6:40pm</h6>
                          <a href="">
                          <i class="material-icons icon-muted">
                                mode_comment
                                </i>  <span class="small text-secondary ml-2">1 Comment</span>
                            </a>
                        </div>
                      </div>

                </div>
        
        
                <div class="col-md-5 col-xl-3 ">
                 
                  <div class="card" >
                        <img class="img-fluid " src="https://source.unsplash.com/EMSDtjVHdQ8/400x300" alt="">
                        <div class="card-body py-4 px-3">
                         
                                <a href=""><i class="material-icons md-24 mb-2">
                                        save_alt
                                        </i></a> 
                                        <h6 class="card-text text-secondary font-weight-semibold mb-2 small text-uppercase">Devon Energy</h6>
                          <h6 class="card-text text-dark font-weight-semibold mb-2">Reeves County property discussion </h6>
                          <!-- <p ><small class="card-secondary mb-1">1.5k Members</small></p> -->
                          <h6 class="card-text text-secondary  mb-1 small">Added May 3 at 6:40pm</h6>
                          <a href="">
                          <i class="material-icons icon-muted">
                                mode_comment
                                </i>  <span class="small text-secondary ml-2">1 Comment</span>
                            </a>
                        </div>
                      </div>



                      

                </div>

                <div class="col-md-5 col-xl-3">
                    <div class="card">
                          <img class="img-fluid" src="https://source.unsplash.com/8mUEy0ABdNE/400x300" alt="">
                          <div class="card-body py-4 px-3">
                           
                                <a href=""><i class="material-icons md-24 mb-2">
                                        save_alt
                                        </i></a> 
                                        <h6 class="card-text text-secondary font-weight-semibold mb-2 small text-uppercase">Devon Energy</h6>
                          <h6 class="card-text text-dark font-weight-semibold mb-2">Reeves County property discussion </h6>
                          <!-- <p ><small class="card-secondary mb-1">1.5k Members</small></p> -->
                          <h6 class="card-text text-secondary  mb-1 small">Added May 3 at 6:40pm</h6>
                          <a href="">
                          <i class="material-icons icon-muted">
                                mode_comment
                                </i>  <span class="small text-secondary ml-2">1 Comment</span>
                            </a>
                          </div>
                        </div>
  
                  </div>
                  <div class="col-md-5 col-xl-3">
                      <div class="card"  >
                            <img class="img-fluid " src="https://source.unsplash.com/EUfxH-pze7s/400x300" alt="">
                            <div class="card-body py-4 px-3">
                                    <a href=""><i class="material-icons md-24 mb-2">
                                            save_alt
                                            </i></a> 
                                            <h6 class="card-text text-secondary font-weight-semibold mb-2 small text-uppercase">Devon Energy</h6>
                              <h6 class="card-text text-dark font-weight-semibold mb-2">Reeves County property discussion </h6>
                              <!-- <p ><small class="card-secondary mb-1">1.5k Members</small></p> -->
                              <h6 class="card-text text-secondary  mb-1 small">Added May 3 at 6:40pm</h6>
                              <a href="">
                              <i class="material-icons icon-muted">
                                    mode_comment
                                    </i>  <span class="small text-secondary ml-2">1 Comment</span>
                                </a>
                            </div>
                          </div>
    
                    </div>

        
               
              </div>
            </div>
          </div>
