mgl-map {
  height: calc(100vh - 3.75rem - 3rem);
  width: 100%;
  overflow: hidden;
}

#viewDiv {
    padding: 0;
    margin: 0;
     position: relative;
  }
  
  #viewFilter1{
    padding: 5px
  }
  .ng-draggable {
    cursor: grab;
  }
   
  .ng-dragging {
    cursor: grabbing;
  }


  #county-filter{
	 height: calc(10vh - 1px) !important;
     overflow: auto;
     background: white;
  }