<div class="main-content-container container-fluid px-4">
  <div class="row pb-3 pt-4">
    <div class="col-12">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item align-self-center">
          <h5 class="text-dark mb-0 font-weight-bold mr-3">Community</h5>
        </li>
        <li class="nav-item">
          <a routerLink="/profile" class="nav-link text-muted font-weight-bold" aria-controls="profile"
            aria-selected="false">MY PROFILE</a>
        </li>
        <li class="nav-item">
          <a routerLink="/newsfeed" class="nav-link text-muted font-weight-bold" role="tab" aria-controls="contact"
            aria-selected="false">NEWS FEED</a>
        </li>
        <li class="nav-item">
          <a routerLink="/discussions" class="active nav-link text-muted font-weight-bold" role="tab"
            aria-controls="contact" aria-selected="false">DISCUSSIONS</a>
        </li>
        <li class="nav-item">
          <a routerLink="/messages" class="nav-link text-muted font-weight-bold" role="tab" aria-controls="contact"
            aria-selected="false">MESSAGES</a>
        </li>
        <li class="nav-item">
          <a routerLink="/requests" class="nav-link text-muted font-weight-bold" role="tab" aria-controls="contact"
            aria-selected="false">REQUESTS</a>
        </li>
        <li class="nav-item">
          <a routerLink="/index" class="nav-link text-muted font-weight-bold" role="tab" aria-controls="contact"
            aria-selected="false">SETTINGS</a>
        </li>
        <li class="nav-item pull-right ml-xl-auto align-self-center py-1">
          <a class="btn btn-accent btn-sm btn-block text-uppercase" data-target=".askquestion-modal-xl"
            data-toggle="modal" href="#">
            Ask a Question
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="row justify-content-center py-3">
    <div class="col-xl-12">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb px-0">
          <li class=""><a class="active text-green font-weight-semibold" routerLink="/discussions">Categories</a></li>
          <li class="breadcrumb-item ml-auto">
            <form id="search-form" class="form-inline">
              <div class="input-group search">
                <input type="text" class="form-control search-form" placeholder="Search">
                <span class="input-group-btn">
                  <button type="submit" class="search-btn">
                    <i class="fa fa-search"></i>
                  </button>
                </span>
              </div>
            </form>
          </li>
        </ol>
      </nav>

      <!-- <div class="row">
        <div *ngFor="let c of categoryList">
            <div *ngFor="let e of c.Categories">  
              <div class="card">
                  <img class="img-fluid img-thumbnail rounded-left"
                  src="https://source.unsplash.com/AvhMzHwiE_0/400x300" alt="" width="250px">
                  <div class="category-text">
                      {{e.name}}
                    </div>
              </div>                        
            </div>      
        </div>
      </div> -->

      <!-- <div class="row" >
          <div class="col-xl-3 col-lg-4 col-md-4 col-sm-4 p-3" >
              <a routerLink="/subcategory">
                <div class="card d-inline category-main" style="width:50rem" *ngFor="let c of categoryList">
                  <img class="img-fluid img-thumbnail rounded-left"
                    src="https://source.unsplash.com/AvhMzHwiE_0/400x300" alt="" width="250px">
                  <div class="category-text" *ngFor="let e of c.Categories">
                      {{e.name}}
                  </div>
                </div>
              </a>
            </div>
      </div> -->


      <div>
          <div class="row gutter-10">
              <div class="card m-2" *ngFor="let c of categoryList">
                  <a routerLink="/subcategory" [queryParams]="{categoryId: c.id}">
                    <div class="card d-inline category-main" style="width:50rem">
                      <img class="img-fluid img-thumbnail rounded-left"
                        src="https://source.unsplash.com/AvhMzHwiE_0/400x300" alt="" width="250px">
                      <div class="category-text">
                          {{c.name}}
                      </div>
                    </div>
                  </a>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>