<div class="main-content-container container-fluid px-4">
    <app-community></app-community>

    <flash-messages class="bg-accent text-center"></flash-messages>

    <div class="row justify-content-center">
        <div class="col-12">
            <div class="content-loading text-center" *ngIf="loading">
                <app-loadingcircle></app-loadingcircle>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-12 pb-1 pt-3">
            <ul class="nav nav-tabs sub-tab border-0" id="photos-tab" role="tablist">
                <li class="nav-item align-self-center">
                    <h5 class="text-dark mb-1 font-weight-bold mr-3 align-self-center">Following</h5>
                </li>
                <li class="nav-item align-self-center">
                    <a href="#following" class="nav-link text-muted font-weight-bold active" data-toggle="tab"
                        aria-selected="false">Following({{followingMembersList?.length}})</a>
                </li>
                <li class="nav-item align-self-center">
                    <a href="#followers" class="nav-link text-muted font-weight-bold" data-toggle="tab" role="tab"
                        aria-controls="contact" aria-selected="false">Followers({{followerMembersList?.length}})</a>
                </li>

                <li class="nav-item align-self-center">
                    <a href="#blockedUsers" class="nav-link text-muted font-weight-bold" data-toggle="tab" role="tab"
                        aria-controls="contact" aria-selected="false">Blocked Users({{blockedMembers?.length}})</a>
                </li>

                <li class="nav-item align-self-center ml-auto">


                    <!-- <a class="nav-link font-weight-bold dropdown-toggle" href="#" id="dropdownMenuLink"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        My Lists
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="#">All Lists</a>
                        <a class="dropdown-item" href="#">My Lists</a>
                        <a class="dropdown-item" href="#">Bookmarked Lists</a>
                        <a class="dropdown-item" href="#">Shared Lists</a>
                    </div> -->
                    <!-- <select>
                              <option value="0">All Posts</option>
                              <option value="10">Latest</option>
                              <option value="11">Yesterday</option> 
                            </select> -->

                    <!-- <select>
                        <option> <a class="dropdown-item">All Posts</a></option>
                        <option> <a class="dropdown-item" >Latest</a></option>
                        <option> <a class="dropdown-item" >Yesterday</a></option>
                    </select> -->

                    <!-- <span class="custom-dropdown">
                        <select clas="">
                            <option>All Posts</option>
                            <option>My Posts</option>  
                            <option>Bookmarked Posts</option>
                            <option>Shared Posts</option>
                          
                        </select>
                    </span>   -->
                </li>
                <div class="ml-auto d-inline-flex">
                    <!-- <li class="nav-item pull-right mr-3 align-self-center">
                        <a class="btn btn-outline-accent btn-sm btn-block text-uppercase " data-toggle="modal"
                            data-target=".photo-modal-lg">New List</a>
                    </li> -->
                    <li class="nav-item pull-right mr-3 align-self-center">
                        <a class="btn btn-outline-accent btn-sm btn-block text-uppercase "
                            (click)=openFollowNewUsersModal(followNewUsers)> Follow New Users </a>
                    </li>
                    <li class="nav-item pull-right mr-3 align-self-center">
                        <!-- <form   class="form-inline" role="form" 
                              > -->
                        <div class="input-group search">
                            <input type="text" class="form-control search-form" placeholder="Search"
                                [(ngModel)]="searchText">
                            <span class="input-group-btn">
                                <button type="submit" class="search-btn" data-target="#search-form" name="q">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>

                        </div>
                        <!-- </form> -->
                        <!-- <form action="" class="search-form">
                                <div class="form-group has-feedback">
                                    <label for="search" class="sr-only">Search</label>
                                    <input type="text" class="form-control" name="search" id="search" placeholder="search">
                                      <span class="glyphicon glyphicon-search form-control-feedback"></span>
                                    <span> <i class="fa fa-search"></i></span>
                                </div>
                            </form> -->
                    </li>

                </div>
            </ul>

        </div>

    </div>

    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active mt-3" id="following" role="tabpanel" aria-labelledby="home-tab">

            <div class="row justify-content-between">
                <div class="col-md-12 col-xl-12">

                    <div class="row justify-content-center text-center py-4"
                        *ngIf="followingMembersList?.length==0">
                        <div class="col-md-5 text-center col-12 col-xl-4">
                            <img src="assets/images/follow.png" class="" alt="Follow Image" height="235px"
                                width="auto">
                        </div>
                        <div class="col-md-6 col-12 col-xl-6 px-4 text-left d-flex">
                            <div class="align-self-center">
                                <h6 class="text-secondary font-weight-semibold text-uppercase">No Following Member's yet !!</h6>
                                <h6 class="text-muted font-weight-semibold ">Here, you will be able to see all Members
                                    you are Following.</h6>
                                <h6 class="text-muted font-weight-semibold ">You can Follow New Users by
                                    clicking on "Follow New Users" in the above tab.</h6>
                            </div>
                        </div>
                    </div>

                    <!-- <div class="row justify-content-center text-center pt-3" *ngIf="followingMembersList?.length==0">
                        <h6>Currently, You are not following anyone...</h6>
                    </div> -->

                    <div class="row justify-content-between pb-3 ">

                        <div class="col-xl-6 col-md-6 col-sm-6 mb-4"
                            *ngFor="let fml of followingMembersList | filter:searchText">

                            <div class="card card-small blog-comments">

                                <div class="row p-3">
                                    <div class="col-8">
                                        <div class="media mb-0">

                                            <ngx-avatar class="mr-3" name="{{fml?.f_name}} {{fml?.l_name}}" [size]="40"
                                                src="{{fml?.email_id}}">
                                            </ngx-avatar>

                                            <div class="media-body mb-0 cursor-pointer"
                                                (click)="goToMvestUserPage(fml?.email_id,fml?.member_id)">
                                                <h5 class="text-dark h6 mb-1 font-weight-semibold">
                                                    {{fml.f_name | titlecase}}
                                                    {{fml.l_name | titlecase}}</h5>

                                                <h5 class="text-dark h6 mb-0  text-muted">
                                                    Verified {{fml.member_type | titlecase}} Owner </h5>

                                            </div>
                                        </div>
                                    </div>
                                    <div class=" col-4  justify-content-end text-right">
                                        <h6 class="mb-0">
                                            <a data-target="tooltip" title="Unfollow"
                                                (click)="openUnfollowMemberModal(unfollowMemberModal,fml.member_id)"> <i
                                                    class="material-icons icon-muted-negative md-21 cursor-pointer">
                                                    remove_circle_outline
                                                </i> </a>
                                        </h6>
                                        <h6 class="mb-0"> <i class="material-icons mr-1 text-muted">check_circle_outline
                                            </i><small class="text-muted font-weight-semibold text-uppercase">Following
                                            </small> </h6>
                                    </div>

                                    <!-- <div class=" col-4 d-flex justify-content-end text-right" >


                                        <h6> <i class="material-icons mr-1 text-muted">check_circle_outline
                                        </i><small
                                            class="text-muted font-weight-semibold text-uppercase">Following
                                        </small> </h6>
                                </div>    -->

                                </div>

                                <!-- <div class="card-body p-0">
                                    <div class="pt-3 px-3 pb-0">
                                        <div class="media">

                                            <ngx-avatar class="mr-3" name="{{fml.f_name}} {{fml.l_name}}" [size]="40"
                                                src="">
                                            </ngx-avatar>

                                           

                                            <div class="media-body mb-0">
                                                <h5 class="text-dark h6 mb-0 font-weight-semibold">
                                                    {{fml.f_name | titlecase}}
                                                    {{fml.l_name | titlecase}}</h5>
                                                <ul class="list-inline d-flex mb-0">
                                                    <li class="list-inline-item mb-1 h6 text-muted">
                                                        Verified {{fml.member_type | titlecase}} Owner
                                                    </li>
                                                   
                                                    <div class="ml-auto ">
                                                      
                                                        <li class="pull-right text-muted h6 text-uppercase">
                                                            <h6>  <i class="material-icons md-24">
                                                                more_horiz
                                                                </i></h6>
                                                        </li>
                                                        <li class="pull-right text-muted h6 text-uppercase">
                                                            <h6> <i class="material-icons mr-1 text-muted">check_circle_outline
                                                                </i><small
                                                                    class="text-muted font-weight-semibold text-uppercase">Following
                                                                </small> </h6>
                                                        </li>
                                                    </div>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                            </div> 
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="tab-pane fade show mt-3" id="followers" role="tabpanel" aria-labelledby="home-tab">
            <div class="row justify-content-between">
                <div class="col-md-12 col-xl-12">

                    <div class="row justify-content-center text-center py-4"
                        *ngIf="followerMembersList?.length==0">
                        <div class="col-md-5 text-center col-12 col-xl-4">
                            <img src="assets/images/follow.png" class="" alt="Follow Image" height="235px"
                                width="auto">
                        </div>
                        <div class="col-md-6 col-12 col-xl-6 px-4 text-left d-flex">
                            <div class="align-self-center">
                                <h6 class="text-secondary font-weight-semibold text-uppercase">No Followers yet !</h6>
                                <h6 class="text-muted font-weight-semibold ">Here, you will be able to see all members
                                    who are following you.
                                </h6>
                                <!-- <h6 class="text-muted font-weight-semibold ">You can follow New Users by
                                    clicking on "Follow New Users" in the above tab.</h6> -->
                            </div>
                        </div>
                    </div>

                    <!-- <div class="row justify-content-center text-center pt-3" *ngIf="followerMembersList?.length==0">
                        <h6>Currently, other member is following you...</h6>
                    </div> -->

                    <div class="row justify-content-between pb-3 ">
                        <div class="col-xl-6 col-md-6 col-sm-6 mb-4"
                            *ngFor="let flr of followerMembersList | filter:searchText">

                            <div class="card card-small blog-comments">
                                <div class="row p-3">
                                    <div class="col-8">
                                        <div class="media mb-0">

                                            <ngx-avatar class="mr-3" name="{{flr.f_name}} {{flr.l_name}}" [size]="40"
                                                src="{{flr?.email_id}}">
                                            </ngx-avatar>

                                            <div class="media-body mb-0 cursor-pointer"
                                                (click)="goToMvestUserPage(flr?.email_id,flr?.member_id)">
                                                <h5 class="text-dark h6 mb-0 font-weight-semibold">
                                                    {{flr.f_name | titlecase}}
                                                    {{flr.l_name | titlecase}}</h5>
                                                <h5 class="text-dark h6 mb-0  text-muted">
                                                    Verified {{flr.member_type | titlecase}} Owner </h5>

                                            </div>
                                        </div>
                                    </div>
                                    <div class=" col-4  justify-content-end text-right">
                                        <h6 class="mb-0">
                                            <a data-target="tooltip" title="Block Member"
                                                (click)="openBlockMemberModal(blockMemberModal,flr.member_id)"> <i
                                                    class="material-icons icon-muted-negative md-21 cursor-pointer">
                                                    block
                                                </i> </a>
                                        </h6>
                                        <!-- <h6 class="mb-0"> <i class="material-icons mr-1 text-muted">check_circle_outline
                                            </i><small class="text-muted font-weight-semibold text-uppercase">Following
                                            </small> </h6> -->
                                    </div>

                                </div>


                                <!-- <div class="card-body p-0">
                                    <div class="py-3 px-3 ">
                                        <div class="media">

                                            <ngx-avatar class="mr-3" name="{{flr.f_name}} {{flr.l_name}}" [size]="40"
                                                src="">
                                            </ngx-avatar> 
                                            <div class="media-body mb-0">
                                                <h5 class="text-dark h6 mb-0 font-weight-semibold">
                                                    {{flr.f_name | titlecase}}
                                                    {{flr.l_name | titlecase}}</h5>
                                                <ul class="list-inline d-flex mb-0">
                                                    <li class="list-inline-item mb-1 h6 text-muted">
                                                        Verified {{flr.member_type | titlecase}} Owner
                                                    </li>
                                                    <div class="ml-auto d-inline-flex">
                                                        <li class="pull-right text-muted h6 text-uppercase">
                                                           <h6> <i class="material-icons mr-1 text-muted">check_circle_outline
                                                                </i> 
                                                             </h6>
                                                        </li>
                                                    </div>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>

                    <!-- <div class="row justify-content-between pb-3 ">

                        <div class="col-xl-6 col-md-6 col-sm-6 mb-4"
                            *ngFor="let flr of followerMembersList | filter:searchText">

                            <div class="card card-small blog-comments">

                                <div class="row p-3">
                                    <div class="col-8">
                                        <div class="media mb-0">

                                            <ngx-avatar class="mr-3" name="{{fml.f_name}} {{fml.l_name}}" [size]="40"
                                                src="">
                                            </ngx-avatar>

                                            <div class="media-body mb-0">
                                                <h5 class="text-dark h6 mb-1 font-weight-semibold">
                                                    {{fml.f_name | titlecase}}
                                                    {{fml.l_name | titlecase}}</h5>

                                                <h5 class="text-dark h6 mb-0  text-muted">
                                                    Verified {{fml.member_type | titlecase}} Owner </h5>

                                            </div>
                                        </div>
                                    </div>
                                    <div class=" col-4  justify-content-end text-right">
                                        <h6 class="mb-0">
                                            <a data-target="tooltip" title="Unfollow"
                                                (click)="unfollowMember(fml.member_id)"> <i
                                                    class="material-icons icon-muted-negative md-21 cursor-pointer">
                                                    remove_circle_outline
                                                </i> </a>
                                        </h6>
                                        <h6 class="mb-0"> <i class="material-icons mr-1 text-muted">check_circle_outline
                                            </i><small class="text-muted font-weight-semibold text-uppercase">Following
                                            </small> </h6>
                                    </div>
 
                            </div>
 
                        </div>
                    </div>
                </div> -->

                </div>
            </div>
        </div>

        <div class="tab-pane fade show mt-3" id="blockedUsers" role="tabpanel" aria-labelledby="home-tab"> 
            <div class="row justify-content-between ">
                <div class="col-md-12 col-xl-12">

                    <div class="row justify-content-center text-center py-4" *ngIf="blockedMembers?.length==0">
                        <div class="col-md-5 text-center col-12 col-xl-4">
                            <img src="assets/images/follow.png" class="" alt="New Neighbors Image" height="235px"
                                width="auto">
                        </div>
                        <div class="col-md-6 col-12 col-xl-6 px-4 text-left d-flex">
                            <div class="align-self-center">
                                <h6 class="text-secondary font-weight-semibold text-uppercase">No blocked Member's yet !</h6>
                                <h6 class="text-muted font-weight-semibold ">Here, you will be able to see all Members
                                    whom you have blocked.
                                </h6>
                            </div>
                        </div>
                    </div>

                    <div class="row justify-content-between pb-3 ">
                        <div class="col-xl-6 col-md-6 col-sm-6 mb-4"
                            *ngFor="let bl of blockedMembers | filter:searchText">

                            <div class="card card-small blog-comments">
                                <div class="row p-3">
                                    <div class="col-8">
                                        <div class="media mb-0">

                                            <ngx-avatar class="mr-3" name="{{bl?.f_name}} {{bl?.l_name}}" [size]="40"
                                                src="{{bl?.email_id}}">
                                            </ngx-avatar>

                                            <div class="media-body mb-0 cursor-pointer"
                                                (click)="goToMvestUserPage(bl?.email_id,bl?.member_id)">
                                                <h5 class="text-dark h6 mb-0 font-weight-semibold">
                                                    {{bl.f_name | titlecase}}
                                                    {{bl.l_name | titlecase}}</h5>
                                                <h5 class="text-dark h6 mb-0  text-muted">
                                                    Verified {{bl.member_type | titlecase}} Owner </h5>

                                            </div>
                                        </div>
                                    </div>
                                    <div class=" col-4  justify-content-end text-right">
                                        <h6 class="mb-0">
                                            <a data-target="tooltip" title="Unblock Member"
                                                (click)="openUnBlockMemberModal(unblockMemberModal,bl.member_id)"> <i
                                                    class="material-icons icon-muted-negative md-21 cursor-pointer">
                                                    block
                                                </i> </a>
                                        </h6>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>


    <ng-template #followNewUsers>

        <div class="modal-content" [formGroup]="followNewUsersForm">

            <div class="justify-content-end">
                <button aria-label="Close" type="button" class="close bg-accent " aria-hidden="true"
                    (click)="closeFollowNewUsersModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-row d-flex">
                    <div class="form-group col-3">
                        <h6 class="font-weight-semibold pr-3">First Name :</h6>
                        <input type="text" class="form-control" formControlName="firstName"
                            placeholder="Enter First Name"
                            [ngClass]="{ 'is-invalid': submitfollowNewUsersForm && g.firstName.errors }">
                        <div *ngIf="submitfollowNewUsersForm && g.firstName.errors" class="invalid-feedback">
                            <div *ngIf="g.firstName.errors.required">First Name is required.</div>
                        </div>
                    </div>

                    <div class="form-group col-3">
                        <h6 class="font-weight-semibold pr-3">Last Name :</h6>
                        <input type="text" class="form-control" formControlName="lastName" placeholder="Enter Last Name"
                            [ngClass]="{ 'is-invalid': submitfollowNewUsersForm && g.lastName.errors }">
                        <div *ngIf="submitfollowNewUsersForm && g.lastName.errors" class="invalid-feedback">
                            <div *ngIf="g.lastName.errors.required">Last Name is required.</div>
                        </div>
                    </div>


                    <div class="form-group col-3">
                        <h6 class="font-weight-semibold pr-3">City :</h6>
                        <input type="text" class="form-control" formControlName="city" placeholder="Enter City Name"
                            [ngClass]="{ 'is-invalid': submitfollowNewUsersForm && g.city.errors }">
                        <div *ngIf="submitfollowNewUsersForm && g.city.errors" class="invalid-feedback">
                            <div *ngIf="g.city.errors.required">City is required.</div>
                        </div>
                    </div>

                    <div class="form-group col-3  align-self-end">
                        <h6 class="font-weight-semibold pr-4"></h6>
                        <button routerLink="#" type="button" class="btn btn-accent"
                            (click)="searchMembersToFollow()">Search</button>
                    </div>
                    <!-- <div class="form-group col-4 ">
                    <h6 class="font-weight-semibold pr-3">City :</h6>
                    <select class="text-secondary form-control border" formControlName="city"
                        [ngClass]="{ 'is-invalid': submitfollowNewUsersForm && g.city.errors }"
                        (change)="searchMembersToFollow()">
                        <option value="Pune">Pune</option>
                    </select>
                    <div *ngIf="submitfollowNewUsersForm && g.city.errors" class="invalid-feedback">
                        <div *ngIf="g.city.errors.required">City is required.</div>
                    </div>
                </div> -->
                    <!-- <div   class="form-group col-12 text-left"> 
                                    <button routerLink="#" type="button" class="btn btn-accent" data-dismiss="modal" >Search</button>       
                                    </div>     -->
                </div>

                <hr *ngIf="noSearchedMembers || searchedMembersPresent">
                <flash-messages class="bg-accent text-center"></flash-messages>
                <div class="form-row " *ngIf="noSearchedMembers">
                    <div class="form-group col-12 text-center">
                        <h6 class="mb-0">Currently, There are no members for your search criteria...
                        </h6>
                    </div>
                </div>
                <div class="form-row " *ngIf="searchedMembersPresent">

                    <div class="form-group col-12">
                        <h6 class="font-weight-semibold mb-0">List of Searched Member :</h6>
                    </div>

                    <div class="form-group col-6" *ngFor="let sm of searchedMembers">
                        <div class="card shadow-none border ">
                            <div class="card-body p-0">
                                <div class="row p-3">
                                    <div class="col-md-8 col-sm-12">
                                        <div class="media mb-0">

                                            <ngx-avatar class="mr-3" name="{{sm?.f_name}} {{sm?.l_name}}" [size]="40"
                                                src="{{sm?.email_id}}">
                                            </ngx-avatar>

                                            <div class="media-body mb-0">
                                                <ul class="list-inline  mb-0">
                                                    <a href="#">
                                                        <h5 class="text-dark h6 mb-0 font-weight-semibold"
                                                            data-toggle="tooltip" title="Feature Coming Soon">
                                                            {{sm.f_name | titlecase}} {{sm.l_name | titlecase}}
                                                        </h5>
                                                    </a>
                                                    <li class="list-inline-item mb-0 h6 text-muted">
                                                        The Terminator of Texas
                                                    </li>
                                                    <!-- <li class="list-inline-item mb-1 font-weight-semibold small text-muted">
                                                            2.5 miles away
                                                        </li> -->
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div
                                        class="col-md-4 col-sm-12 align-items-center d-flex justify-content-end text-right">
                                        <h6 class="mb-0">
                                            <button type="button"
                                                class="mt-2 btn btn-accent align-self-center text-uppercase mr-2"
                                                (click)="followMember(sm)">Follow</button>
                                        </h6>
                                        <!-- <h6 class="mb-0">
                                                <button type="button"
                                                    class="mt-2 btn btn-outline-accent align-self-center text-uppercase" >Ignore</button>
                                            </h6> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="modal-footer">
                <button routerLink="#" type="button" class="btn btn-accent"
                    (click)="closeFollowNewUsersModal()">Done</button>
            </div>
        </div>

    </ng-template>


    <!-----------------------------------------Unfollow Modal----------------------------------------------------------------------->
    <ng-template #unfollowMemberModal>



        <div class="modal-body text-center p-3">
            <h6 class="text-secondary font-weight-semibold">Are you sure you want to stop following this member?</h6>
        </div>
        <div class="modal-footer border-0 pt-0 justify-content-center text-center">
            <!-- <button type="submit" class="btn btn-outline-accent btn-sm text-uppercase" (click)="deletePost()">Delete</button>   -->
            <button type="button" class="btn btn-outline-accent btn-sm text-uppercase"
                (click)="unfollowMember()">Unfollow</button>
            <button type="button" class="btn btn-accent btn-sm text-uppercase"
                (click)="closeUnfollowMemberModal()">Cancel</button>
        </div>


    </ng-template>

    <!-----------------------------------------End Unfollow Modal------------------------------------------------------------------->


    <!-----------------------------------------Block Modal----------------------------------------------------------------------->
    <ng-template #blockMemberModal>
        <div class="modal-body text-center p-3">
            <h6 class="text-secondary font-weight-semibold">Are you sure you want to block this member?</h6>
        </div>
        <div class="modal-footer border-0 pt-0 justify-content-center text-center">
            <button type="button" class="btn btn-outline-accent btn-sm text-uppercase"
                (click)="blockMember()">Block</button>
            <button type="button" class="btn btn-accent btn-sm text-uppercase"
                (click)="closeBlockMemberModal()">Cancel</button>
        </div>
    </ng-template>

    <!-----------------------------------------End Block Modal------------------------------------------------------------------->

    <!-----------------------------------------UnBlock Modal----------------------------------------------------------------------->
    <ng-template #unblockMemberModal>
        <div class="modal-body text-center p-3">
            <h6 class="text-secondary font-weight-semibold">Are you sure you want to Unblock this member?</h6>
        </div>
        <div class="modal-footer border-0 pt-0 justify-content-center text-center">
            <button type="button" class="btn btn-outline-accent btn-sm text-uppercase"
                (click)="unblockMember()">Unblock</button>
            <button type="button" class="btn btn-accent btn-sm text-uppercase"
                (click)="closeUnblockMemberModal()">Cancel</button>
        </div>
    </ng-template>

    <!-----------------------------------------End UnBlock Modal------------------------------------------------------------------->