<div class="main-content-container container-fluid px-4">
    <app-community></app-community>

    <div class="row justify-content-center">
        <div class="col-12">
            <div class="content-loading text-center" *ngIf="loading">
                <app-loadingcircle></app-loadingcircle>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-12 pb-1 pt-3">
            <ul class="nav nav-tabs sub-tab border-0" id="photos-tab" role="tablist">
                <li class="nav-item align-self-center">
                    <h5 class="text-dark mb-1 font-weight-bold mr-3 align-self-center">Following</h5>
                </li>
                <li class="nav-item align-self-center">
                    <a href="#following" class="nav-link text-muted font-weight-bold active" data-toggle="tab"
                        aria-selected="false">Following</a>
                </li>
                <li class="nav-item align-self-center">
                    <a href="#followers" class="nav-link text-muted font-weight-bold" data-toggle="tab" role="tab"
                        aria-controls="contact" aria-selected="false">Followers</a>
                </li>

                <li class="nav-item align-self-center ml-auto">


                    <a class="nav-link font-weight-bold dropdown-toggle" href="#" id="dropdownMenuLink"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        My Lists
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="#">All Lists</a>
                        <a class="dropdown-item" href="#">My Lists</a>
                        <a class="dropdown-item" href="#">Bookmarked Lists</a>
                        <a class="dropdown-item" href="#">Shared Lists</a>
                    </div>
                    <!-- <select>
                              <option value="0">All Posts</option>
                              <option value="10">Latest</option>
                              <option value="11">Yesterday</option> 
                            </select> -->

                    <!-- <select>
                        <option> <a class="dropdown-item">All Posts</a></option>
                        <option> <a class="dropdown-item" >Latest</a></option>
                        <option> <a class="dropdown-item" >Yesterday</a></option>
                    </select> -->

                    <!-- <span class="custom-dropdown">
                        <select clas="">
                            <option>All Posts</option>
                            <option>My Posts</option>  
                            <option>Bookmarked Posts</option>
                            <option>Shared Posts</option>
                          
                        </select>
                    </span>   -->
                </li>
                <div class="ml-auto d-inline-flex">
                    <li class="nav-item pull-right mr-3 align-self-center">
                        <a class="btn btn-outline-accent btn-sm btn-block text-uppercase " data-toggle="modal"
                            data-target=".photo-modal-lg">New List</a>
                    </li>
                    <li class="nav-item pull-right mr-3 align-self-center">
                        <a class="btn btn-outline-accent btn-sm btn-block text-uppercase "
                            (click)=openFollowNewUsersModal(followNewUsers)> Follow New Users </a>
                    </li>
                    <li class="nav-item pull-right mr-3 align-self-center">
                        <!-- <form   class="form-inline" role="form" 
                              > -->
                        <div class="input-group search">
                            <input type="text" class="form-control search-form" placeholder="Search">
                            <span class="input-group-btn">
                                <button type="submit" class="search-btn" data-target="#search-form" name="q">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>

                        </div>
                        <!-- </form> -->
                        <!-- <form action="" class="search-form">
                                <div class="form-group has-feedback">
                                    <label for="search" class="sr-only">Search</label>
                                    <input type="text" class="form-control" name="search" id="search" placeholder="search">
                                      <span class="glyphicon glyphicon-search form-control-feedback"></span>
                                    <span> <i class="fa fa-search"></i></span>
                                </div>
                            </form> -->
                    </li>

                </div>
            </ul>

        </div>

    </div>

    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active mt-3" id="following" role="tabpanel" aria-labelledby="home-tab">
            <div class="row justify-content-between no-gutters">
                <div class="col-md-6 col-xl-6">

                    <div class="row justify-content-between no-gutters pb-3 ">
                        <div class="col-xl-12 col-md-12 col-sm-12 mb-4">

                            <div class="card card-small blog-comments" *ngFor="let fml of followingMembersList">
                                <div class="card-body p-0">
                                    <div class="pt-3 px-3 pb-0">
                                        <div class="media">
                                            <img class="mr-3 user-pic rounded-circle mr-2"
                                                src="assets/images/avatars/0.jpg" alt="Generic placeholder image">
                                            <div class="media-body mb-0">
                                                <h5 class="text-dark h6 mb-0 font-weight-semibold">
                                                    {{fml.f_name | titlecase}}
                                                    {{fml.l_name | titlecase}}</h5>
                                                <ul class="list-inline d-flex mb-0">
                                                    <li class="list-inline-item mb-1 h6 text-muted">
                                                        Verified Mineral Owner
                                                    </li>
                                                    <div class="ml-auto d-inline-flex">
                                                        <li class="pull-right text-muted h6 text-uppercase">
                                                            <h6> <i class="material-icons mr-1 text-muted">check_circle_outline
                                                                </i><small
                                                                    class="text-muted font-weight-semibold text-uppercase">Following
                                                                </small> </h6>
                                                        </li>
                                                    </div>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- <div class="card card-small blog-comments mt-3">
                                <div class="card-body p-0">
                                    <div class="pt-3 px-3 pb-0">
                                        <div class="media">
                                            <img class="mr-3 user-pic rounded-circle mr-2"
                                                src="assets/images/avatars/1.jpg" alt="Generic placeholder image">
                                            <div class="media-body mb-0">
                                                <h5 class="text-dark h6 mb-0 font-weight-semibold">Tony Stark</h5>
                                                <ul class="list-inline d-flex mb-0">
                                                    <li class="list-inline-item mb-1 h6 text-muted">
                                                        Verified Mineral Owner
                                                    </li>
                                                    <div class="ml-auto d-inline-flex">
                                                        <li class="pull-right text-muted h6 text-uppercase">
                                                            <h6> <i class="material-icons mr-1 text-muted">check_circle_outline
                                                                </i><small
                                                                    class="text-muted font-weight-semibold text-uppercase">Following
                                                                </small> </h6>
                                                        </li>
                                                    </div>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card card-small blog-comments mt-3">
                                <div class="card-body p-0">
                                    <div class="pt-3 px-3 pb-0">
                                        <div class="media">
                                            <img class="mr-3 user-pic rounded-circle mr-2"
                                                src="assets/images/avatars/2.jpg" alt="Generic placeholder image">
                                            <div class="media-body mb-0">
                                                <h5 class="text-dark h6 mb-0 font-weight-semibold">John Doe</h5>
                                                <ul class="list-inline d-flex mb-0">
                                                    <li class="list-inline-item mb-1 h6 text-muted">
                                                        Verified Mineral Owner
                                                    </li>
                                                    <div class="ml-auto d-inline-flex">
                                                        <li class="pull-right text-muted h6 text-uppercase">
                                                            <h6> <i class="material-icons mr-1 text-muted">check_circle_outline
                                                                </i><small
                                                                    class="text-muted font-weight-semibold text-uppercase">Following
                                                                </small> </h6>
                                                        </li>
                                                    </div>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> -->

                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="tab-pane fade show" id="followers" role="tabpanel" aria-labelledby="home-tab">
            <div class="row justify-content-between no-gutters">
                <div class="col-md-12 col-xl-6">

                    <div class="row justify-content-between no-gutters pb-3 ">
                        <div class="col-xl-12 col-md-12 col-sm-12 mb-4">

                            <div class="card card-small blog-comments" *ngFor="let flr of followerMembersList">
                                <div class="card-body p-0">
                                    <div class="py-3 px-3 ">
                                        <div class="media">
                                            <img class="mr-3 user-pic rounded-circle mr-2"
                                                src="assets/images/avatars/7.png" alt="Generic placeholder image">
                                            <div class="media-body mb-0">
                                                <h5 class="text-dark h6 mb-0 font-weight-semibold">
                                                    {{flr.f_name | titlecase}}
                                                    {{flr.l_name | titlecase}}</h5>
                                                <ul class="list-inline d-flex mb-0">
                                                    <li class="list-inline-item mb-1 h6 text-muted">
                                                        Verified Mineral Owner
                                                    </li>
                                                    <div class="ml-auto d-inline-flex">
                                                        <li class="pull-right text-muted h6 text-uppercase">
                                                            <!-- <h6> <i class="material-icons mr-1 text-muted">check_circle_outline
                                                                </i>
                                                                 <small
                                                                    class="text-muted font-weight-semibold text-uppercase">Following
                                                                </small> 
                                                             </h6> -->
                                                        </li>
                                                    </div>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>


<ng-template #followNewUsers>

    <div class="modal-content" [formGroup]="followNewUsersForm">

        <div class="justify-content-end">
            <button aria-label="Close" type="button" class="close bg-accent " aria-hidden="true"
                (click)="closeFollowNewUsersModal()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-row ">
                <div class="form-group col-4">
                    <h6 class="font-weight-semibold pr-3">Search Member :</h6>
                    <input type="text" class="form-control" formControlName="searchMember"
                        placeholder="Enter Member Name">
                </div>
                <!-- <div   class="form-group col-4 "> 
                            <h6 class="font-weight-semibold pr-3">State:</h6> 
                                <select class="text-secondary form-control border">
                                    <option>Texas</option>
                                    <option>Texas</option>
                                    <option>Texas</option>
                                </select>
                            </div> -->
                <div class="form-group col-4 ">
                    <h6 class="font-weight-semibold pr-3">City :</h6>
                    <select class="text-secondary form-control border" formControlName="city">
                        <option>Rockwall</option>
                        <option>Karnes</option>
                        <option>Blanco</option>
                    </select>
                </div>
                <!-- <div   class="form-group col-12 text-left"> 
                                    <button routerLink="#" type="button" class="btn btn-accent" data-dismiss="modal" >Search</button>       
                                    </div>     -->
            </div>
            <hr>
            <div class="form-row ">
                <div class="form-group col-12">
                    <h6 class="font-weight-semibold mb-0">List of Searched Member :</h6>
                </div>
                <div class="form-group col-6">
                    <div class="card shadow-none border ">
                        <div class="card-body p-0">
                            <div class="row p-3">
                                <div class="col-md-8 col-sm-12">
                                    <div class="media mb-0">
                                        <!-- <div class="custom-control custom-checkbox mr-2">
                                                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                                                    <label class="custom-control-label" for="customCheck1"></label>
                                                  </div> -->
                                        <img class="mr-3 user-pic rounded-circle mr-2" src="assets/images/avatars/3.jpg"
                                            alt="Generic placeholder image">
                                        <div class="media-body mb-0">
                                            <ul class="list-inline  mb-0">
                                                <a href="#">
                                                    <h5 class="text-dark h6 mb-0 font-weight-semibold"
                                                        data-toggle="tooltip" title="Feature Coming Soon">Megan
                                                        Park
                                                    </h5>
                                                </a>
                                                <li class="list-inline-item mb-0 h6 text-muted">
                                                    The Terminator of Texas
                                                </li>
                                                <!-- <li class="list-inline-item mb-1 font-weight-semibold small text-muted">
                                                            2.5 miles away
                                                        </li> -->
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="col-md-4 col-sm-12 align-items-center d-flex justify-content-end text-right">
                                    <h6 class="mb-0">
                                        <button type="button"
                                            class="mt-2 btn btn-accent align-self-center text-uppercase mr-2">Follow</button>
                                    </h6>
                                    <!-- <h6 class="mb-0">
                                                <button type="button"
                                                    class="mt-2 btn btn-outline-accent align-self-center text-uppercase" >Ignore</button>
                                            </h6> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group col-6">
                    <div class="card shadow-none border ">
                        <div class="card-body p-0">
                            <div class="row p-3">
                                <div class="col-md-8 col-sm-12">
                                    <div class="media mb-0">
                                        <!-- <div class="custom-control custom-checkbox mr-2">
                                                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                                                    <label class="custom-control-label" for="customCheck1"></label>
                                                  </div> -->
                                        <img class="mr-3 user-pic rounded-circle mr-2" src="assets/images/avatars/3.jpg"
                                            alt="Generic placeholder image">
                                        <div class="media-body mb-0">
                                            <ul class="list-inline  mb-0">
                                                <a href="#">
                                                    <h5 class="text-dark h6 mb-0 font-weight-semibold"
                                                        data-toggle="tooltip" title="Feature Coming Soon">Megan
                                                        Park
                                                    </h5>
                                                </a>
                                                <li class="list-inline-item mb-0 h6 text-muted">
                                                    The Terminator of Texas
                                                </li>
                                                <!-- <li class="list-inline-item mb-1 font-weight-semibold small text-muted">
                                                            2.5 miles away
                                                        </li> -->
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="col-md-4 col-sm-12 align-items-center d-flex justify-content-end text-right">
                                    <h6 class="mb-0">
                                        <button type="button"
                                            class="mt-2 btn btn-accent align-self-center text-uppercase mr-2">Follow</button>
                                    </h6>
                                    <!-- <h6 class="mb-0">
                                                <button type="button"
                                                    class="mt-2 btn btn-outline-accent align-self-center text-uppercase" >Ignore</button>
                                            </h6> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group col-6">
                    <div class="card shadow-none border ">
                        <div class="card-body p-0">
                            <div class="row p-3">
                                <div class="col-md-8 col-sm-12">
                                    <div class="media mb-0">
                                        <!-- <div class="custom-control custom-checkbox mr-2">
                                                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                                                    <label class="custom-control-label" for="customCheck1"></label>
                                                  </div> -->
                                        <img class="mr-3 user-pic rounded-circle mr-2" src="assets/images/avatars/3.jpg"
                                            alt="Generic placeholder image">
                                        <div class="media-body mb-0">
                                            <ul class="list-inline  mb-0">
                                                <a href="#">
                                                    <h5 class="text-dark h6 mb-0 font-weight-semibold"
                                                        data-toggle="tooltip" title="Feature Coming Soon">Megan
                                                        Park
                                                    </h5>
                                                </a>
                                                <li class="list-inline-item mb-0 h6 text-muted">
                                                    The Terminator of Texas
                                                </li>
                                                <!-- <li class="list-inline-item mb-1 font-weight-semibold small text-muted">
                                                            2.5 miles away
                                                        </li> -->
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="col-md-4 col-sm-12 align-items-center d-flex justify-content-end text-right">
                                    <h6 class="mb-0">
                                        <button type="button"
                                            class="mt-2 btn btn-accent align-self-center text-uppercase mr-2">Follow</button>
                                    </h6>
                                    <!-- <h6 class="mb-0">
                                                <button type="button"
                                                    class="mt-2 btn btn-outline-accent align-self-center text-uppercase" >Ignore</button>
                                            </h6> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group col-6">
                    <div class="card shadow-none border ">
                        <div class="card-body p-0">
                            <div class="row p-3">
                                <div class="col-md-8 col-sm-12">
                                    <div class="media mb-0">
                                        <!-- <div class="custom-control custom-checkbox mr-2">
                                                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                                                    <label class="custom-control-label" for="customCheck1"></label>
                                                  </div> -->
                                        <img class="mr-3 user-pic rounded-circle mr-2" src="assets/images/avatars/3.jpg"
                                            alt="Generic placeholder image">
                                        <div class="media-body mb-0">
                                            <ul class="list-inline  mb-0">
                                                <a href="#">
                                                    <h5 class="text-dark h6 mb-0 font-weight-semibold"
                                                        data-toggle="tooltip" title="Feature Coming Soon">Megan
                                                        Park
                                                    </h5>
                                                </a>
                                                <li class="list-inline-item mb-0 h6 text-muted">
                                                    The Terminator of Texas
                                                </li>
                                                <!-- <li class="list-inline-item mb-1 font-weight-semibold small text-muted">
                                                            2.5 miles away
                                                        </li> -->
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="col-md-4 col-sm-12 align-items-center d-flex justify-content-end text-right">
                                    <h6 class="mb-0">
                                        <button type="button"
                                            class="mt-2 btn btn-accent align-self-center text-uppercase mr-2">Follow</button>
                                    </h6>
                                    <!-- <h6 class="mb-0">
                                                <button type="button"
                                                    class="mt-2 btn btn-outline-accent align-self-center text-uppercase" >Ignore</button>
                                            </h6> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group col-6">
                    <div class="card shadow-none border ">
                        <div class="card-body p-0">
                            <div class="row p-3">
                                <div class="col-md-8 col-sm-12">
                                    <div class="media mb-0">
                                        <!-- <div class="custom-control custom-checkbox mr-2">
                                                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                                                    <label class="custom-control-label" for="customCheck1"></label>
                                                  </div> -->
                                        <img class="mr-3 user-pic rounded-circle mr-2" src="assets/images/avatars/3.jpg"
                                            alt="Generic placeholder image">
                                        <div class="media-body mb-0">
                                            <ul class="list-inline  mb-0">
                                                <a href="#">
                                                    <h5 class="text-dark h6 mb-0 font-weight-semibold"
                                                        data-toggle="tooltip" title="Feature Coming Soon">Megan
                                                        Park
                                                    </h5>
                                                </a>
                                                <li class="list-inline-item mb-0 h6 text-muted">
                                                    The Terminator of Texas
                                                </li>
                                                <!-- <li class="list-inline-item mb-1 font-weight-semibold small text-muted">
                                                            2.5 miles away
                                                        </li> -->
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="col-md-4 col-sm-12 align-items-center d-flex justify-content-end text-right">
                                    <h6 class="mb-0">
                                        <button type="button"
                                            class="mt-2 btn btn-accent align-self-center text-uppercase mr-2">Follow</button>
                                    </h6>
                                    <!-- <h6 class="mb-0">
                                                <button type="button"
                                                    class="mt-2 btn btn-outline-accent align-self-center text-uppercase" >Ignore</button>
                                            </h6> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group col-6">
                    <div class="card shadow-none border ">
                        <div class="card-body p-0">
                            <div class="row p-3">
                                <div class="col-md-8 col-sm-12">
                                    <div class="media mb-0">
                                        <!-- <div class="custom-control custom-checkbox mr-2">
                                                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                                                    <label class="custom-control-label" for="customCheck1"></label>
                                                  </div> -->
                                        <img class="mr-3 user-pic rounded-circle mr-2" src="assets/images/avatars/3.jpg"
                                            alt="Generic placeholder image">
                                        <div class="media-body mb-0">
                                            <ul class="list-inline  mb-0">
                                                <a href="#">
                                                    <h5 class="text-dark h6 mb-0 font-weight-semibold"
                                                        data-toggle="tooltip" title="Feature Coming Soon">Megan
                                                        Park
                                                    </h5>
                                                </a>
                                                <li class="list-inline-item mb-0 h6 text-muted">
                                                    The Terminator of Texas
                                                </li>
                                                <!-- <li class="list-inline-item mb-1 font-weight-semibold small text-muted">
                                                            2.5 miles away
                                                        </li> -->
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="col-md-4 col-sm-12 align-items-center d-flex justify-content-end text-right">
                                    <h6 class="mb-0">
                                        <button type="button"
                                            class="mt-2 btn btn-accent align-self-center text-uppercase mr-2">Follow</button>
                                    </h6>
                                    <!-- <h6 class="mb-0">
                                                <button type="button"
                                                    class="mt-2 btn btn-outline-accent align-self-center text-uppercase" >Ignore</button>
                                            </h6> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <div class="modal-footer">
            <button routerLink="#" type="button" class="btn btn-accent" data-dismiss="modal">Done</button>
        </div>
    </div>

</ng-template>