<div class="main-content-container container-fluid px-4">

    <div class="row pb-3 pt-4">
        <div class="col-12">
            <!-- <nav> -->
            <!-- <div class="nav nav-tabs" id="nav-tab" role="tablist"> -->
            <!-- <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Home</a> -->
            <!-- <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Profile</a> -->
            <!-- <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Contact</a> -->
            <!-- </div> -->
            <!-- </nav> -->
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item align-self-center">
                    <h5 class="text-dark mb-0 font-weight-bold mr-3">Community</h5>
                </li>
                <li class="nav-item">
                    <a routerLink="/profile" class=" nav-link text-muted font-weight-bold" aria-controls="profile"
                        aria-selected="false">MY PROFILE</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/newsfeed" class="nav-link text-muted font-weight-bold" role="tab"
                        aria-controls="contact" aria-selected="false">NEWS FEED</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/discussions" class="nav-link text-muted font-weight-bold" role="tab"
                        aria-controls="contact" aria-selected="false">DISCUSSIONS</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/messages" class="nav-link text-muted font-weight-bold" role="tab"
                        aria-controls="contact" aria-selected="false">MESSAGES</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/requests" class="active nav-link text-muted font-weight-bold" role="tab"
                        aria-controls="contact" aria-selected="false">REQUESTS</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/index" class="nav-link text-muted font-weight-bold" role="tab"
                        aria-controls="contact" aria-selected="false">SETTINGS</a>
                </li>
                <li class="nav-item pull-right ml-auto align-self-center">
                    <a class="btn btn-accent btn-sm btn-block text-uppercase" data-target=".askquestion-modal-xl"
                        data-toggle="modal" href="#">
                        Ask a Question
                    </a>
                </li>
            </ul>


        </div>
    </div>

    <div class="row pb-3 pt-4">
        <div class="col-12">
            <ul class="nav nav-tabs" id="myTab" role="tablist">

                <li class="nav-item">
                    <a href="#connect" class="nav-link active text-muted font-weight-bold" data-toggle="tab"
                        role="tabpanel" aria-controls="profile" aria-selected="false">Request For Connect</a>
                </li>
                <li class="nav-item">
                    <a href="#following" class="nav-link text-muted font-weight-bold ml-3" id="contact-tab"
                        data-toggle="tab" role="tabpanel" aria-controls="contact" aria-selected="false">Request For
                        Following</a>
                </li>

            </ul>
        </div>
    </div>




    <!-- </div> -->
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="connect" role="tabpanel" aria-labelledby="home-tab">
            <!-- <div class="container container-fluid px-4"> -->
            <div class="row justify-content-between no-gutters pb-3 pt-4">
                <div class="col-md-12 col-xl-8">
                    <div class="row justify-content-between no-gutters pb-3 ">
                        <div class="col-xl-12 col-md-12 col-sm-12 mb-4">
                            <h6 class="list-inline-item h6 font-weight-semibold text-muted">Requests for connect</h6>
                            <div class="card card-small blog-comments">

                                <div class="card-body p-0">
                                    <div class="  p-1">
                                        <div class="media p-3">
                                            <img class="mr-3 user-pic rounded-circle mr-2"
                                                src="assets/images/avatars/7.png" alt="Generic placeholder image">
                                            <div class="media-body mb-0">


                                                <ul class="list-inline d-flex mb-0">
                                                    <li class="list-inline-item mb-1 h6 font-weight-semibold text-dark">
                                                        Megan Park
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a routerLink="#"><svg class="icon-muted-svg"
                                                                xmlns="http://www.w3.org/2000/svg" width="20"
                                                                height="20" viewBox="0 0 24 24">
                                                                <path
                                                                    d="M12 0c-4.198 0-8 3.403-8 7.602 0 4.198 3.469 9.21 8 16.398 4.531-7.188 8-12.2 8-16.398 0-4.199-3.801-7.602-8-7.602zm0 11c-1.657 0-3-1.343-3-3s1.343-3 3-3 3 1.343 3 3-1.343 3-3 3z" />
                                                                </svg></a>
                                                    </li>
                                                </ul>

                                                <ul class="list-inline d-flex mb-0">

                                                    <li
                                                        class="list-inline-item mb-1 h6 font-weight-semibold text-muted">
                                                        County
                                                        -
                                                    </li>
                                                    <li
                                                        class="list-inline-item mb-1 h6 font-weight-semibold text-muted">
                                                        10
                                                        miles
                                                        away
                                                    </li>

                                                    <div class="ml-auto d-inline-flex">
                                                        <li class="pull-right mr-3">
                                                            <a href="#"
                                                                class="btn btn-accent btn-sm btn-block text-uppercase">Connect</a>
                                                        </li>
                                                        <li class="pull-right">
                                                            <a href="#"
                                                                class="btn btn-outline-accent btn-sm btn-block text-uppercase ">Ignore</a>
                                                        </li>
                                                    </div>
                                                </ul>
                                                <ul class="list-inline d-flex mb-0">



                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>

                            <div class="card card-small blog-comments mt-3">

                                    <div class="card-body p-0">
                                        <div class="  p-1">
                                            <div class="media p-3">
                                                <img class="mr-3 user-pic rounded-circle mr-2"
                                                    src="assets/images/avatars/2.jpg" alt="Generic placeholder image">
                                                <div class="media-body mb-0">
    
    
                                                    <ul class="list-inline d-flex mb-0">
                                                        <li class="list-inline-item mb-1 h6 font-weight-semibold text-dark">
                                                            John Doe
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <a routerLink="#"><svg class="icon-muted-svg"
                                                                    xmlns="http://www.w3.org/2000/svg" width="20"
                                                                    height="20" viewBox="0 0 24 24">
                                                                    <path
                                                                        d="M12 0c-4.198 0-8 3.403-8 7.602 0 4.198 3.469 9.21 8 16.398 4.531-7.188 8-12.2 8-16.398 0-4.199-3.801-7.602-8-7.602zm0 11c-1.657 0-3-1.343-3-3s1.343-3 3-3 3 1.343 3 3-1.343 3-3 3z" />
                                                                    </svg></a>
                                                        </li>
                                                    </ul>
    
                                                    <ul class="list-inline d-flex mb-0">
    
                                                        <li
                                                            class="list-inline-item mb-1 h6 font-weight-semibold text-muted">
                                                            Operators
                                                            -
                                                        </li>
                                                        <li
                                                            class="list-inline-item mb-1 h6 font-weight-semibold text-muted">
                                                           60
                                                            miles
                                                            away
                                                        </li>
    
                                                        <div class="ml-auto d-inline-flex">
                                                            <li class="pull-right mr-3">
                                                                <a href="#"
                                                                    class="btn btn-accent btn-sm btn-block text-uppercase">Connect</a>
                                                            </li>
                                                            <li class="pull-right">
                                                                <a href="#"
                                                                    class="btn btn-outline-accent btn-sm btn-block text-uppercase ">Ignore</a>
                                                            </li>
                                                        </div>
                                                    </ul>
                                                    <ul class="list-inline d-flex mb-0">
    
    
    
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
    
                                    </div>
    
                                </div>

                                <div class="card card-small blog-comments mt-3">

                                        <div class="card-body p-0">
                                            <div class="  p-1">
                                                <div class="media p-3">
                                                    <img class="mr-3 user-pic rounded-circle mr-2"
                                                        src="assets/images/avatars/3.jpg" alt="Generic placeholder image">
                                                    <div class="media-body mb-0">
        
        
                                                        <ul class="list-inline d-flex mb-0">
                                                            <li class="list-inline-item mb-1 h6 font-weight-semibold text-dark">
                                                                Sam Jorden
                                                            </li>
                                                            <li class="list-inline-item">
                                                                <a routerLink="#"><svg class="icon-muted-svg"
                                                                        xmlns="http://www.w3.org/2000/svg" width="20"
                                                                        height="20" viewBox="0 0 24 24">
                                                                        <path
                                                                            d="M12 0c-4.198 0-8 3.403-8 7.602 0 4.198 3.469 9.21 8 16.398 4.531-7.188 8-12.2 8-16.398 0-4.199-3.801-7.602-8-7.602zm0 11c-1.657 0-3-1.343-3-3s1.343-3 3-3 3 1.343 3 3-1.343 3-3 3z" />
                                                                        </svg></a>
                                                            </li>
                                                        </ul>
        
                                                        <ul class="list-inline d-flex mb-0">
        
                                                            <li
                                                                class="list-inline-item mb-1 h6 font-weight-semibold text-muted">
                                                                Play Type
                                                                -
                                                            </li>
                                                            <li
                                                                class="list-inline-item mb-1 h6 font-weight-semibold text-muted">
                                                                40
                                                                miles
                                                                away
                                                            </li>
        
                                                            <div class="ml-auto d-inline-flex">
                                                                <li class="pull-right mr-3">
                                                                    <a href="#"
                                                                        class="btn btn-accent btn-sm btn-block text-uppercase">Connect</a>
                                                                </li>
                                                                <li class="pull-right">
                                                                    <a href="#"
                                                                        class="btn btn-outline-accent btn-sm btn-block text-uppercase ">Ignore</a>
                                                                </li>
                                                            </div>
                                                        </ul>
                                                        <ul class="list-inline d-flex mb-0">
        
        
        
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
        
                                        </div>
        
                                    </div>

                            <!-- <div class="card card-small blog-comments mt-3">

                                <div class="card-body p-0">
                                    <div class="  p-1">
                                        <div class="media p-3">
                                            <img class="mr-3 user-pic rounded-circle mr-2"
                                                src="assets/images/avatars/0.jpg" alt="Generic placeholder image">
                                            <div class="media-body mb-0">
                                                <h5 class="text-dark h6 mb-0 font-weight-semibold">Sierra Brooks</h5>

                                                <ul class="list-inline d-flex mb-0">

                                                    <li
                                                        class="list-inline-item mb-1 h6 font-weight-semibold text-muted">
                                                        County
                                                        -
                                                    </li>
                                                    <li
                                                        class="list-inline-item mb-1 h6 font-weight-semibold text-muted">
                                                        10
                                                        miles
                                                        away
                                                    </li>

                                                    <div class="ml-auto d-inline-flex">
                                                        <li class="pull-right mr-3">
                                                            <a href="#"
                                                                class="btn btn-accent btn-sm btn-block text-uppercase">Accept</a>
                                                        </li>
                                                        <li class="pull-right">
                                                            <a href="#"
                                                                class="btn btn-outline-accent btn-sm btn-block text-uppercase ">Ignore</a>
                                                        </li>
                                                    </div>
                                                </ul>
                                                <ul class="list-inline d-flex mb-0">



                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div> -->

                            <div class="card card-small blog-comments mt-3">

                                    <div class="card-body p-0">
                                        <div class="  p-1">
                                            <div class="media p-3">
                                                <img class="mr-3 user-pic rounded-circle mr-2"
                                                    src="assets/images/avatars/1.jpg" alt="Generic placeholder image">
                                                <div class="media-body mb-0">
    
    
                                                    <ul class="list-inline d-flex mb-0">
                                                        <li class="list-inline-item mb-1 h6 font-weight-semibold text-dark">
                                                            Tony Stark
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <a routerLink="#"><svg class="icon-muted-svg"
                                                                    xmlns="http://www.w3.org/2000/svg" width="20"
                                                                    height="20" viewBox="0 0 24 24">
                                                                    <path
                                                                        d="M12 0c-4.198 0-8 3.403-8 7.602 0 4.198 3.469 9.21 8 16.398 4.531-7.188 8-12.2 8-16.398 0-4.199-3.801-7.602-8-7.602zm0 11c-1.657 0-3-1.343-3-3s1.343-3 3-3 3 1.343 3 3-1.343 3-3 3z" />
                                                                    </svg></a>
                                                        </li>
                                                    </ul>
    
                                                    <ul class="list-inline d-flex mb-0">
    
                                                        <li
                                                            class="list-inline-item mb-1 h6 font-weight-semibold text-muted">
                                                           County
                                                            -
                                                        </li>
                                                        <li
                                                            class="list-inline-item mb-1 h6 font-weight-semibold text-muted">
                                                          120
                                                            miles
                                                            away
                                                        </li>
    
                                                        <div class="ml-auto d-inline-flex">
                                                            <li class="pull-right mr-3">
                                                                <a href="#"
                                                                    class="btn btn-accent btn-sm btn-block text-uppercase">Connect</a>
                                                            </li>
                                                            <li class="pull-right">
                                                                <a href="#"
                                                                    class="btn btn-outline-accent btn-sm btn-block text-uppercase ">Ignore</a>
                                                            </li>
                                                        </div>
                                                    </ul>
                                                    <ul class="list-inline d-flex mb-0">
    
    
    
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
    
                                    </div>
    
                                </div>
                            
                        </div>
                    </div>
                </div>



                <div class="col-xl-4">


                    <div class="col-xl-12 col-md-12 col-sm-12 mb-4">
                        <h6 class="list-inline-item h6 font-weight-semibold text-muted">Suggestions for connect</h6>

                        <div class="card card-small blog-comments">

                            <div class="card-body shadow p-0">
                                <div class="media d-flex align-items-center p-3">
                                    <img class="mr-3 user-pic rounded-circle mr-2" src="assets/images/avatars/0.jpg"
                                        alt="Generic placeholder image">
                                    <div class="media-body mb-0">
                                        <h5 class="text-dark h6 mb-0 font-weight-semibold">Karens County/Texas</h5>
                                    </div>
                                </div>

                                <div class="media d-flex align-items-center p-3">
                                    <img class="mr-3 user-pic rounded-circle mr-2" src="assets/images/avatars/1.jpg"
                                        alt="Generic placeholder image">
                                    <div class="media-body mb-0">
                                        <h5 class="text-dark h6 mb-0 font-weight-semibold">California counties</h5>
                                    </div>
                                </div>

                                <div class="media d-flex align-items-center p-3">
                                    <img class="mr-3 user-pic rounded-circle mr-2" src="assets/images/avatars/2.jpg"
                                        alt="Generic placeholder image">
                                    <div class="media-body mb-0">
                                        <h5 class="text-dark h6 mb-0 font-weight-semibold">Florida counties</h5>
                                    </div>
                                </div>
                                <div class="media d-flex align-items-center p-3">
                                    <img class="mr-3 user-pic rounded-circle mr-2" src="assets/images/avatars/3.jpg"
                                        alt="Generic placeholder image">
                                    <div class="media-body mb-0">
                                        <h5 class="text-dark h6 mb-0 font-weight-semibold">Kansas counties</h5>
                                    </div>
                                </div>
                                <div class="media d-flex align-items-center p-3">
                                    <img class="mr-3 user-pic rounded-circle mr-2" src="assets/images/avatars/6.jpg"
                                        alt="Generic placeholder image">
                                    <div class="media-body mb-0">
                                        <h5 class="text-dark h6 mb-0 font-weight-semibold">Mexico counties</h5>
                                    </div>
                                </div>
                            </div>


                            <div class="card-footer border-top">
                                <div class="row">
                                    <div class="col text-center view-report">
                                        <a href="" class="text-secondary font-weight-bold ">See All</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane fade show" id="following" role="tabpanel" aria-labelledby="home-tab">
            <!-- <div class="container container-fluid px-4"> -->
            <div class="row justify-content-between no-gutters pb-3 pt-4">
                <div class="col-md-12 col-xl-8">
                    <div class="row justify-content-between no-gutters pb-3 ">
                        <div class="col-xl-12 col-md-12 col-sm-12 mb-4">
                            <h6 class="list-inline-item h6 font-weight-semibold text-muted">Requests for Following</h6>
                            <div class="card card-small blog-comments mt-3">

                                    <div class="card-body p-0">
                                        <div class="  p-1">
                                            <div class="media p-3">
                                                <img class="mr-3 user-pic rounded-circle mr-2"
                                                    src="assets/images/avatars/1.jpg" alt="Generic placeholder image">
                                                <div class="media-body mb-0">
    
    
                                                    <ul class="list-inline d-flex mb-0">
                                                        <li class="list-inline-item mb-1 h6 font-weight-semibold text-dark">
                                                            Tony Stark
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <a routerLink="#"><svg class="icon-muted-svg"
                                                                    xmlns="http://www.w3.org/2000/svg" width="20"
                                                                    height="20" viewBox="0 0 24 24">
                                                                    <path
                                                                        d="M12 0c-4.198 0-8 3.403-8 7.602 0 4.198 3.469 9.21 8 16.398 4.531-7.188 8-12.2 8-16.398 0-4.199-3.801-7.602-8-7.602zm0 11c-1.657 0-3-1.343-3-3s1.343-3 3-3 3 1.343 3 3-1.343 3-3 3z" />
                                                                    </svg></a>
                                                        </li>
                                                    </ul>
    
                                                    <ul class="list-inline d-flex mb-0">
    
                                                        <li
                                                            class="list-inline-item mb-1 h6 font-weight-semibold text-muted">
                                                            Play Type
                                                            -
                                                        </li>
                                                        <li
                                                            class="list-inline-item mb-1 h6 font-weight-semibold text-muted">
                                                           70
                                                            miles
                                                            away
                                                        </li>
    
                                                        <div class="ml-auto d-inline-flex">
                                                            <li class="pull-right mr-3">
                                                                <a href="#"
                                                                    class="btn btn-accent btn-sm btn-block text-uppercase">Follow</a>
                                                            </li>
                                                            <li class="pull-right">
                                                                <a href="#"
                                                                    class="btn btn-outline-accent btn-sm btn-block text-uppercase ">Ignore</a>
                                                            </li>
                                                        </div>
                                                    </ul>
                                                    <ul class="list-inline d-flex mb-0">
    
    
    
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
    
                                    </div>
    
                                </div>

                                <div class="card card-small blog-comments mt-3">

                                        <div class="card-body p-0">
                                            <div class="  p-1">
                                                <div class="media p-3">
                                                    <img class="mr-3 user-pic rounded-circle mr-2"
                                                        src="assets/images/avatars/3.jpg" alt="Generic placeholder image">
                                                    <div class="media-body mb-0">
        
        
                                                        <ul class="list-inline d-flex mb-0">
                                                            <li class="list-inline-item mb-1 h6 font-weight-semibold text-dark">
                                                                Sam Jorden
                                                            </li>
                                                            <li class="list-inline-item">
                                                                <a routerLink="#"><svg class="icon-muted-svg"
                                                                        xmlns="http://www.w3.org/2000/svg" width="20"
                                                                        height="20" viewBox="0 0 24 24">
                                                                        <path
                                                                            d="M12 0c-4.198 0-8 3.403-8 7.602 0 4.198 3.469 9.21 8 16.398 4.531-7.188 8-12.2 8-16.398 0-4.199-3.801-7.602-8-7.602zm0 11c-1.657 0-3-1.343-3-3s1.343-3 3-3 3 1.343 3 3-1.343 3-3 3z" />
                                                                        </svg></a>
                                                            </li>
                                                        </ul>
        
                                                        <ul class="list-inline d-flex mb-0">
        
                                                            <li
                                                                class="list-inline-item mb-1 h6 font-weight-semibold text-muted">
                                                                Play Type
                                                                -
                                                            </li>
                                                            <li
                                                                class="list-inline-item mb-1 h6 font-weight-semibold text-muted">
                                                                40
                                                                miles
                                                                away
                                                            </li>
        
                                                            <div class="ml-auto d-inline-flex">
                                                                <li class="pull-right mr-3">
                                                                    <a href="#"
                                                                        class="btn btn-accent btn-sm btn-block text-uppercase">Follow</a>
                                                                </li>
                                                                <li class="pull-right">
                                                                    <a href="#"
                                                                        class="btn btn-outline-accent btn-sm btn-block text-uppercase ">Ignore</a>
                                                                </li>
                                                            </div>
                                                        </ul>
                                                        <ul class="list-inline d-flex mb-0">
        
        
        
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
        
                                        </div>
        
                                    </div>

                                    <div class="card card-small blog-comments mt-3">

                                            <div class="card-body p-0">
                                                <div class="  p-1">
                                                    <div class="media p-3">
                                                        <img class="mr-3 user-pic rounded-circle mr-2"
                                                            src="assets/images/avatars/2.jpg" alt="Generic placeholder image">
                                                        <div class="media-body mb-0">
            
            
                                                            <ul class="list-inline d-flex mb-0">
                                                                <li class="list-inline-item mb-1 h6 font-weight-semibold text-dark">
                                                                    John Doe
                                                                </li>
                                                                <li class="list-inline-item">
                                                                    <a routerLink="#"><svg class="icon-muted-svg"
                                                                            xmlns="http://www.w3.org/2000/svg" width="20"
                                                                            height="20" viewBox="0 0 24 24">
                                                                            <path
                                                                                d="M12 0c-4.198 0-8 3.403-8 7.602 0 4.198 3.469 9.21 8 16.398 4.531-7.188 8-12.2 8-16.398 0-4.199-3.801-7.602-8-7.602zm0 11c-1.657 0-3-1.343-3-3s1.343-3 3-3 3 1.343 3 3-1.343 3-3 3z" />
                                                                            </svg></a>
                                                                </li>
                                                            </ul>
            
                                                            <ul class="list-inline d-flex mb-0">
            
                                                                <li
                                                                    class="list-inline-item mb-1 h6 font-weight-semibold text-muted">
                                                                   counties
                                                                    -
                                                                </li>
                                                                <li
                                                                    class="list-inline-item mb-1 h6 font-weight-semibold text-muted">
                                                                    120
                                                                    miles
                                                                    away
                                                                </li>
            
                                                                <div class="ml-auto d-inline-flex">
                                                                    <li class="pull-right mr-3">
                                                                        <a href="#"
                                                                            class="btn btn-accent btn-sm btn-block text-uppercase">Follow</a>
                                                                    </li>
                                                                    <li class="pull-right">
                                                                        <a href="#"
                                                                            class="btn btn-outline-accent btn-sm btn-block text-uppercase ">Ignore</a>
                                                                    </li>
                                                                </div>
                                                            </ul>
                                                            <ul class="list-inline d-flex mb-0">
            
            
            
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
            
                                            </div>
            
                                        </div>

                          
                        </div>
                    </div>
                </div>



                <div class="col-xl-4">


                    <div class="col-xl-12 col-md-12 col-sm-12 mb-4">
                        <h6 class="list-inline-item h6 font-weight-semibold text-muted">Suggestions for Following</h6>

                        <div class="card card-small blog-comments">

                            <div class="card-body shadow p-0">
                                <div class="media d-flex align-items-center p-3">
                                    <img class="mr-3 user-pic rounded-circle mr-2" src="assets/images/avatars/1.jpg"
                                        alt="Generic placeholder image">
                                    <div class="media-body mb-0">
                                        <h5 class="text-dark h6 mb-0 font-weight-semibold">Karens County/Texas</h5>
                                    </div>
                                </div>

                                <div class="media d-flex align-items-center p-3">
                                    <img class="mr-3 user-pic rounded-circle mr-2" src="assets/images/avatars/0.jpg"
                                        alt="Generic placeholder image">
                                    <div class="media-body mb-0">
                                        <h5 class="text-dark h6 mb-0 font-weight-semibold">Mexico counties</h5>
                                    </div>
                                </div>

                                <div class="media d-flex align-items-center p-3">
                                    <img class="mr-3 user-pic rounded-circle mr-2" src="assets/images/avatars/2.jpg"
                                        alt="Generic placeholder image">
                                    <div class="media-body mb-0">
                                        <h5 class="text-dark h6 mb-0 font-weight-semibold">New York counties</h5>
                                    </div>
                                </div>
                                <div class="media d-flex align-items-center p-3">
                                    <img class="mr-3 user-pic rounded-circle mr-2" src="assets/images/avatars/3.jpg"
                                        alt="Generic placeholder image">
                                    <div class="media-body mb-0">
                                        <h5 class="text-dark h6 mb-0 font-weight-semibold">Oklahoma counties</h5>
                                    </div>
                                </div>
                                
                            </div>


                            <div class="card-footer border-top">
                                <div class="row">
                                    <div class="col text-center view-report">
                                        <a href="" class="text-secondary font-weight-bold ">See All</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="modal fade askquestion-modal-xl" tabindex="-1" role="dialog" aria-labelledby="askquestion-modal" aria-hidden="true">
            <div class="modal-dialog modal-lg bg-white shadow">
             <form action="/action_page.php" class="needs-validation" novalidate>
              <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title">Ask a Question</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                
                <div class="modal-body">
                    <div class="card shadow-none">
                      <div class="row">
                          <div class="col-6">
                        <!-- <form  class="form-inline" id="search-form">
                          <div  class="input-group col-12">
                            <input class="form-control search-form" placeholder="Search" type="text"><span _ngcontent-vxk-c4="" class="input-group-btn"><button _ngcontent-vxk-c4="" class="search-btn" type="submit">
                          <i class="fa fa-search"></i>
                        </button>
                      </span>
                    </div>
                  </form> -->
                  <form>
                     <div class="form-group">
                      <label for="title">Discussion Title :</label>
                      <input type="text" class="form-control" id="title" placeholder="">
                    </div>
                    
                      
                          <label for="exampleFormControlTextarea1">Your Message :</label>
                          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              
                      </form>
                      </div>
                      <div class="col-6">
                          <div class="form-group">
                              <div class="card border  bg-light shadow-none rounded-0">
                                  <div class="card-header border-bottom-white py-2 rounded-0">
                                      <h5 class="h6 font-weight-normal mb-0">Similar Questions</h5>
                                  </div>
                                  <div class="card-body pt-1 px-0">
                                      <div class="media d-flex border-bottom-white border-bottom-white py-2">
                                               
                                          <!-- <img class="mr-2 user-pic rounded-circle mr-2" src="assets/images/avatars/0.jpg"
                                        alt="Generic placeholder image"> -->
                                          <div class="media-body mb-0 px-4">
                                              <div class=" align-self-center">
                                                  <small class="mb-0 text-dark h6 font-weight-semibold">Q1. What is the Lease offer for mineral rights in eddy county</small>
                                                  <small class="text-dark mb-0">
                                                      Lorem ipsum dolor sit amet, consectetur adipiscing eiu..   
                                                  </small> 
                                                  <!-- <h5  class="text-muted h6 mb-0 ml-auto small text-right">May 3 at 8:30pm</h5>   -->
                                                </div> 
                                          </div>
                                        </div>
                                        <div class="media d-flex border-bottom-white py-3">
                                            <div class="media-body mb-0 px-4">
                                                <div class=" align-self-center">
                                                    <small class="mb-0 text-dark h6 font-weight-semibold">Q1. What is the Lease offer for mineral rights in eddy county</small>
                                                    <small class="text-dark mb-0">
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing eiu..   
                                                    </small> 
                                                    
                                                  </div> 
                                            </div>
                                          </div>
                                   </div>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-accent btn-sm text-uppercase" data-dismiss="modal">Post</button>
                  <button type="button" class="btn btn-outline-accent btn-sm text-uppercase" data-dismiss="modal">Cancel</button>
                </div>
              </div>
                </form>
            </div>
          </div>