<div class="main-content-container container-fluid px-4">
  <div class="row pb-3 pt-4">
    <div class="col-12">

      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item align-self-center">
          <h5 class="text-dark mb-0 font-weight-bold mr-3">Community</h5>
        </li>
        <li class="nav-item">
          <a routerLink="/profile" class="nav-link text-muted font-weight-bold " aria-controls="profile"
            aria-selected="false">MY PROFILE</a>
        </li>
        <!-- <li class="nav-item">
          <a routerLink="/newsfeed" class="nav-link text-muted font-weight-bold" role="tab" aria-controls="contact"
            aria-selected="false">NEWS FEED</a>
        </li> -->
        <li class="nav-item">
          <a routerLink="/discussions" class="nav-link text-muted font-weight-bold" role="tab" aria-controls="contact"
            aria-selected="false">DISCUSSIONS</a>
        </li>
        <li class="nav-item">
          <a routerLink="/messages" class="nav-link text-muted font-weight-bold active" role="tab"
            aria-controls="contact" aria-selected="false">MESSAGES</a>
        </li>
        <!-- <li class="nav-item">
          <a href="#contact" class="nav-link text-muted font-weight-bold" role="tab" aria-controls="contact"
            aria-selected="false">SETTINGS</a>
        </li> -->
        <li class="nav-item pull-right ml-auto align-self-center">
          <a class="btn btn-accent btn-sm btn-block text-uppercase" data-target=".askquestion-modal-xl"
            data-toggle="modal" href="#">
            Ask a Question
          </a>
        </li>
      </ul>


    </div>
  </div>

  <div class="row justify-content-between no-gutters  pb-3 pt-4">
    <div class="col-md-12 col-xl-12">
      <div class="row justify-content-between no-gutters">
        <div class="col-md-12 col-xl-5">

          <ul class="list-inline d-flex mb-1">
            <li class="list-inline-item h6   text-muted">Messages</li>
            <!-- <li class="list-inline-item h6 text-muted ml-auto">
              <small class="font-weight-semibold">New Messages</small>
            </li> -->
            <li class="list-inline-item h6 ml-auto text-muted"></li>
            <li class="pull-right mr-3">
              <a class="btn btn-accent btn-sm btn-block text-uppercase" data-toggle="modal"
                data-target=".newmessage-modal-lg" (click)=getAllMemberNeighbors()>
                New Message</a>
            </li>
          </ul>

          <div class="row justify-content-center text-center gutters-1 py-3" *ngIf="threads?.length==0">
            <div class="col-md-3 text-center col-3 col-xl-3 py-5 ">
              <img src="assets/images/new-neighbors3.png" class="" alt="New Neighbors Image" height="250px"
                width="auto">
            </div>
            <div class="col-md-6 text-left col-6 col-xl-6  px-4 d-flex">
              <div class="align-self-center">
                <h6 class="text-secondary font-weight-semibold text-uppercase">No Threads found!</h6>
              </div>
            </div>
          </div>

          <!-- Thread containser starts -->
          <div class="card ">

            <div class="card-body card-selected p-0 cursor-pointer" (click)="loadThreadInChatCenter(thread)"
              *ngFor="let thread of threads">
              <div>
                <div class=" border-bottom p-1">
                  <div class="media p-3" [id]="thread.threadDocId">
                    <img class="mr-3 user-pic rounded-circle mr-2" src="assets/images/avatars/0.jpg"
                      alt="Generic placeholder image">
                    <div class="media-body mb-0">
                      <h5 class="text-dark h6 mb-0 font-weight-semibold truncate">{{thread.threadName || thread.threadDocId}}
                      </h5>

                      <ul class="list-inline d-flex mb-0">

                        <li class="list-inline-item mb-1 h6 truncate text-muted">
                          {{
                            
                            thread.lastMessage
                        }}
                        </li>

                      </ul>
                    </div>
                    <span *ngIf="thread.unreadCount>0"
                      class="badge badge-pill btn-accent btn-sm">{{thread.unreadCount}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-7">
          <div class="col-xl-12 col-md-12 col-sm-12 mb-4 ">
            <ul class="list-inline d-flex mb-1">
              <li class="list-inline-item h6  text-muted truncate">{{threadName}}</li>
              <div class="ml-auto d-inline-flex">
                <a routerLink="#">
                  <li class="list-inline-item h6 mr-3 text-muted ">
                    <small class="font-weight-semibold">Block User</small>
                  </li>
                </a>
                <a routerLink="#">
                  <li class="list-inline-item h6  text-muted "><small class="font-weight-semibold">Delete
                      Conversation</small></li>
                </a>
              </div>
            </ul>

            <div>

              <!-- MessageCenter starts -->
              <div class="card card-small shadow blog-comments">
                <form> 
                  <!-- <div class="card-header py-2 border-bottom">
                    <div class="media d-flex px-3 pb-1">

                      <img class="mr-2 user-pic rounded-circle mr-2" src="assets/images/avatars/0.jpg"
                        alt="Generic placeholder image">
                      <div class="media-body align-self-center mb-0">
                        <div class=" align-self-center px-3">
                          <small class="mb-0 h6 text-dark font-weight-semibold truncate">{{threadName}}</small>
                        </div>
                      </div>
                    </div>
                  </div> -->
                  <div class="card-body pb-2 text-break">
                    <div class="row justify-content-center text-center gutters-1 py-3" *ngIf="!selectedThread">
                      <div class="col-md-5 text-center col-3 col-xl-5 py-5 ">
                        <img src="assets/images/new-neighbors3.png" class="" alt="New Neighbors Image" height="250px"
                          width="auto">
                      </div>
                      <div class="col-md-6 text-left col-6 col-xl-6  px-4 d-flex">
                        <div class="align-self-center">
                          <h6 class="text-secondary font-weight-semibold text-uppercase">No message history found!</h6>
                        </div>
                      </div>
                    </div>

                    <div id="chat-window" #scrollMe [scrollTop]="scrollMe.scrollHeight" *ngIf="selectedThread">
                      <div *ngFor="let message of selectedThread.messages">

                        <!-- Participant Message start-->
                        <div class="media d-flex px-3 pb-1" *ngIf="message.from.userEmailId != loggedInUser.email_id">

                          <img class="mr-2 user-pic rounded-circle mr-2" src="assets/images/avatars/0.jpg"
                            alt="Generic placeholder image">
                          <div class="media-body   mb-0">
                            <div class=" align-self-center px-3" *ngIf="!isThreadOneToOne(selectedThread)">
                              <small class="mb-0 text-dark font-weight-semibold">{{message.from.userName}}</small>
                            </div>
                            <div class="bg-light align-self-center rounded-message px-3 py-2">
                              <p class="text-muted mb-0">
                                {{message.message}}
                              </p>
                            </div>
                            <div class="align-self-center  px-3">

                              <h5 class="text-muted mb-0 font-weight-normal small">
                                {{message.timeStamp | date:'short':'UTC'}}</h5>
                            </div>
                          </div>
                        </div>
                        <!-- Participant Message End-->

                        <!-- Self message start-->
                        <div *ngIf="message.from.userEmailId == loggedInUser.email_id">
                          <div class="mb-0 d-flex pt-1 justify-content-end">
                            <div class="bg-accent  py-2 align-self-end text-left rounded-message px-3">
                              <p class=" mb-0 ">
                                {{message.message}}
                              </p>
                            </div>
                          </div>
                          <div class="mb-0 d-flex  justify-content-end  pb-2">
                            <div class="align-self-center px-3 d-block">
                              <h5 class="text-muted mb-0 font-weight-normal small">
                                {{message.timeStamp | date:'short':'UTC'}} </h5>
                            </div>
                          </div>
                        </div>
                        <!-- Self message End-->
                      </div>
                    </div>
                    <!-- Message text box Start-->
                    <div class="media border-top d-flex align-items-center px-3 mt-4 pt-2" *ngIf="threadName!=null">
                      <span><i *ngIf="typingData?.length!=null" class="isTyping">{{typingData.userName}}
                          typing...</i></span>
                      <div class="media-body mb-0">
                        <div class="align-self-center rounded-5 px-3">
                          <input class="form-control border-0  rounded-5 bg-light w-100 form-control-lg"
                            (ng-keypress)="typing()" placeholder="Write a Comment" type="text"
                            (keyup.enter)="sendMessage($event)">
                          </div>
                            <!-- <div class="ml-auto ">
                            <a href="#" class="btn btn-outline-accent  btn-sm btn-block text-uppercase">View </a>
                            </div> -->
                       
                        <!-- <div class="ml-auto">
                          <h6 class="p-2 bg-accent">hehe</h6>
                        </div> -->
                      </div>
                    </div>
                    <!-- Message text box End-->
                  </div>
                </form>
              </div>




            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


<!-- modals -->

<div class="modal fade newmessage-modal-lg" tabindex="-1" role="dialog" aria-labelledby="newmessage-modal"
  aria-hidden="true">
  <div class="modal-dialog modal-md bg-white shadow">
    <form action="/action_page.php" class="needs-validation" novalidate>
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">New Message List</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body px-1">
          <div class="card shadow-none">
            <form class="form-inline" id="search-form">
              <div class="input-group col-12">
                <input class="form-control search-form" placeholder="Search" type="text"><span _ngcontent-vxk-c4=""
                  class="input-group-btn"><button _ngcontent-vxk-c4="" class="search-btn" type="submit">
                    <i class="fa fa-search"></i>
                  </button>
                </span>
              </div>
            </form>
            <form>
              <div class="card-body pt-3 " *ngFor="let member of members">
                <div class="border-bottom p-1">
                  <div class="media d-flex align-items-center py-2">
                    <img alt="Generic placeholder image" class="mr-3 user-pic rounded-circle mr-2"
                      src="assets/images/avatars/2.jpg">
                    <div class="media-body d-flex mb-0">
                      <h5 class="text-dark h6 mb-0 font-weight-semibold align-self-center">
                        {{member.name}}
                      </h5>
                      <!-- <div class="ml-auto">
                            <button type="button" class="btn btn-accent btn-sm text-uppercase">Message</button>
                          </div> -->
                    </div>
                    <div class="checkbox">
                      <input type="checkbox" id="{{member.neighbor_id}}" (change)="selectMembersToChat($event,member)">
                      <label for="{{member.neighbor_id}}"></label>
                    </div>
                  </div>
                </div>

              </div>
            </form>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-accent btn-sm text-uppercase" data-dismiss="modal"
            (click)="initiateNewThread()">Message</button>
          <button type="button" class="btn btn-outline-accent btn-sm text-uppercase"
            data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="modal fade askquestion-modal-xl" tabindex="-1" role="dialog" aria-labelledby="askquestion-modal"
  aria-hidden="true">
  <div class="modal-dialog modal-lg bg-white shadow">
    <form action="/action_page.php" class="needs-validation" novalidate>
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Ask a Question</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <div class="card shadow-none">
            <div class="row">
              <div class="col-8">
                <!-- <form  class="form-inline" id="search-form">
                  <div  class="input-group col-12">
                    <input class="form-control search-form" placeholder="Search" type="text"><span _ngcontent-vxk-c4="" class="input-group-btn"><button _ngcontent-vxk-c4="" class="search-btn" type="submit">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
          </form> -->
                <form>
                  <div class="form-group">
                    <label for="title">Discussion Title :</label>
                    <input type="text" class="form-control" id="title" placeholder="">
                  </div>
                  <!-- <div class="add-new-post">
              <input class="form-control form-control-lg mb-3" type="text" placeholder="Your Post Title">
            </div> -->

                  <form>
                    <!-- <input class="form-control form-control-lg mb-3" type="text" placeholder="Your Post Title"> -->
                    <div class="ql-toolbar ql-snow"><span class="ql-formats"><span class="ql-header ql-picker"><span
                            class="ql-picker-label" tabindex="0" role="button" aria-expanded="false"
                            aria-controls="ql-picker-options-0"><svg viewBox="0 0 18 18">
                              <polygon class="ql-stroke" points="7 11 9 13 11 11 7 11"></polygon>
                              <polygon class="ql-stroke" points="7 7 9 5 11 7 7 7"></polygon>
                            </svg></span><span class="ql-picker-options" aria-hidden="true" tabindex="-1"
                            id="ql-picker-options-0"><span tabindex="0" role="button" class="ql-picker-item"
                              data-value="1"></span><span tabindex="0" role="button" class="ql-picker-item"
                              data-value="2"></span><span tabindex="0" role="button" class="ql-picker-item"
                              data-value="3"></span><span tabindex="0" role="button" class="ql-picker-item"
                              data-value="4"></span><span tabindex="0" role="button" class="ql-picker-item"
                              data-value="5"></span><span tabindex="0" role="button"
                              class="ql-picker-item ql-selected"></span></span></span><select class="ql-header"
                          style="display: none;">
                          <option value="1"></option>
                          <option value="2"></option>
                          <option value="3"></option>
                          <option value="4"></option>
                          <option value="5"></option>
                          <option selected="selected"></option>
                        </select></span><span class="ql-formats"><button type="button" class="ql-bold"><svg
                            viewBox="0 0 18 18">
                            <path class="ql-stroke"
                              d="M5,4H9.5A2.5,2.5,0,0,1,12,6.5v0A2.5,2.5,0,0,1,9.5,9H5A0,0,0,0,1,5,9V4A0,0,0,0,1,5,4Z">
                            </path>
                            <path class="ql-stroke"
                              d="M5,9h5.5A2.5,2.5,0,0,1,13,11.5v0A2.5,2.5,0,0,1,10.5,14H5a0,0,0,0,1,0,0V9A0,0,0,0,1,5,9Z">
                            </path>
                          </svg></button><button type="button" class="ql-italic"><svg viewBox="0 0 18 18">
                            <line class="ql-stroke" x1="7" x2="13" y1="4" y2="4"></line>
                            <line class="ql-stroke" x1="5" x2="11" y1="14" y2="14"></line>
                            <line class="ql-stroke" x1="8" x2="10" y1="14" y2="4"></line>
                          </svg></button><button type="button" class="ql-underline"><svg viewBox="0 0 18 18">
                            <path class="ql-stroke" d="M5,3V9a4.012,4.012,0,0,0,4,4H9a4.012,4.012,0,0,0,4-4V3"></path>
                            <rect class="ql-fill" height="1" rx="0.5" ry="0.5" width="12" x="3" y="15"></rect>
                          </svg></button><button type="button" class="ql-strike"><svg viewBox="0 0 18 18">
                            <line class="ql-stroke ql-thin" x1="15.5" x2="2.5" y1="8.5" y2="9.5"></line>
                            <path class="ql-fill"
                              d="M9.007,8C6.542,7.791,6,7.519,6,6.5,6,5.792,7.283,5,9,5c1.571,0,2.765.679,2.969,1.309a1,1,0,0,0,1.9-.617C13.356,4.106,11.354,3,9,3,6.2,3,4,4.538,4,6.5a3.2,3.2,0,0,0,.5,1.843Z">
                            </path>
                            <path class="ql-fill"
                              d="M8.984,10C11.457,10.208,12,10.479,12,11.5c0,0.708-1.283,1.5-3,1.5-1.571,0-2.765-.679-2.969-1.309a1,1,0,1,0-1.9.617C4.644,13.894,6.646,15,9,15c2.8,0,5-1.538,5-3.5a3.2,3.2,0,0,0-.5-1.843Z">
                            </path>
                          </svg></button></span><span class="ql-formats"><button type="button"
                          class="ql-blockquote"><svg viewBox="0 0 18 18">
                            <rect class="ql-fill ql-stroke" height="3" width="3" x="4" y="5"></rect>
                            <rect class="ql-fill ql-stroke" height="3" width="3" x="11" y="5"></rect>
                            <path class="ql-even ql-fill ql-stroke" d="M7,8c0,4.031-3,5-3,5"></path>
                            <path class="ql-even ql-fill ql-stroke" d="M14,8c0,4.031-3,5-3,5"></path>
                          </svg></button><button type="button" class="ql-code-block"><svg viewBox="0 0 18 18">
                            <polyline class="ql-even ql-stroke" points="5 7 3 9 5 11"></polyline>
                            <polyline class="ql-even ql-stroke" points="13 7 15 9 13 11"></polyline>
                            <line class="ql-stroke" x1="10" x2="8" y1="5" y2="13"></line>
                          </svg></button></span><span class="ql-formats"><button type="button" class="ql-header"
                          value="1"><svg viewBox="0 0 18 18">
                            <path class="ql-fill"
                              d="M10,4V14a1,1,0,0,1-2,0V10H3v4a1,1,0,0,1-2,0V4A1,1,0,0,1,3,4V8H8V4a1,1,0,0,1,2,0Zm6.06787,9.209H14.98975V7.59863a.54085.54085,0,0,0-.605-.60547h-.62744a1.01119,1.01119,0,0,0-.748.29688L11.645,8.56641a.5435.5435,0,0,0-.022.8584l.28613.30762a.53861.53861,0,0,0,.84717.0332l.09912-.08789a1.2137,1.2137,0,0,0,.2417-.35254h.02246s-.01123.30859-.01123.60547V13.209H12.041a.54085.54085,0,0,0-.605.60547v.43945a.54085.54085,0,0,0,.605.60547h4.02686a.54085.54085,0,0,0,.605-.60547v-.43945A.54085.54085,0,0,0,16.06787,13.209Z">
                            </path>
                          </svg></button><button type="button" class="ql-header" value="2"><svg viewBox="0 0 18 18">
                            <path class="ql-fill"
                              d="M16.73975,13.81445v.43945a.54085.54085,0,0,1-.605.60547H11.855a.58392.58392,0,0,1-.64893-.60547V14.0127c0-2.90527,3.39941-3.42187,3.39941-4.55469a.77675.77675,0,0,0-.84717-.78125,1.17684,1.17684,0,0,0-.83594.38477c-.2749.26367-.561.374-.85791.13184l-.4292-.34082c-.30811-.24219-.38525-.51758-.1543-.81445a2.97155,2.97155,0,0,1,2.45361-1.17676,2.45393,2.45393,0,0,1,2.68408,2.40918c0,2.45312-3.1792,2.92676-3.27832,3.93848h2.79443A.54085.54085,0,0,1,16.73975,13.81445ZM9,3A.99974.99974,0,0,0,8,4V8H3V4A1,1,0,0,0,1,4V14a1,1,0,0,0,2,0V10H8v4a1,1,0,0,0,2,0V4A.99974.99974,0,0,0,9,3Z">
                            </path>
                          </svg></button></span><span class="ql-formats"><button type="button" class="ql-list"
                          value="ordered"><svg viewBox="0 0 18 18">
                            <line class="ql-stroke" x1="7" x2="15" y1="4" y2="4"></line>
                            <line class="ql-stroke" x1="7" x2="15" y1="9" y2="9"></line>
                            <line class="ql-stroke" x1="7" x2="15" y1="14" y2="14"></line>
                            <line class="ql-stroke ql-thin" x1="2.5" x2="4.5" y1="5.5" y2="5.5"></line>
                            <path class="ql-fill"
                              d="M3.5,6A0.5,0.5,0,0,1,3,5.5V3.085l-0.276.138A0.5,0.5,0,0,1,2.053,3c-0.124-.247-0.023-0.324.224-0.447l1-.5A0.5,0.5,0,0,1,4,2.5v3A0.5,0.5,0,0,1,3.5,6Z">
                            </path>
                            <path class="ql-stroke ql-thin"
                              d="M4.5,10.5h-2c0-.234,1.85-1.076,1.85-2.234A0.959,0.959,0,0,0,2.5,8.156"></path>
                            <path class="ql-stroke ql-thin"
                              d="M2.5,14.846a0.959,0.959,0,0,0,1.85-.109A0.7,0.7,0,0,0,3.75,14a0.688,0.688,0,0,0,.6-0.736,0.959,0.959,0,0,0-1.85-.109">
                            </path>
                          </svg></button><button type="button" class="ql-list" value="bullet"><svg viewBox="0 0 18 18">
                            <line class="ql-stroke" x1="6" x2="15" y1="4" y2="4"></line>
                            <line class="ql-stroke" x1="6" x2="15" y1="9" y2="9"></line>
                            <line class="ql-stroke" x1="6" x2="15" y1="14" y2="14"></line>
                            <line class="ql-stroke" x1="3" x2="3" y1="4" y2="4"></line>
                            <line class="ql-stroke" x1="3" x2="3" y1="9" y2="9"></line>
                            <line class="ql-stroke" x1="3" x2="3" y1="14" y2="14"></line>
                          </svg></button></span><span class="ql-formats"><button type="button" class="ql-script"
                          value="sub"><svg viewBox="0 0 18 18">
                            <path class="ql-fill"
                              d="M15.5,15H13.861a3.858,3.858,0,0,0,1.914-2.975,1.8,1.8,0,0,0-1.6-1.751A1.921,1.921,0,0,0,12.021,11.7a0.50013,0.50013,0,1,0,.957.291h0a0.914,0.914,0,0,1,1.053-.725,0.81,0.81,0,0,1,.744.762c0,1.076-1.16971,1.86982-1.93971,2.43082A1.45639,1.45639,0,0,0,12,15.5a0.5,0.5,0,0,0,.5.5h3A0.5,0.5,0,0,0,15.5,15Z">
                            </path>
                            <path class="ql-fill"
                              d="M9.65,5.241a1,1,0,0,0-1.409.108L6,7.964,3.759,5.349A1,1,0,0,0,2.192,6.59178Q2.21541,6.6213,2.241,6.649L4.684,9.5,2.241,12.35A1,1,0,0,0,3.71,13.70722q0.02557-.02768.049-0.05722L6,11.036,8.241,13.65a1,1,0,1,0,1.567-1.24277Q9.78459,12.3777,9.759,12.35L7.316,9.5,9.759,6.651A1,1,0,0,0,9.65,5.241Z">
                            </path>
                          </svg></button><button type="button" class="ql-script" value="super"><svg viewBox="0 0 18 18">
                            <path class="ql-fill"
                              d="M15.5,7H13.861a4.015,4.015,0,0,0,1.914-2.975,1.8,1.8,0,0,0-1.6-1.751A1.922,1.922,0,0,0,12.021,3.7a0.5,0.5,0,1,0,.957.291,0.917,0.917,0,0,1,1.053-.725,0.81,0.81,0,0,1,.744.762c0,1.077-1.164,1.925-1.934,2.486A1.423,1.423,0,0,0,12,7.5a0.5,0.5,0,0,0,.5.5h3A0.5,0.5,0,0,0,15.5,7Z">
                            </path>
                            <path class="ql-fill"
                              d="M9.651,5.241a1,1,0,0,0-1.41.108L6,7.964,3.759,5.349a1,1,0,1,0-1.519,1.3L4.683,9.5,2.241,12.35a1,1,0,1,0,1.519,1.3L6,11.036,8.241,13.65a1,1,0,0,0,1.519-1.3L7.317,9.5,9.759,6.651A1,1,0,0,0,9.651,5.241Z">
                            </path>
                          </svg></button></span><span class="ql-formats"><button type="button" class="ql-indent"
                          value="-1"><svg viewBox="0 0 18 18">
                            <line class="ql-stroke" x1="3" x2="15" y1="14" y2="14"></line>
                            <line class="ql-stroke" x1="3" x2="15" y1="4" y2="4"></line>
                            <line class="ql-stroke" x1="9" x2="15" y1="9" y2="9"></line>
                            <polyline class="ql-stroke" points="5 7 5 11 3 9 5 7"></polyline>
                          </svg></button><button type="button" class="ql-indent" value="+1"><svg viewBox="0 0 18 18">
                            <line class="ql-stroke" x1="3" x2="15" y1="14" y2="14"></line>
                            <line class="ql-stroke" x1="3" x2="15" y1="4" y2="4"></line>
                            <line class="ql-stroke" x1="9" x2="15" y1="9" y2="9"></line>
                            <polyline class="ql-fill ql-stroke" points="3 7 3 11 5 9 3 7"></polyline>
                          </svg></button></span></div>
                    <div _ngcontent-xep-c4="" class="add-new-post__editor mb-1 ql-container ql-snow"
                      id="editor-container">
                      <div _ngcontent-xep-c4="" class="ql-editor ql-blank" contenteditable="true" data-gramm="false"
                        data-placeholder="Words can be like x-rays if you use them properly..."></div>
                      <div _ngcontent-xep-c4="" class="ql-clipboard" contenteditable="true" tabindex="-1"></div>
                      <div _ngcontent-xep-c4="" class="ql-tooltip ql-hidden"><a _ngcontent-xep-c4="" class="ql-preview"
                          href="about:blank" target="_blank"></a><input _ngcontent-xep-c4="" data-formula="e=mc^2"
                          data-link="https://quilljs.com" data-video="Embed URL" type="text"><a _ngcontent-xep-c4=""
                          class="ql-action"></a><a _ngcontent-xep-c4="" class="ql-remove"></a></div>
                    </div>
                  </form>


                </form>
              </div>
              <div class="col-4">
                <div class="form-group">
                  <div class="card border  bg-light shadow-none rounded-0">
                    <div class="card-header border-bottom-white py-2 rounded-0">
                      <h5 class="h6 font-weight-normal mb-0">Similar Questions</h5>
                    </div>
                    <div class="card-body pt-1 px-0">
                      <div class="media d-flex border-bottom-white border-bottom-white py-2">

                        <!-- <img class="mr-2 user-pic rounded-circle mr-2" src="assets/images/avatars/0.jpg"
                                alt="Generic placeholder image"> -->
                        <div class="media-body mb-0 px-4">
                          <div class=" align-self-center">
                            <small class="mb-0 text-dark h6 font-weight-semibold">Q1. What is the Lease offer for
                              mineral rights in eddy county</small>
                            <small class="text-dark mb-0">
                              Lorem ipsum dolor sit amet, consectetur adipiscing eiu..
                            </small>
                            <!-- <h5  class="text-muted h6 mb-0 ml-auto small text-right">May 3 at 8:30pm</h5>   -->
                          </div>
                        </div>
                      </div>
                      <div class="media d-flex border-bottom-white py-3">
                        <div class="media-body mb-0 px-4">
                          <div class=" align-self-center">
                            <small class="mb-0 text-dark h6 font-weight-semibold">Q1. What is the Lease offer for
                              mineral rights in eddy county</small>
                            <small class="text-dark mb-0">
                              Lorem ipsum dolor sit amet, consectetur adipiscing eiu..
                            </small>

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-accent btn-sm text-uppercase" data-dismiss="modal">Post</button>
          <button type="button" class="btn btn-outline-accent btn-sm text-uppercase"
            data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>