<aside class="main-sidebar col-12 col-md-3 col-lg-2 px-0">
    <div class="main-navbar">
        <nav class="navbar align-items-stretch navbar-dark bg-black flex-md-nowrap p-0">
            <a class="navbar-brand w-100 mr-0" href="#" style="line-height: 25px;">
                <!-- <div class="d-table m-auto">
                    <img id="main-logo" class="d-inline-block align-top mr-1" style="max-width: 25px;"
                        src="assets/images/shards-dashboards-logo-success.svg" alt="Shards Dashboard">
                    <span class="d-none d-md-inline ml-1">Gold Member</span>
                </div> -->
                <div class="d-table m-auto">
                    <img id="main-logo" class="d-inline-block align-top" style="max-width: 140px;"
                        src="assets/images/MView1.png" alt="MVest">
                </div>
            </a>
            <a class="toggle-sidebar d-sm-inline d-md-none d-lg-none">
                <i class="material-icons">&#xE5C4;</i>
            </a>
        </nav>
    </div>
    <form action="#" class="main-sidebar__search w-100 border-right d-sm-flex d-md-none d-lg-none">
        <div class="input-group input-group-seamless ml-3 align-self-center">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <i class="fas fa-search"></i>
                </div>
            </div>
            <input class="navbar-search form-control" type="text" placeholder="Search for something..."
                aria-label="Search">
        </div>
    </form>
    <div class="nav-wrapper text-white">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active current" routerLink="/dashboard" >
                    <!-- <i class="material-icons">edit</i> -->
                    <i class="material-icons"> dashboard </i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link " routerLink="#" routerlinkActive="active current">
                    <i class="material-icons">vertical_split</i>
                    <span>My Portfolio</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link " routerLink="#" routerlinkActive="active current">
                    <!-- <i class="material-icons">note_add</i> -->
                    <i class="material-icons">place</i>
                    <span>Maps</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link " routerLink="#" routerlinkActive="active current">
                    <i class="material-icons">view_module</i>
                    <!-- <i class="material-icons">local_activity</i> -->
                    <span>Field Activity</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link " routerLink="#"routerLinkActive="active current">
                    <i class="material-icons">table_chart</i>
                    <span>News</span>
                </a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-nowrap" routerlinkActive="active current" data-toggle="dropdown" routerLink="/profile" role="button"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="material-icons">person</i>
                    <span>Community</span>
                </a>
                <div class="dropdown-menu dropdown-menu-small">
                    <a class="dropdown-item active" routerlinkActive="active current" routerLink="/profile">My Profile</a>
                    <!-- <a class="dropdown-item" routerLink="/newsfeed">News Feed</a> -->


                    <a class="dropdown-item" routerlinkActive="active current" routerLink="/discussions">Discussions</a>

                    <!-- <div class="dropdown-divider"></div> -->
                    <a class="dropdown-item" routerLink="/messages"> Messages </a>
                    <a class="dropdown-item" routerLink="/requests"> Requests </a>
                    <!-- <a class="dropdown-item" href="#">
                       <i class="material-icons"></i> Settings </a> -->
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link " routerLink="#">
                    <!-- <i class="material-icons">error</i> -->
                    <i class="material-icons">cloud_download</i>
                    <span>Downloads</span>
                </a>
            </li>
        </ul>
    </div>
</aside>