<div class="main-content-container container-fluid px-4">

  <flash-messages class="bg-accent text-center"></flash-messages>

  <div class="row justify-content-center">
    <div class="col-12">
      <div class="content-loading text-center" *ngIf="loading">
        <div class="spinner-border text-accent" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>
  </div>

  <div class="row pb-1 pt-4">
    <div class="col-12">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item align-self-center">
          <h5 class="text-dark mb-0 font-weight-bold mr-3">Community</h5>
        </li>
        <li class="nav-item">
          <a routerLink="/profile" class="nav-link text-muted font-weight-bold" aria-controls="profile"
            aria-selected="false">MY PROFILE</a>
        </li>
        <li class="nav-item">
          <a routerLink="/newsfeed" class="nav-link text-muted font-weight-bold" role="tab" aria-controls="contact"
            aria-selected="false">NEWS FEED</a>
        </li>
        <li class="nav-item">
          <a routerLink="/discussions" class="active nav-link text-muted font-weight-bold" role="tab"
            aria-controls="contact" aria-selected="false">DISCUSSIONS</a>
        </li>
        <li class="nav-item">
          <a routerLink="/messages" class="nav-link text-muted font-weight-bold" role="tab" aria-controls="contact"
            aria-selected="false">MESSAGES</a>
        </li>
        <li class="nav-item">
          <a routerLink="/requests" class="nav-link text-muted font-weight-bold" role="tab" aria-controls="contact"
            aria-selected="false">REQUESTS</a>
        </li>
        <li class="nav-item">
          <a routerLink="/index" class="nav-link text-muted font-weight-bold" role="tab" aria-controls="contact"
            aria-selected="false">SETTINGS</a>
        </li>
        <li class="nav-item pull-right ml-xl-auto align-self-center py-1">
          <a class="btn btn-accent btn-sm btn-block text-uppercase" (click)="openAskQuestionModal(postQuestionModal)">
            Ask a Question
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="row justify-content-center pb-1 pt-3">
    <div class="col-xl-12">
        <ul class="nav nav-tabs sub-tab border-0"  >
           <li class="nav-item align-self-center" (click)="setTitle( 'Mvest-Categories')">
              <a class="align-self-center" routerLink="/discussions">
                   <h5 class="text-dark mb-0 font-weight-bold mr-3 align-self-center">Categories </h5>
                  </a>
              </li>
         
            
        
        <div class="ml-auto d-inline-flex"> 
            <li class="nav-item align-self-center ml-auto">
                <form id="search-form" class="form-inline">
                    <div class="input-group search">
                      <input type="text" class="form-control search-form" [(ngModel)]="searchText"
                        [ngModelOptions]="{standalone: true}" placeholder="Search">
                      <span class="input-group-btn">
                        <button type="submit" class="search-btn">
                          <i class="fa fa-search"></i>
                        </button>
                      </span>
                    </div>
                  </form>
      </li> 
             

        </div>
    </ul>
      <!-- <nav aria-label="breadcrumb">
        <ol class="breadcrumb px-0 mb-0">
          <li class=""><a class="active text-green font-weight-semibold" routerLink="/discussions"
              (click)="setTitle( 'Mvest-Categories')">Categories</a></li>
          <li class="breadcrumb-item ml-auto">
            <form id="search-form" class="form-inline">
              <div class="input-group search">
                <input type="text" class="form-control search-form" [(ngModel)]="searchText"
                  [ngModelOptions]="{standalone: true}" placeholder="Search">
                <span class="input-group-btn">
                  <button type="submit" class="search-btn">
                    <i class="fa fa-search"></i>
                  </button>
                </span>
              </div>
            </form>
          </li>
        </ol>
      </nav> -->
      <div>

        <!-- <div class="text-center" *ngIf="loading">
          <div class="spinner-border text-accent" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div> -->

        <div class="text-center" *ngIf="pageNotFound">
          <h5>No Records Found</h5>
        </div>

        <div class="row gutter-10 pt-2">
          <div class="card m-2" *ngFor="let c of categoryList | filter:searchText">
            <a routerLink="/subcategory" [queryParams]="{subCategoryId: c.Categories.doc_id}"
              (click)="setTitle( 'Mvest-Subcategories')">
              <div class="card d-inline category-main" style="width:50rem">
                <img class="img-fluid img-thumbnail rounded-left" src="{{c.Categories.image}}" alt="" width="250px">
                <div class="category-text">
                  {{c.Categories.name | titlecase}}
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<ng-template #postQuestionModal>
  <form>
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Ask a Question</h5>
      </div>

      <div class="modal-body">
        <div class="card shadow-none">
          <div class="row">
            <div class="col-12">

              <form [formGroup]="postQuestionForm">
                <div class="form">
                  <div class="form-group">
                    <div class="form-row">

                      <div class="col-4">
                        <label for="title">Category :</label>
                      </div>

                      <div class="col-8">
                        <select class="form-control border" formControlName="CategoryName" title="CategoryName"
                          [value]="null" (change)="selectedCategory($event);getSubcategoriesList()"
                          [ngClass]="{ 'is-invalid': submitQuestion && g.CategoryName.errors }">
                          <option [value]="null" disabled hidden> Select Category</option>
                          <option *ngFor="let c of categoryList" [value]="c.Categories.doc_id">
                            {{c.Categories.name}}</option>
                        </select>
                        <div *ngIf="submitQuestion && g.CategoryName.errors" class="invalid-feedback">
                          <div *ngIf="g.CategoryName.errors.required">Category Name is required</div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="form-row">
                      <div class="col-4">
                        <label for="title">Sub-Category :</label>
                      </div>
                      <div class="col-8">
                        <select class="form-control border" formControlName="subCategoryName" title="subCategoryName"
                          (change)="selectedSubCategory($event)"
                          [ngClass]="{ 'is-invalid': submitQuestion && g.subCategoryName.errors }">
                          <option disabled hidden> Sub-Category Name</option>
                          <option *ngFor="let sc of subCategoryListDD" [value]="sc.sub_categories.subcat_id">
                            {{sc.sub_categories.name}}</option>
                        </select>
                        <div *ngIf="submitQuestion && g.subCategoryName.errors" class="invalid-feedback">
                          <div *ngIf="g.subCategoryName.errors.required">Sub-Category Name is required</div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="title">Discussion Title :</label>
                    <input type="text" class="form-control" id="title" formControlName="discussionTitle" placeholder=""
                      [ngClass]="{ 'is-invalid': submitQuestion && g.discussionTitle.errors }">
                    <div *ngIf="submitQuestion && g.discussionTitle.errors" class="invalid-feedback">
                      <div *ngIf="g.discussionTitle.errors.required">Discussion title is required</div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="title">Description :</label>
                    <div class="w-100">
                    </div>
                    <angular-editor formControlName="problemDescription" [config]="editorConfig"
                      [ngClass]="{ 'is-invalid': submitQuestion && g.problemDescription.errors }">
                      <div *ngIf="submitQuestion && g.problemDescription.errors" class="invalid-feedback">
                        <div *ngIf="g.problemDescription.errors.required">Problem description is required</div>
                      </div>
                    </angular-editor>
                  </div>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-accent btn-sm text-uppercase" (click)="postQuestion()"
          data-dismiss="modal">Post</button>
        <button type="button" class="btn btn-outline-accent btn-sm text-uppercase"
          (click)="closePostQuestionModal()">Cancel</button>
      </div>
    </div>
  </form>

</ng-template>