<!-- <div class="foreground">   -->
<div class="main-content-container container-fluid px-4">
        <div class="row justify-content-center text-left pt-3">
                <div class="col-12 ">
                        <!-- <h5 class="font-weight-semibold text-secondary"> 
                    How do I declare and initialize an array in Java? (search text)</h5>   -->
                        <!-- <h5 class="font-weight-semibold text-secondary">
                <input   type="text" value="The Searched text will be displayed here and can be edited as well"
                 class="form-control h4 mb-0 font-weight-semibold text-secondary border-bottom border-0">
                </h5>  -->
                </div>
                <div class="col-12 pt-3">
                        <ul class="list-inline d-flex mb-1">
                                <li class="list-inline-item h6 text-secondary align-self-center mb-1 pr-3">280 Search
                                        Results</li>
                                <li class="list-inline-item mb-1">
                                        <select class="font-weight-semibold  text-accent">
                                                <option value="All">Feature : All</option>
                                                <option value="All"> Community</option>
                                                <option value="All"> News</option>
                                        </select>
                                </li>
                        </ul>
                </div>
        </div>


        <div class="row">
                <div class="col-8 pt-2 px-3">
                        <!-- <h6 class="text-secondary font-weight-semibold mb-0">Community : </h6> -->
                </div>
                <div class="col-10 grey-hover px-3 py-2 border-bottom ">
                        <a routerLink="#">
                                <h6 class=" text-muted font-weight-semibold mb-0"><u>How do I declare and initialize
                                                an array in Java?</u> </h6>
                                <h6 class="text-secondary small mb-0">I am trying to scrape the following URL:
                                        https://www.pistonheads.com/search?SearchText= recall&PageNumber=
                                        1&SortBy=relevance &Order By=asc... </h6>
                        </a>
                </div>
                <div class="col-10 grey-hover px-3 py-2 border-bottom ">
                        <a routerLink="#">
                                <h6 class=" text-muted font-weight-semibold mb-0"><u>How do I declare and initialize
                                                an array in Java?</u></h6>
                                <h6 class="text-secondary small mb-0">I am trying to scrape the following URL:
                                        https://www.pistonheads.com/search?SearchText=recall&PageNumber
                                        =1&SortBy=relevance& Order By=asc... </h6>
                        </a>
                </div>
                <div class="col-10 grey-hover px-3 py-2 border-bottom ">
                        <a routerLink="#">
                                <h6 class=" text-muted font-weight-semibold mb-0"><u>How do I declare and initialize
                                                an array in Java?</u></h6>
                                <h6 class="text-secondary small mb-0">I am trying to scrape the following URL:
                                        https://www.pistonheads.com/search?SearchText=recall& PageNumber=1&SortBy=
                                        relevance& OrderBy=asc... </h6>
                        </a>
                </div>
                <div class="col-10 grey-hover px-3 py-2 border-bottom ">
                        <a routerLink="#">
                                <h6 class=" text-muted font-weight-semibold mb-0"><u>How do I declare and initialize
                                                an array in Java?</u></h6>
                                <h6 class="text-secondary small mb-0">I am trying to scrape the following URL:
                                        https://www.pistonheads.com/search?SearchText=recall&PageNumber
                                        =1&SortBy=relevancer By=asc... </h6>
                        </a>
                </div>
                <div class="col-10 grey-hover px-3 py-2 border-bottom ">
                        <a routerLink="#">
                                <h6 class=" text-muted font-weight-semibold mb-0"><u>How do I declare and initialize
                                                an array in Java?</u></h6>
                                <h6 class="text-secondary small mb-0">I am trying to scrape the following URL:
                                        https://www.pistonheads.com/search?SearchText=recall&PageNumber
                                        =1&SortBy=relevancer By=asc... </h6>
                        </a>
                </div>
                <div class="col-10 grey-hover px-3 py-2 border-bottom ">
                        <a routerLink="#">
                                <h6 class=" text-muted font-weight-semibold mb-0"><u>How do I declare and initialize
                                                an array in Java?</u></h6>
                                <h6 class="text-secondary small mb-0">I am trying to scrape the following URL:
                                        https://www.pistonheads.com/search?SearchText=recall&PageNumber
                                        =1&SortBy=relevancer By=asc... </h6>
                        </a>
                </div>
        </div>

</div>
<!-- </div>  -->