<!-- <div class="foreground">   -->
<div class="main-content-container container-fluid px-4">
        <div class="row justify-content-center text-left pt-3">
                <div class="col-12 ">
                        <!-- <h5 class="font-weight-semibold text-secondary"> 
                    How do I declare and initialize an array in Java? (search text)</h5>   -->
                        <!-- <h5 class="font-weight-semibold text-secondary">
                <input   type="text" value="The Searched text will be displayed here and can be edited as well"
                 class="form-control h4 mb-0 font-weight-semibold text-secondary border-bottom border-0">
                </h5>  -->
                </div>
                <div class="col-12 pt-3">
                        <ul class="list-inline d-flex mb-1">
                                <li class="list-inline-item h6 text-secondary align-self-center mb-1 pr-3">
                                        {{searchedData.length}} Search
                                        Results</li>
                                <li class="list-inline-item mb-1">
                                        <select class="font-weight-semibold  text-accent" [value]="searchType"
                                                (change)="selectSearchType($event)">
                                                <option value="All">Feature : All</option>
                                                <option value="community"> Community</option>
                                                <option value="news"> News</option>
                                        </select>
                                </li>
                        </ul>
                </div>
        </div>


        <div class="row">

                <div class="col-10 grey-hover px-3 py-2 border-bottom " *ngFor="let sd of searchedData">
                        <a routerLink="#">
                                <h6 *ngIf="sd.title?.length<100" class=" text-muted font-weight-semibold mb-0"><a
                                                class="text-muted"
                                                (click)="goToSearchLink(sd.url)"><u>{{sd.title}}</u></a>
                                </h6>
                                <h6 *ngIf="sd.title?.length>=100" class=" text-muted font-weight-semibold mb-0"><a
                                                class="text-muted"
                                                (click)="goToSearchLink(sd.url)"><u>{{sd.title | slice:0:100}}...</u></a>
                                </h6>
                                <h6 *ngIf="sd.body?.length<200" class="text-secondary mb-0"
                                        innerHTML="{{sd?.body | stripHtml}}"></h6>

                                <h6 *ngIf="sd.body?.length>=200" class="text-secondary mb-0"
                                        innerHTML="{{sd?.body | stripHtml | slice:0:200}}..."></h6>
                        </a>
                </div>

        </div>

</div>
<!-- </div>  -->