<div class="main-content-container container-fluid px-4">

        <!---------------------------------Successfully Email verified Page--------------------------->

        <div class="row justify-content-center text-center pt-5" *ngIf="verifyEmailFlag">
                <div class="col-6 border p-5 shadow top-bottom-center">
                        <div class="row justify-content-center text-center">
                                <div class="col-10 bg-black">
                                        <img src="assets/images/MVest-Logo.png" height="60px" width="auto">
                                </div>
                        </div>
                        <img class="pt-3" src="assets/images/email-success2.png" height="150px" width="auto">
                        <h4 class="text-accent font-weight-semibold h5 pt-3">Congratulations !! </h4>
                        <h4 class="text-secondary font-weight-semibold h5 "> Your eMail has been confirmed</h4>
                        <h5 class="text-muted h6 font-weight-semibold">Thank you , for registering with MVest !</h5>
                        <div class="w-100"></div>
                        <button routerLink="/signin" type="button" class="btn btn-accent text-accent mt-3">Sign
                                In</button>
                </div>
        </div>

        <!---------------------------------End Successfully Email verified Page--------------------------->

        <!--------------------------------- Email Not verified Page--------------------------->

        <div class="row justify-content-center text-center pt-5" *ngIf="emailNotVerifyFlag">
                <div class="col-6 border p-5 shadow top-bottom-center">
                        <div class="row justify-content-center text-center">
                                <div class="col-10 bg-black">
                                        <img src="assets/images/MVest-Logo.png" height="60px" width="auto">
                                </div>
                        </div>
                        <img class="pt-3" src="assets/images/email-success2.png" height="150px" width="auto">
                        <h4 class="text-danger font-weight-semibold h5 pt-3">Sorry !! </h4>
                        <h4 class="text-danger font-weight-semibold h5 "> Your eMail has not been confirmed</h4>
                        <h5 class="text-muted h6 font-weight-semibold">Try Again , for registering with MVest !</h5>
                        <div class="w-100"></div>
                        <button routerLink="/signin" type="button" class="btn btn-accent text-accent mt-3">Sign
                                In</button>
                </div>
        </div>

        <!---------------------------------End Email Not verified Page--------------------------->


        <!---------------------------------Grace Period Over Page--------------------------->

        <div class="p-5"></div>
        <div class="row justify-content-center text-center" *ngIf="graceEmailFlag">
                <div class="col-6 border p-5 shadow top-bottom-center">
                        <img class="pt-3" src="assets/images/verify-email.png" height="150px" width="auto">

                        <h4 class="text-danger font-weight-semibold h5 pt-3">Sorry {{firstName}} {{lastName}}, Your
                                grace
                                period is over </h4>
                        <h5 class="text-muted h6 font-weight-semibold">You need to click on the link sent on your
                                eMail<br>for Further Access </h5>
                        <div class="w-100"></div>
                        <button type="submit" class="btn btn-accent btn-sm text-uppercase mt-3"
                                (click)="sendConfirmationEmail()">Resend
                                E-mail</button> &nbsp; &nbsp;
                </div>
        </div>

        <!---------------------------------End Grace Period Over Page--------------------------->

</div>