<div class="main-navbar sticky-top bg-white shadow-sm bg-accent">
  <!-- Main Navbar -->
  <nav class="navbar align-items-stretch navbar-light flex-md-nowrap p-0">
    <form action="#" class="main-navbar__search  search-box w-100 d-md-flex d-lg-flex d-none" [formGroup]="searchForm">
      <div class="input-group  input-group-seamless ml-3 dropdown">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <i class="fas fa-search"></i>
          </div>
        </div>
        <input class="form-control" type="text" formControlName="searchText" placeholder="Search"
          (keyup)="setTimeoutForSearch($event)" (keydown)="resetTimeoutForSearch()" (keydown.esc)="escapeSearch()">
      </div>
    </form>



    <ul class="navbar-nav border-left flex-row">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-nowrap px-3 active d-none d-lg-block" data-toggle="dropdown" href="#"
          role="button" aria-haspopup="true" aria-expanded="false">
          <span class="d-none d-md-inline-block align-self-center pt-2">Everywhere</span>
        </a>
        <div class="dropdown-menu dropdown-menu-small">
          <a class="dropdown-item  text-secondary" href="">
            Anywhere</a>
          <a class="dropdown-item  text-secondary" href="components-blog-posts.html">
            <!-- <i class="material-icons">vertical_split</i> -->
            This Page</a>
          <a class="dropdown-item  text-secondary" href="add-new-post.html">
            <!-- <i class="material-icons">note_add</i> -->
            Add New Post</a>
          <!-- <div class="dropdown-divider  text-secondary"></div> -->
        </div>
      </li>

      <li class="nav-item border-right border-left dropdown notifications">
        <a class="nav-link nav-link-icon text-center" href="#" role="button" id="dropdownMenuLink"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <div class="nav-link-icon__wrapper">
            <i class="material-icons">mail</i>
          </div>
        </a>
      </li>
      <li class="nav-item border-right border-left dropdown notifications">
        <a class="nav-link nav-link-icon text-center  text-secondary" href="#" role="button" id="dropdownMenuLink"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <div class="nav-link-icon__wrapper">
            <i class="material-icons">&#xE7F4;</i>
            <span class="badge badge-pill badge-danger">2</span>
          </div>
        </a>
        <div class="dropdown-menu dropdown-menu-small" aria-labelledby="dropdownMenuLink">
          <!-- <a class="dropdown-item" href="#">
            <div class="media  d-flex d-inline-flex">
                  <div class="notification__icon-wrapper align-self-center">
                      <div class="notification__icon bg-light ">
                          <i class="material-icons">person</i>
                      </div>
                    </div>
                 
                  <div class="media-body mb-0">
                      <div class="row justify-content-center">
                        <div class="col-9 text-left">
                         <span class="notification__category ml-2">Community</span> 
                          </div>
                        <div class="col-3 d-flex d-inline-flex text-center notification-list">
                            <h5 class="badge ml-auto badge-pill badge-danger "> 5 </h5>
                          </div>

                      </div>
                      <div class="row">
                          <div class="col-12">
                            <p class="ml-2 text-dark mb-0"> <strong>Rutuja Gorawade</strong>
                                  <span class="text-danger text-semibold"></span> reply on your comment
                                </p>
                            </div>
                            </div>
                      
                  </div>
              </div> 
            </a> -->
          <!-- <a class="dropdown-item" href="#">
                <div class="media  d-flex d-inline-flex">
                      <div class="notification__icon-wrapper align-self-center">
                          <div class="notification__icon bg-light ">
                            <i class="material-icons">&#xE8D1;</i>
                          </div>
                        </div>
                     
                      <div class="media-body mb-0">
                          <div class="row justify-content-center">
                            <div class="col-9 text-left">
                               
                                <span class="notification__category ml-2">Neighbors</span> 
                              </div>
                            <div class="col-3 d-flex d-inline-flex text-center notification-list">
                                <h5 class="badge ml-auto badge-pill badge-danger "> 3 </h5>
                              </div>
    
                          </div>
                          <div class="row">
                              <div class="col-12">
                                 
                                  <p class="ml-2 text-dark mb-0">Last week your store’s sales count decreased by
                                      <span class="text-danger text-semibold">5.52%</span>. It could have been worse!</p>
                                </div>
                                </div>
                          
                      </div>
                  </div> 
                </a> -->

          <a class="dropdown-item" routerLink="/notification">
            <div class="row">
              <div class="col-2 d-flex d-inline-flex">

                <div class=" align-self-center">
                  <div class="notification__icon bg-light ">
                    <i class="material-icons">person</i>
                  </div>
                </div>
              </div>

              <div class=" col-8 px-1">
                <h5 class="notification__category mb-0 ">Community</h5>
                <p class="mb-0 text-dark "><strong>Rutuja Gorawade</strong> has replied on your post</p>


              </div>
              <div class="col-2 d-flex d-inline-flex text-right notification-list">
                <h5 class="badge ml-auto badge-pill badge-danger "> 5 </h5>
              </div>

            </div>
          </a>
          <div class="dropdown-item">
            <div class="row">
              <div class="col-2 d-flex d-inline-flex">

                <div class=" align-self-center">
                  <div class="notification__icon bg-light ">
                    <i class="material-icons">
                      group
                    </i>
                    <!-- <i class="material-icons">&#xE8D1;</i> -->
                  </div>
                </div>

              </div>
              <div class=" col-8 px-1">
                <h5 class="notification__category mb-0 ">Neighbors</h5>
                <p class="mb-0 text-dark "><strong>Rutuja Gorawade</strong> sent you a Request </p>

              </div>
              <div class="col-2 d-flex d-inline-flex text-right notification-list">
                <h5 class="badge ml-auto badge-pill badge-danger "> 3 </h5>
              </div>


              <div class="col-12">
                <div class="row justify-content-center text-center">

                  <div class="col-8 pt-2 px-0 text-left ">
                    <h6 class="mb-0 font-weight-semibold">
                      <a routerLink="#"><i class="material-icons text-accent md-24" data-toggle="tooltip"
                          title="Accept Request">
                          check_circle
                        </i></a>
                      <a routerLink="#"><i class="material-icons text-danger md-24" data-toggle="tooltip"
                          title="Ignore Request">
                          cancel
                        </i></a>
                    </h6>


                    <!-- <button class=" btn btn-md btn-accent">Accept</button>
                                      <button class=" btn btn-md btn-danger ml-2">Ignore</button> -->
                  </div>
                </div>
              </div>
            </div>

          </div>

          <a class="dropdown-item notification__all text-center  text-secondary" routerLink="/notification"> View all
            Notifications </a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-nowrap px-3 text-secondary" data-toggle="dropdown" href="#"
          role="button" aria-haspopup="true" aria-expanded="false">
          <img class="user-avatar rounded-circle mr-2" src="assets/images/MProfile.png" alt="User Avatar">
          <span class="d-none d-md-inline-block text-secondary">{{user?.f_name | titlecase}}
            {{user?.l_name | titlecase}}</span>
        </a>
        <div class="dropdown-menu dropdown-menu-small text-secondary">
          <!-- <a class="dropdown-item  text-secondary" href="user-profile-lite.html">
            <i class="material-icons">&#xE7FD;</i> Profile</a>
          <a class="dropdown-item  text-secondary" href="components-blog-posts.html">
            <i class="material-icons">vertical_split</i> Blog Posts</a>
          <a class="dropdown-item  text-secondary" href="add-new-post.html">
            <i class="material-icons">note_add</i> Add New Post</a> -->
          <!-- <div class="dropdown-divider  text-secondary"></div> -->
          <a routerLink="/myaccount" class="dropdown-item  text-secondary">
            <i class="material-icons">&#xE879;</i> My Account </a>
          <a routerLink="/myaccount" class="dropdown-item  text-secondary">
            <i class="material-icons">&#xE879;</i> Change Password </a>
          <a routerLink="#" class="dropdown-item  text-secondary" (click)="logout()">
            <i class="material-icons">&#xE879;</i> Logout </a>
        </div>
      </li>
    </ul>

    <nav class="nav">
      <a href="#" class="nav-link nav-link-icon toggle-sidebar d-md-inline d-lg-none text-center border-left"
        data-toggle="collapse" data-target=".header-navbar" aria-expanded="false" aria-controls="header-navbar">
        <i class="material-icons">&#xE5D2;</i>
      </a>
    </nav>

    <!-- <nav class="nav">
      <a href="#" class="nav-link nav-link-icon toggle-sidebar d-md-inline d-block d-lg-none text-center border-left"
        data-toggle="collapse" data-target="#main-sidebar" aria-expanded="false" aria-controls="main-sidebar">
        <i class="material-icons"
        >&#xE5D2;</i>
      </a>
    </nav>   -->

  </nav>


  <div class="px-3 search-items border-accent animated fadeInDown bg-white" *ngIf="showSearch"
    (clickOutside)="onClickedOutside($event)">
    <div class="row justify-content-center text-left p-2 bg-light  rounded-bottom">
      <h6 *ngIf="threeChars" class="text-danger small mb-0">* Enter minimum three characters to see search results </h6>
      <div class="col-12 ">
        <div class="row">

          <div class="col-6 py-1 px-1">

            <div class="bg-white py-2 height-235" *ngIf="communitySearchedData.length==0 && loading">
              <h6 class="text-secondary font-weight-semibold mb-0  px-3">
                Community Results: </h6>
              <div class="py-5 px-3 justify-content-center text-center align-self-center ">
                <div class="  text-center">
                  <div class="spinner-border spinner-border-md text-accent" role="status">
                    <span class="sr-only">Loading...</span>
                  </div>
                </div>
                <h6 class="text-muted font-weight-semibold mb-0">Loading search results...</h6>
              </div>
            </div>

            <div class="bg-white py-2 height-235" *ngIf="communitySearchedData.length==0 && !loading">
              <h6 class="text-secondary font-weight-semibold mb-0 px-3">
                Community Results: </h6>
              <div class="py-5 px-3 justify-content-center text-center align-self-center">

                <h6 class="text-muted font-weight-semibold mb-0" *ngIf="communitySearchedData.length==0">
                  Oops ! No Search Results Found</h6>
                  <h6 class="text-muted font-weight-normal small mb-0 px-3" *ngIf="communitySearchedData.length==0">
                  We searched far and wide but couldn't find any records matching your search. Please try another Search</h6>
              </div>
            </div>

            <div class="bg-white py-2 height-235" *ngIf="communitySearchedData.length>0">
              <h6 class="text-secondary font-weight-semibold mb-0 d-flex px-3">
                Community Results: </h6>
              <div class="loading-z-index text-center" *ngIf="loading">
                <div class="spinner-border spinner-border-md text-accent" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
              </div>

              <div class="py-2 px-3 grey-hover border-bottom " *ngFor="let cs of communitySearchedData | slice:0:2">

                <a routerLink="#">
                  <div class="media mb-0 d-flex">
                    <i class="material-icons align-self-center md-24 text-muted mr-3">
                      search
                    </i>
                    <div class="media-body mb-0">
                      <h6 class=" text-muted font-weight-semibold mb-0"><a class="text-muted" routerLink="#"
                          (click)="goToSearchLink(cs.url)"><u>{{cs.title | slice:0:50}}</u></a>
                      </h6>
                      <p class="h6 text-secondary small mb-0">{{cs.body | stripHtml | slice:0:100}}</p>
                    </div>
                  </div>
                </a>



              </div>

              <div class="py-1 px-3 text-center border-bottom " *ngIf="communitySearchedData.length>0">
                <a routerLink="#" (click)="goToSearchResultPage(communitySearchedData[0]?.sf)">
                  <h6 class=" text-accent small font-weight-semibold mb-0 serach-view-title">View all
                    Results({{communitySearchedData.length}})
                  </h6>
                </a>
              </div>

            </div>

          </div>

          <div class="col-6 py-1 px-1">

            <div class="bg-white py-2 height-235">
              <h6 class="text-secondary font-weight-semibold mb-0  px-3">
                News Results: </h6>
              <div class="py-5 px-3 justify-content-center text-center align-self-center ">
                <h6 class="text-muted font-weight-semibold mb-0">No Feature Implemented</h6>
              </div>
            </div>
          </div>

          <div class="col-6 py-1 px-1">
            <div class="bg-white py-2 height-235">
              <h6 class="text-secondary font-weight-semibold mb-0  px-3">
                Lease Results: </h6>

              <div class="py-5 px-3 justify-content-center text-center align-self-center">
                <h6 class="text-muted font-weight-semibold mb-0">No Feature Implemented</h6>
              </div>


            </div>
          </div>

          <div class="col-6 py-1 px-1">
            <div class="bg-white py-2 height-235 ">
              <h6 class="text-dark font-weight-semibold mb-0  px-3">
                Well Results: </h6>

              <div class="py-5 px-3 justify-content-center text-center align-self-center">

                <h6 class="text-muted font-weight-semibold mb-0">No Feature Implemented</h6>

              </div>

            </div>
          </div>

        </div>

      </div>
    </div>
  </div>


</div>