<div class="main-content-container container-fluid px-4">
    <div class="row pt-3">
        <div class="col-xl-12 col-md-12 col-sm-12">
            <a routerLink="/profile" class="cursor-pointer d-flex d-inline-flex">
                <h6 class="font-weight-semibold text-muted align-self-center mb-0 pr-2">
                    <i class="material-icons md-20 icon-muted">
                        arrow_back
                    </i> </h6>
                <h6 class="font-weight-semibold text-muted align-self-center mb-0">
                    Go to My Profile </h6>
            </a>
        </div>
    </div>
    <div class="row pb-4 py-2">
        <div class="col-xl-12 col-md-12 col-sm-12">
            <!-- Profile widget -->
            <div class="bg-warning shadow overflow-hidden">
                <div class="px-4 pb-4 py-4 "
                    style="height:200px; background: url(assets/images/bg-pattern33.png) no-repeat;background-size:cover;">
                    <div class="media align-items-end profile-header ">
                        <div class="justify-content-start mr-3">

                            <ngx-avatar name="AP" [size]="100" class="rounded-50 profile img-thumbnail"
                                src=""></ngx-avatar>
                        </div>

                        <div class="media-body justify-content-center text-left text-white ">
                            <h4 class="text-white font-weight-medium username">Atul Pawase
                            </h4>
                            <h6 class="text-white font-weight-medium user-tagline">Verified Mineral Owner
                            </h6>
                        </div>
                        <div class="profile-btn justify-content-end align-self-end">

                            <ul class="list-inline d-inline-flex mb-0">
                                <li class="list-inline-item mb-0 h6 text-muted">
                                    <a href="#" data-toggle="modal" data-target=".cover-modal-lg"
                                        class="btn btn-outline-white btn-sm btn-block text-uppercase">Connect</a>
                                </li>
                                <li class="list-inline-item mb-0 h6 text-muted">
                                    <a href="#" data-toggle="modal" data-target=".cover-modal-lg"
                                        class="btn btn-outline-white btn-sm btn-block text-uppercase">Unfollow</a>
                                </li>
                                <li class="list-inline-item mb-0 font-weight-semibold rounded-border ">
                                    <a href="#"
                                        class=" text-white text-uppercase align-self-center d-flex d-inline-flex">
                                        <i class="material-icons md-18 px-2 pt-2 pb-2">mail</i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="bg-dark text-white px-4 py-2 d-flex justify-content-start text-center">
                    <ul class="nav nav-tabs sub-tab border-0 ml-5" id="myTab" role="tablist">
                        <li class="nav-item bg-dark ml-5">
                            <a routerLink="/mvest-user" class="nav-link text-white font-weight-normal " role="tab"
                                aria-controls="" aria-selected="false" routerLinkActive='active'>Timeline</a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="/mvest-user-following" class="nav-link text-white font-weight-normal"
                                aria-controls="contact" aria-selected="false" routerLinkActive='active'>Following</a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="/mvest-user-neighbors" class="nav-link text-white font-weight-normal"
                                aria-controls="contact" aria-selected="false" routerLinkActive='active'>Neighbors</a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="/mvest-user-photos" class="nav-link text-white font-weight-normal"
                                aria-controls="contact" aria-selected="false" routerLinkActive='active'>Photos</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- End profile widget -->
        </div>
    </div>

    <div class="row">
        <div class="col-xl-12 pb-1 pt-3">
          <ul class="nav nav-tabs sub-tab border-0" id="photos-tab" role="tablist">
            <li class="nav-item align-self-center">
              <h5 class="text-dark mb-1 font-weight-bold mr-3 align-self-center">Photos</h5>
            </li>
            <li class="nav-item">
              <a href="#userleasephotos" class="nav-link text-muted font-weight-bold active" data-toggle="tab"
                aria-selected="false" (click)="selectLease()">Lease Photos</a>
            </li>
            <!-- <li class="nav-item">
              <a href="#yourphotos" class="nav-link text-muted font-weight-bold" data-toggle="tab" role="tab"
                aria-controls="contact" aria-selected="false">Your Photos</a>
            </li>  -->
            <li class="nav-item">
              <a href="#useralbumphotos" class="nav-link text-muted font-weight-bold" data-toggle="tab" role="tab"
                aria-controls="contact" aria-selected="false" (click)="selectAlbum()">Albums</a>
            </li>
          
          </ul>
        </div>
      </div>

      <div class="tab-content pb-3" id="myTabContent">

        <div class="tab-pane fade show active" id="userleasephotos" role="tabpanel" aria-labelledby="home-tab">
          <!-- <div class="row justify-content-start">
    
            <div class="col-md-3 text-center col-3 col-xl-3 ">
              <img src="assets/images/follow.png" class="" alt="New Neighbors Image" height="250px" width="auto">
            </div>
            <div class="col-md-6 text-left col-6 col-xl-6  px-4 d-flex">
              <div class="align-self-center">
                <h6 class="text-muted font-weight-semibold ">No Lease Photo's yet !!</h6>
                <h6 class="text-muted font-weight-semibold ">Here, you will be able to see all Lease Photo's.</h6>
              </div>
            </div> 
          </div> -->
          <div class="row justify-content-start">
          <div class="col-md-5 col-xl-3  pt-2">
            <div class="card cursor-pointer">
              <img class="img-fluid " src="https://source.unsplash.com/sesveuG_rNo/400x300" alt="">
              <div class="card-body py-2 px-3">
  
                <h6 class="card-text text-dark font-weight-semibold mb-1">Julie</h6>
                <p><small class="text-secondary mb-1">23 Photos</small> </p>
              </div>
            </div>
          </div>
  
          <div class="col-md-5 col-xl-3  pt-2">
            <div class="card cursor-pointer">
              <img class="img-fluid " src="https://source.unsplash.com/aob0ukAYfuI/400x300" alt="">
              <div class="card-body py-2 px-3">
  
                <h6 class="card-text text-dark font-weight-semibold mb-1"> Foster Unit</h6>
                <p><small class="text-secondary mb-1">23 Photos</small> </p>
              </div>
            </div>
          </div>
  
          <div class="col-md-5 col-xl-3  pt-2">
            <div class="card cursor-pointer">
              <img class="img-fluid " src="https://source.unsplash.com/p2TQ-3Bh3Oo/400x300" alt="">
              <div class="card-body py-2 px-3">
  
                <h6 class="card-text text-dark font-weight-semibold mb-1"> Opiela</h6>
                <p><small class="text-secondary mb-1">16 Photos</small> </p>
              </div>
            </div>
          </div>
  
          <div class="col-md-5 col-xl-3  pt-2">
            <div class="card cursor-pointer">
              <img class="img-fluid " src="https://source.unsplash.com/pWkk7iiCoDM/400x300" alt="">
              <div class="card-body py-2 px-3">
  
                <h6 class="card-text text-dark font-weight-semibold mb-1"> Earp Unit</h6>
                <p><small class="text-secondary mb-1">10 Photos</small> </p>
              </div>
            </div>
          </div>
         </div>
    
    
        </div>
    
        <div class="tab-pane fade show" id="useralbumphotos" role="tabpanel" aria-labelledby="home-tab">
    
          <!-- <div class="row justify-content-start" *ngIf="albumList?.length==0">
            <div class="col-md-3 text-center col-3 col-xl-3 ">
              <img src="assets/images/follow.png" class="" alt="New Neighbors Image" height="250px" width="auto">
            </div>
            <div class="col-md-6 text-left col-6 col-xl-6  px-4 d-flex">
              <div class="align-self-center">
                <h6 class="text-muted font-weight-semibold ">You have not created any Album yet !!</h6>
                <h6 class="text-muted font-weight-semibold ">Here, you will be able to see all Album and it's Photo's.</h6>
                <h6 class="text-muted font-weight-semibold ">You can create an Album by clicking on 'Add Album' tab.</h6>
              </div>
            </div>
          </div>
    
          <div class="row justify-content-start">
            <div class="col-md-5 col-xl-3  pt-2" *ngFor="let als of albumList">
              <div class="card cursor-pointer" (click)="getAlbumPhotos(als.album_docId, als.album_name)">
                <img class="img-fluid img-thumbnailalbum" src="{{als.thumbnail_file_name}}" alt="">
                <div class="card-body py-2 px-3">
    
                  <h6 class="card-text text-dark font-weight-semibold mb-1">{{als.album_name}}</h6>
                  <p><small class="text-secondary mb-1">23 Photos</small> </p>
                </div>
              </div>
            </div>
    
          </div> -->
    
          <div class="row justify-content-start">
         
            <div class="col-md-5 col-xl-3  pt-2">
              <div class="card cursor-pointer">
                <img class="img-fluid " src="https://source.unsplash.com/p2TQ-3Bh3Oo/400x300" alt="">
                <div class="card-body py-2 px-3">
    
                  <h6 class="card-text text-dark font-weight-semibold mb-1"> Opiela</h6>
                  <p><small class="text-secondary mb-1">16 Photos</small> </p>
                </div>
              </div>
            </div>
    
            <div class="col-md-5 col-xl-3  pt-2">
              <div class="card cursor-pointer">
                <img class="img-fluid " src="https://source.unsplash.com/pWkk7iiCoDM/400x300" alt="">
                <div class="card-body py-2 px-3">
    
                  <h6 class="card-text text-dark font-weight-semibold mb-1"> Earp Unit</h6>
                  <p><small class="text-secondary mb-1">10 Photos</small> </p>
                </div>
              </div>
            </div>
            <div class="col-md-5 col-xl-3  pt-2">
                <div class="card cursor-pointer">
                  <img class="img-fluid " src="https://source.unsplash.com/sesveuG_rNo/400x300" alt="">
                  <div class="card-body py-2 px-3">
      
                    <h6 class="card-text text-dark font-weight-semibold mb-1">Julie</h6>
                    <p><small class="text-secondary mb-1">23 Photos</small> </p>
                  </div>
                </div>
              </div>
      
              <div class="col-md-5 col-xl-3  pt-2">
                <div class="card cursor-pointer">
                  <img class="img-fluid " src="https://source.unsplash.com/aob0ukAYfuI/400x300" alt="">
                  <div class="card-body py-2 px-3">
      
                    <h6 class="card-text text-dark font-weight-semibold mb-1"> Foster Unit</h6>
                    <p><small class="text-secondary mb-1">23 Photos</small> </p>
                  </div>
                </div>
              </div>
      
           </div>
        </div>
    
      </div>
    
</div>


