<div class="main-content-container container-fluid px-4">  
    <div class="row pb-3 pt-4">		  
        <div class="col-12">		  
        <ul class="nav nav-tabs">
        <li class="nav-item align-self-center">
           <h5 class="text-dark mb-0 font-weight-bold mr-3">My Portfolio</h5>
          </li>
          <li class="nav-item ">
            <a routerLink="/field-reports"  class="nav-link text-muted font-weight-bold text-uppercase"  aria-controls="profile" aria-selected="false">Leases</a>
          </li>
          <li class="nav-item ">
            <a routerLink="/financials" class="nav-link text-muted font-weight-bold text-uppercase" role="tab" aria-controls="contact" aria-selected="false">Financials</a>
          </li>
          <li class="nav-item">
            <a  routerLink="/presentations" class="nav-link text-muted font-weight-bold text-uppercase" role="tab" aria-controls="contact" aria-selected="false">Presentations</a>
          </li>
          <li class="nav-item">
            <a  routerLink="/charts" class="active nav-link text-muted font-weight-bold text-uppercase" role="tab" aria-controls="contact" aria-selected="false">Charts</a>
          </li>
         
        </ul>
        
      
        </div>
        </div>	
 
    

  
    <div class="row justify-content-start no-gutters  pb-3 pt-4">
            <div class="col-md-12 col-xl-12">
              
                    <div class="row justify-content-start ">
                            <div class="col-md-6 col-xl-6">
                                    <div class="card shadow">
                                        
                                            <div class="card-body px-3">
                                                  <div class="d-flex">
                                                        <h6 class="text-dark font-weight-semibold align-self-center  mb-0 mr-2">MVestimate - <span class="text-danger font-weight-bold">$2841.37 </span></h6>
                                                        <!-- <div class="bg-red rounded"> -->
                                                            <select  class="badge badge-danger align-self-center border-0">
                                                                <option class="align-self-center ">18.19(0.61%)</option>
                                                                <option class="align-self-center ">Sv : 245NVKS</option>
                                                                <option class="align-self-center ">View : Watch List</option>
                                                                <option class="align-self-center ">View : Filter</option>
                                                              </select>
                                                        <!-- </div> -->
                                                      </div>
<!--                                                          
                                                          <div class="row pt-4 bg-light">
                                                            <div class="col-12 col-sm-6">
                                                              <div id="blog-overview-date-range" class="input-daterange input-group input-group-sm my-auto ml-auto mr-auto ml-sm-auto mr-sm-0" style="max-width: 350px;">
                                                                <input type="text" class="input-sm form-control" name="start" placeholder="Start Date" id="blog-overview-date-range-1">
                                                                <input type="text" class="input-sm form-control" name="end" placeholder="End Date" id="blog-overview-date-range-2">
                                                                <span class="input-group-append">
                                                                  <span class="input-group-text">
                                                                    <i class="material-icons"></i>
                                                                  </span>
                                                                </span>
                                                              </div>
                                                            </div>  
                                                             <div class="col-12 col-sm-6 d-flex mb-2 mb-sm-0">
                                                              <button type="button" class="btn btn-sm btn-white ml-auto mr-auto ml-sm-auto mr-sm-0 mt-3 mt-sm-0">View Full Report &rarr;</button>
                                                            </div>  
                                                          </div> -->
                                                          <canvas height="200 w-100"   class="pt-4 blog-overview-users"></canvas>
                                                       
                                                    </div>
                                          </div>
            
                            </div>
                    
                    
                            <div class="col-md-6 col-xl-6 ">
                             
                                    <div class="card shadow">
                                        
                                            <div class="card-body py-4 px-3">
                                                  <div class="d-flex">
                                                        <h6 class="text-dark font-weight-semibold mb-2 mr-2">S&P 500 - <span class="text-red font-weight-bold">$2841.37 </span></h6>
                                                        <div class="bg-red rounded">
                                                            <select  class="align-self-center text-white">
                                                                <option class="align-self-center text-dark">18.19(0.61%)</option>
                                                                <option class="align-self-center text-dark">Sv : 245NVKS</option>
                                                                <option class="align-self-center text-dark">View : Watch List</option>
                                                                <option class="align-self-center text-dark">View : Filter</option>
                                                              </select>
                                                      </div>
                                                        </div>
                                                        <h6 class="card-text text-secondary p-5 bg-warning mb-1 small mt-3"> </h6>
                                                      
                                            </div>
                                          </div>
                             </div>
                          </div>
            </div>
          </div>

          <div class="row justify-content-start no-gutters  pb-3 pt-4">
                <div class="col-md-12 col-xl-12">
                  
                        <div class="row justify-content-start ">
                                <div class="col-md-6 col-xl-6">
                                        <div class="card shadow">
                                        
                                                <div class="card-body py-4 px-3">
                                                      <div class="d-flex">
                                                            <h6 class="text-dark font-weight-semibold align-self-center mb-2 mr-2">DOW Jones Industrials - <span class="text-red font-weight-bold">$2841.37 </span></h6>
                                                           <div class="bg-red rounded">
                                                             <select  class="align-self-center text-white">
                                                                    <option class="align-self-center text-dark">18.19(0.61%)</option>
                                                                    <option class="align-self-center text-dark">Sv : 245NVKS</option>
                                                                    <option class="align-self-center text-dark">View : Watch List</option>
                                                                    <option class="align-self-center text-dark">View : Filter</option>
                                                                  </select>
                                                                </div> 
                                                            </div>
                                                  <h6 class="card-text text-secondary p-5 bg-warning mb-1 small mt-3"> </h6>
                                                  
                                                </div>
                                              </div>
                
                                </div>
                        
                        
                                <div class="col-md-6 col-xl-6 ">
                                 
                                        <div class="card shadow">
                                        
                                                <div class="card-body py-4 px-3">
                                                      <div class="d-flex">
                                                            <h6 class="text-dark font-weight-semibold mb-2 mr-2">NASDAQ Composite - <span class="text-red font-weight-bold">$2841.37 </span></h6>
                                                            <div class="bg-red rounded">
                                                                <select class="align-self-center text-white">
                                                                    <option class="align-self-center text-dark">18.19(0.61%)</option>
                                                                    <option class="align-self-center text-dark">Sv : 245NVKS</option>
                                                                    <option class="align-self-center text-dark">View : Watch List</option>
                                                                    <option class="align-self-center text-dark">View : Filter</option>
                                                                  </select>
                                                          </div>
                                                            </div>
                                                  <h6 class="card-text text-secondary p-5 bg-warning mb-1 small mt-3"> </h6>
                                                  
                                                </div>
                                              </div>
                                 </div>
                              </div>
                </div>
              </div>
