body {
  /* font-size: 0.2rem; */
  font-weight: 300;
  color: #333 !important;
  background-color: #fff;
  letter-spacing: 0.6px ;
  font-family: 'Montserrat', sans-serif !important;
 
}
 
 .notification-list .badge {
  
  top:2% !important;
    position: absolute !important;
    display: inline-block !important;
    padding: .25rem .375rem!important;
    font-size: 65%!important;
    font-weight: 700!important;
    line-height: 1!important;
    text-align: center!important;
    white-space: nowrap!important;
    vertical-align: baseline!important;
    border-radius: .50rem!important;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/* .top-bottom-center{
  position: fixed;
  top:20%;
  bottom:10%;
} */
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif !important;
}

.h6, h6 {
  font-size: 0.9rem;
  line-height: 1.4rem;
}

.font-weight-semibold {
  font-weight: 600 !important;
}
.nav {
  font-family: 'Montserrat', sans-serif !important;
}
 .black-transparent{
  background: rgba(0, 0, 0, 0.1);
 } 
  /*  Colors   */
::selection { background: #00CD95; 
        color:#fff;
}


a .serach-view-title:hover {
    text-decoration: underline;
  font-size:85%; 
}
  .icon-muted{
color:#868e96 !important
  }
  .icon-muted-negative{
    color:#868e96 !important;
  }
  .icon-muted-negative:hover{
    color:#c4183c !important;
  }
  .icon-accent-svg{
    fill:#00CD95 !important
      }
  .icon-muted:hover{
    color: #00CD95 !important
      }
      .icon-muted-svg{
       fill:#868e96 !important
          }
          .icon-muted-svg:hover{
            fill: #00CD95 !important
              }
   a{
    color: #00CD95 !important;
     /* text-decoration: none !important  */
  }  
  a:hover{
    color: #00CD95 !important;
    text-decoration: none !important;
  }
  a:active{
    color: #00CD95 !important;
  }
  .li a .active{
    color: #00CD95 !important; 
  
  }
  .active:hover{
    color: #00CD95; 
  }
  /* a .text-muted:hover{
  color:#00CD95 !important;
  text-decoration-color:none !important
}  */

/* .img-bottom{
  height: calc(100vh - 3.75rem - 1px) !important;
  overflow-x: hidden; 
  position: fixed;
} */
.text-333{
  color:#333;
}
.text-red{
  color: #d80000 !important;
}
 .bg-transparent{
   background: none !important;
 }
.bg-red{
  background: #d80000 !important;
}
 
.bg-muted {
  background: #868e96!important;
}
.bg-grey{
  background: rgb(58, 58, 58);
}
.bg-light-grey{
  background: rgb(238, 238, 238);
}
.bg-dark-grey{
  background: rgb(31, 29, 29);
}

.badge-accent{
  background:#00CD95 !important;
  border: 1px solid #00CD95 !important;
  color: #fff !important;
  border-radius: 0px !important;
}
.badge-accent:hover{
  background:#00CD95 !important;
  border: 1px solid #00CD95 !important;
  color: #fff !important;
  /* border-radius: 0px !important; */
}
.badge-outline-accent{
  background:transparent;
  border: 1px solid #00CD95 !important;
  color: #212529 !important;
  border-radius: 0px !important;
}

.card-height-450{
  min-height:450px !important;
  /* position: relative; */
}
/* .card-height-450 .btn{
  position: fixed;
  bottom:15% !important;
} */
.card-height-450:hover{
  min-height:450px !important;
  background: #00CD95 !important;
  color:#fff !important;
  
} 


.card-height-450:hover .text-green, .card-height-450:hover .text-muted{
  color:#fff !important;  
}
.card-height-450:hover .btn-outline-accent ,.card-height-450:hover .btn-accent{
 background: #fff!important;  
 color:#00CD95 !important;
}


	.bg-black{
		background: #000000;
	}
	.bg-green{
		background: #00CD95 ;
	}
	.text-green{
		color: #00CD95 !important;
  }
  .text-accent{
    color: #00CD95 !important;
  }
 
  .bg-accent{
    background:#00CD95;
    color:white !important;

  }
/* font */
 

.font-weight-semibold{
  font-weight: 500;
}

.py-55 {
  padding-bottom: .19rem!important;
  padding-top: .19rem!important;
}
.border-accent{ 
  /* border-top:0px  !important;
  border-left:  1px solid rgba(189, 186, 186,0.3) !important;
  border-right: 1px solid rgba(189, 186, 186,0.3) !important;
  border-bottom: 1px solid rgba(189, 186, 186,0.3) !important;
  box-shadow:  0 0 60px #333; */
  box-shadow: 0px 5px 5px rgb(218, 218, 218), 
  -3px 5px 5px rgb(218, 218, 218), 3px 5px 5px rgb(218, 218, 218);
}
.border-bottom-white{
  border-bottom: 2px solid #fff;
}
/* material-icons */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-20 { font-size: 20px; }
.material-icons.md-21 { font-size: 21px; }
.material-icons.md-22 { font-size: 22px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-25 { font-size: 25px; }
.material-icons.md-26 { font-size: 26px; }
.material-icons.md-30 { font-size: 30px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.icon-accent{
  color: #00CD95 !important
    }

/* sizes */
.user-pic {
  max-width: 2.5rem;
}
.flex-1{
	flex:1;
}	

.rounded-5 {
  border-radius: 22.357rem !important;
}

.rounded-2 {
  border-radius: 20px !important;
}
.rounded-50{
	border-radius:50%;
  border:4px solid #fff;
}

.mydiscusion-hover .card:hover{
 box-shadow: 0 0 8px #636262 !important;
}
/* checkbox */
/* .round {
  position: relative;
}

.round label {
  background-color: #fff;
  border: 1px solid #868e96;
  border-radius: 50%;
  cursor: pointer;
  height: 28px;
  left: 0;
  position: absolute;
  top: 0;
  width: 28px;
}

.round label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 7px;
  opacity: 0;
  position: absolute;
  top: 8px;
  transform: rotate(-45deg);
  width: 12px;
}

.round input[type="checkbox"] {
  visibility: hidden;
}

.round input[type="checkbox"]:checked + label {
  background-color: #00CD95;
  border-color: #00CD95;
}

.round input[type="checkbox"]:checked + label:after {
  opacity: 1;
} */
/* checkbox end */
/* Plan Position */
.plan-center{
  position:relative !important;
  z-index: 1;
}
.plan-left{
  position:absolute;
  top:8% !important;
  right:-10% !important;
  left:10% !important;
}
.plan-right{
  position:absolute;
  top:8% !important;
  left:-10% !important;
  right:10% !important;
}
.breadcrumb {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: .75rem 1rem;
  margin-bottom: 1rem;
  list-style: none;
  background-color: transparent !important;
  border-radius: .25rem;
}
 /*serach Button*/
 .search-form { 
  border-right:0px !important;
  border-radius: 30px 0px 0px 30px;
  border: 1px solid #ccc;
} 

/*to cange only one form and not all give unique class name like  class="search-form" */
.search-btn {
  border-radius: 0px 30px 30px 0px !important;
  color:#ccc;
  cursor:pointer;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif !important;
    border: 1px solid #ccc;
    border-left:0px;
    padding:0.6rem 1.5rem !important;
    font-size: .80rem;
    line-height: 1.125;
   background:transparent;
    transition: all 250ms cubic-bezier(.27,.01,.38,1.06);;
}

 
.search-box{
  position: relative;
}
.search-items{
  position: absolute;
  top:100%;
  width:98%;
 left:1%; 
}

.foreground {
  /* background-color: rgba(0,0,0,0.122);
  z-index: 3; */
  /* backdrop-filter: blur(10px); */
  /* backdrop-filter: contrast(40%); */

  /* height: calc(100vh - 3.75rem - 1px);
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  font-family: sans-serif;
  text-align: center;
  line-height: 1; 
 -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(50px);   */
background:#f1f1f1;
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(2px);
}
.grey-hover:hover{
  background: #e6e6e6;
}
.main-sidebar .nav .nav-item, .main-sidebar .nav .nav-link {
  font-family: 'Montserrat', sans-serif !important;
}
/* sidbar start*/
.main-sidebar .nav .nav-item .nav-link {
    border-bottom: 1px solid #e1e5eb;
    font-weight: 400;
    color: #FFF !important;
    padding: .9375rem 1.5625rem;
}
.main-sidebar .nav .nav-item .nav-link.active, .main-sidebar .nav .nav-item .nav-link:hover, .main-sidebar .nav .nav-item.active, .main-sidebar .nav .nav-item:hover {
      box-shadow:inset  -0.355rem 0 #00CD95 !important;  
     /* box-shadow:  0.1875rem 0  #00CD95 !important;   */
    background-color: rgb(39, 38, 38);
    color: #fff  !important;
}
.main-sidebar .nav .nav-item .dropdown-item{
  background-color:  rgb(39, 38, 38);
    color: #fff  !important;
    border-bottom: 0px solid #f0f2f5 !important;
}
.main-sidebar .nav .nav-item .nav-link {
 border-bottom: none !important; 
    font-weight: 400;
    color: #3d5170;
    padding: .9375rem 1.5625rem;
    font-family: 'Montserrat', sans-serif !important;
}

.main-sidebar .nav-wrapper {
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100vh - 3.75rem - 1px);
	background:#000000 !important;
	color:white !important;
}

.main-sidebar .nav .nav-item .nav-link.active i, .main-sidebar .nav .nav-item .nav-link:hover i, .main-sidebar .nav .nav-item.active i, .main-sidebar .nav .nav-item:hover i {
    color: #00CD95 !important;
}
/* sidbar end*/


/* buttons & focus start */
.btn {
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    border: 1px solid transparent;
    padding:0.6rem 1.5rem !important;
    font-size: .70rem;
    line-height: 1.125;
    letter-spacing: 0.6px ;
    border-radius: 2rem !important;
    transition: all 250ms cubic-bezier(.27,.01,.38,1.06);
}
.btn-accent {
    color: #fff !important;
    border:2px solid #00CD95 !important;
    border-color: #00CD95 !important;
    background-color: #00CD95 !important;
    box-shadow: none;
}
.btn-accent:hover,.btn-accent:focus{
  color: #fff !important;
  border:2px solid #00CD95 !important;
    background-color: #00CD95;
    border-color: #00CD95;
    box-shadow: 0 0 5px #00CD95 !important;
    /* box-shadow: 0 5px 15px rgba(0,0,0,.05), 0 4px 10px rgba(0,123,255,.25); */
}

.btn-outline-accent {
    color: #00CD95;
    border:2px solid #00CD95 !important;
    background-color: none !important;
    box-shadow: none;
}

.btn-outline-accent:hover,.btn-outline-accent:focus{
    color: #fff !important;
    border:2px solid #00CD95 !important;
    background-color: #00CD95 !important;
    box-shadow: 0 0 5px #00CD95 !important;
    /* box-shadow: 0 5px 15px rgba(0,0,0,.05), 0 4px 10px rgba(0,123,255,.25); */
}
.btn-outline-white {
    background-color: transparent;
    background-image: none;
    border-color: none !important;
    border: 2px solid #fff !important;
    color: #fff !important;

    box-shadow: 0 5px 15px rgba(0,0,0,.05), 0 4px 10px rgba(0,123,255,.25);
}
.btn-dark {
  color: #fff !important;
  border:2px solid #212529 !important;
  border-color: #212529 !important;
  background-color: #212529 !important;
  box-shadow: none;
}
.btn-dark:hover, .btn-dark:focus{
  color: #fff !important;
  border:2px solid #212529 !important;
    background-color: #212529 !important; 
    box-shadow: 0 0 5px #212529 !important;
      /* box-shadow: 0 5px 15px rgba(0,0,0,.05), 0 4px 10px rgba(0,123,255,.25);   */
  }

  
.btn-grey{
  color: #fff !important;
  border:2px solid rgb(102, 102, 102) !important;
  border-color: rgb(102, 102, 102) !important;
  background-color: rgb(102, 102, 102) !important;
  box-shadow: none;
}
.btn-grey:hover{
  color: #fff !important;
  border:2px solid rgb(102, 102, 102) !important;
  border-color: rgb(102, 102, 102) !important;
  background-color: rgb(102, 102, 102) !important;
  box-shadow: 0 0 5px rgb(102, 102, 102)  !important;
}

/* .btn-dark {
  color: #fff !important;
  border:2px solid rgb(80, 79, 79) !important;
  border-color: rgb(80, 79, 79) !important;
  background-color: rgb(80, 79, 79) !important;
  box-shadow: none;
} */
/* .btn-dark:hover{
color: #fff !important;
border:2px solid #00CD95 !important;
  background-color: #00CD95 !important;
  border-color: #00CD95;
  box-shadow: 0 0 5px #00CD95 !important;
    box-shadow: 0 5px 15px rgba(0,0,0,.05), 0 4px 10px rgba(0,123,255,.25);  
} */

.dropdown-outline-accent {
  color: #00CD95;
  border:2px solid #00CD95 !important;
  background-color: none !important;
  box-shadow: none;
}
.dropdown-outline-accent:hover ,.dropdown-outline-accent:focus{
  /* color: #fff !important; */
  border:2px solid #00CD95 !important;
  /* background-color: #00CD95 !important; */
  box-shadow: 0 0 5px #00CD95 !important;
  /* box-shadow: 0 5px 15px rgba(0,0,0,.05), 0 4px 10px rgba(0,123,255,.25); */
}
input:focus { 
  outline: none !important;
  border-color:#979797 !important;
  box-shadow: 0 0 5px #979797 !important;
}
.search input:focus { 
  outline: none !important;
  border-color:none !important;
  box-shadow:none !important;
  border-color:#ccc !important;
  /* border: 1px solid #ccc  !important; */
}

.serach-btn:focus { 
  outline: none !important;
  border-color:none !important;
  box-shadow:none !important;
  border-color:#ccc !important;
  border: none !important;
}

.input-group-seamless input:focus { 
  outline: none !important;
  border-color:none !important;
  box-shadow:none !important;
}

.has-feedback input:focus { 
  outline: none !important;
  border-color:none !important;
  box-shadow:none !important;
}

/* .input-group input:focus { 
  outline: none !important;
  border-color:none !important;
  box-shadow:none !important;
} */

textarea:focus { 
  outline: none !important;
  border-color:#00CD95 !important;
  box-shadow: 0 0 5px #00CD95 !important;
}
/* 
.btn:focus { 
  outline: none !important;
  border-color:#00CD95 !important;
  box-shadow: 0 0 5px #00CD95 !important;
} */
/* buttons end */


.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active,.nav-tabs .nav-link:hover{
    color: #00CD95 !important;
    background-color: transparent !important;
    border-bottom: 3px solid #00CD95 !important;
	font-size:14px !important;
	padding-right: 15px !important;
	padding-left: 15px !important;
}

.nav-tabs .nav-link {
    border: none !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
	font-size:14px !important;
	padding-right: 15px !important;
	padding-left: 15px !important;
}

.sub-tab .nav-item.show .nav-link, .sub-tab .nav-link.active,.sub-tab .nav-link:hover{
    color: #00CD95 !important;
    background-color: transparent !important;
    border-bottom: none!important;
	font-size:14px !important;
	padding-right: 15px !important;
	padding-left: 15px !important;
}	

   
 
.nav-pills .nav-link.active, .nav-pills .show>.nav-link { 
  color:#00CD95 !important;
  background-color: #fff !important;
  border-radius: 0 !important;
  /* padding:1rem 1rem; */
  /* font-size:1rem; */
  /* box-shadow: 0 1px 20px 0 #868e96, 0 1px 10px 0 #868e96 !important; */
  /* box-shadow: 0 2px 2px rgba(0, 0, 0, 0.075) inset; */
  /* box-shadow:0 4px 5px rgba(4, 4, 132, 0.0888); */
  box-shadow:0 -5px 5px rgba(0, 0, 0, 0.075)
}


/* img-text position */
.main-img {
  position: relative;
  /* text-align: center; */
}

.bottom-left {
  position: absolute;
  width:100%;
  opacity: 0.7;
  /* bottom: 8px;
  left: 16px; */
  background: #000; 
  color:white;
}
 




/* profile position */
 .profile-header{ 
	 position:relative; 
 } 

 .profile{ 
	 position: absolute; 
   /* top:75px;   */
   top:95px;  
	  left:-7px; 
 } 

.username{ 
	 position: absolute;
 top:128px;
	 left:11%;
 }
 
.profile-btn{ 
	 position: absolute;
 /* top:105px; */
 top:125px;
	 right:0%;
 }
/* profile end */
.custom-control-input:checked ~ .custom-control-label::before  {
   
 border-color:#00CD95 !important;
 background-color: #00CD95 !important;
 transition: all 250ms cubic-bezier(.27,.01,.38,1.06);
 box-shadow: none;
}

.custom-control-label::before {
  FONT-WEIGHT: 200;
  top: .1875rem;
  left: 0;
  width: 1.125rem;
  height: 1.125rem;
  background-color: #fff;
  border: 4px solid #e1e5eb !important;
  transition: all 250ms cubic-bezier(.27,.01,.38,1.06);
  box-shadow: none;
}
/* radio button */
/* .custom-control-label::before {
    FONT-WEIGHT: 200;
    top: .1875rem;
    left: 0;
    width: 1.125rem;
    height: 1.125rem;
    background-color: #fff;
    border: 3px solid #e1e5eb !important;
    transition: all 250ms cubic-bezier(.27,.01,.38,1.06);
    box-shadow: none;
}
 .custom-control-input:checked ~ .custom-control-label::before  {
   FONT-WEIGHT: 200 !important;
  top: .1875rem !important;
  left: 0;
  width: 1.125rem !important;
  height: 1.125rem !important; 
  color: #fff;
  border-color:#00CD95 !important;
  background-color: #00CD95 !important;
  transition: all 250ms cubic-bezier(.27,.01,.38,1.06);
    box-shadow: none;
} */

/* browse img start*/
.btn-file {
    position: relative !important;
    overflow: hidden !important;
}
.btn-file input[type=file] {
    position: absolute !important;
    top: 0 !important;
    right: 0 !important;
    min-width: 100% !important;
    min-height: 100% !important;
    font-size: 100px !important;
    text-align: right !important;
    filter: alpha(opacity=0)!important;
    opacity: 0 !important;
    outline:2px solid green !important;
    background: white !important;
    cursor: inherit !important;
    display: block !important;
}

#img-upload{
    width: 100% !important;
}
/* browse img end*/

/* browse img2 start*/

.upload-options {
  position: relative;
  height: 55px;
  /* background-color: #00CD95; */
  cursor: pointer;
  overflow: hidden;
  text-align: center;
  -webkit-transition: background-color ease-in-out 150ms;
  transition: background-color ease-in-out 150ms;
}
  .upload-options:hover {
  color: #00CD95;
  cursor: pointer !important;
}  
.upload-options input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.upload-options label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  overflow: hidden;
}

.upload-options label::after {
  content: 'add';
  font-family: 'Material Icons';
  position: absolute;
  font-size: 2.5rem;
  color: #e6e6e6;
  /* top: calc(50% - 2.5rem); */
  left: calc(50% - 1.25rem);
  z-index: 0;
}
.upload-options label::after:hover{
  content: 'add';
  font-family: 'Material Icons';
  position: absolute;
  font-size: 2.5rem;
  color: #00cd95 !important;
  /* top: calc(50% - 2.5rem); */
  left: calc(50% - 1.25rem);
  z-index: 0;
}
.upload-options label span {
  display: inline-block;
  width: 50%;
  height: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
  text-align: center;
}
.upload-options label span:hover i.material-icons {
  color: lightgray;
}

.js--image-preview {
  height: 275px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-image: url("");
  background-color: white;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.js--image-preview::after {
  content: "photo_size_select_actual";
  font-family: 'Material Icons';
  position: relative;
  font-size: 4.5em;
  color: #e6e6e6;
  top: calc(50% - 3rem);
  left: calc(50% - 2.25rem);
  z-index: 0;
}
.js--image-preview.js--no-default::after {
  display: none;
}

.js--image-preview--cover{
  height: 150px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-image: url("");
  background-color: white;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

}
.js--image-preview--profile{
  height: 150px;
  width: 150px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  background-image: url("");
  background-color: white;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

}
/* i.material-icons { */
  /* -webkit-transition: color 100ms ease-in-out; */
  /* transition: color 100ms ease-in-out; */
  /* font-size: 2.25em; */
  /* line-height: 55px; */
  /* color: white; */
  /* display: block; */
/* } */

.drop {
  display: block;
  position: absolute;
  background: rgba(95, 158, 160, 0.2);
  border-radius: 100%;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.animate {
  -webkit-animation: ripple 0.4s linear;
          animation: ripple 0.4s linear;
}
/* browse img2 end*/


/* browse img2 end*/
.upload-options-profile {
  position: relative;
  top: 50px;
  height: 55px;
  background-color:transparent;
  cursor: pointer;
  overflow: hidden;
  text-align: center;
  -webkit-transition: background-color ease-in-out 150ms;
  transition: background-color ease-in-out 150ms;
}
.upload-options-profile:hover {
  background-color: #00CD95;
}
.upload-options-profile input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.upload-options-profile label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  overflow: hidden;
}
.upload-options-profile label::after {
  content: 'add';
  font-family: 'Material Icons';
  position: absolute;
  font-size: 2.5rem;
  color: #d6e0dd;
  /* top: calc(50% - 2.5rem); */
  left: calc(50% - 1.25rem);
  z-index: 0;
}
.upload-options-profile label span {
  display: inline-block;
  width: 50%;
  height: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
  text-align: center;
}

.category-main{
  position: relative;
  text-align: center;
  color: white;
  font-weight:500;
}

.category-text{
  position: absolute;
 top: 220%;
  left: 10%;

}
select{
  background: transparent !important;
  border:none !important;
  font-size: 95% !important;
  
  
}
select:focus{
  background: transparent !important;
  border:none !important;
  outline: none !important;
}
 




.search-form .form-group {
  float: right !important;
  transition: all 0.35s, border-radius 0s;
  width: 100%;
  border-radius: 4px 25px 25px 4px;
  /* width: 32px;
  height: 32px; */
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  border-radius: 25px;
  border: 1px solid #ccc;
}
.search-form .form-group input.form-control {
  padding-right: 20px;
  border: 0 none;
  background: transparent;
  box-shadow: none;
  display:block;
}
 
.search-form .form-group span.form-control-feedback {
  position: absolute;
  top: -1px;
  right: -2px;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  color: #00CD95 !important;
  left: initial;
  font-size: 14px;
}

textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: #333;
  font-weight: 200;
  font-size: 13px;
  padding: 9px;
  }
  
  .form-control {
  font-weight: 400;
  letter-spacing: 0.6px;
  }
  select .form-control:focus {
    box-shadow: none !important;
    }
  

  /*.input-group-btn:focus{
 border:2px solid #00CD95 !important;
 
  
} */

 /* button:focus{
 border-radius: 0px 30px 30px 0px !important;
  color: #ccc;
  cursor: pointer;
  font-weight: 500; 
  border: 1px solid #ccc !important;
  border-left: 0px;
  padding: 0.6rem 1.5rem !important;
  font-size: .80rem;
  line-height: 1.125;
  background: transparent;
  transition: all 250ms cubic-bezier(.27,.01,.38,1.06); 

    border:1px solid #00CD95 !important; 
}*/

 /*.search-btn:focus{
  border:1px solid #00CD95 !important; 
}*/
  
.pos-fixed{
  position: fixed;
  /* z-index :1; */
}
.font-30{
  font-size: 23px;
}  

.fontsize-1-25 {
  font-size: 1rem;
 
}
  .page-item{
  background: #00CD95 !important;
  color:#fff !important;
  box-shadow: 0 0.125rem 0.9375rem rgba(90,97,105,.1), 0 0.125rem 0.1875rem rgba(90,97,105,.15); 
}

.page-item:hover{
  background: #FFF !important;
  color:#00CD95 !important;
    box-shadow: 0 0.125rem 0.9375rem rgba(90,97,105,.1), 0 0.125rem 0.1875rem rgba(90,97,105,.15);  
    border-bottom: 4px solid #00CD95 !important;
}  

textarea {
  margin: 0;
  font-family: 'Montserrat', sans-serif !important;
  /* font-family: inherit; */
  font-size: inherit;
  line-height: inherit;
  color: #333;
  font-weight: 200;
  font-size: 13px;
  padding: 9px;
  }

  .sidebar {
    position: -webkit-sticky;
    position: fixed !important;
    top: 40%;
     left: 10%;  
     right:10%;
  }

/* .pos-relative{
  position: relative;
} */

.vh-100 {
   height: 100vh!important; 
  /* height:auto !important; */
   top:0; 
   bottom:0; 
}


 aw-wizard-navigation-bar.horizontal.small ul.steps-indicator li.done:after {
  background-color: #00CD95;
  
}  
  aw-wizard-navigation-bar.horizontal.small ul.steps-indicator li.current:after {
  background-color: #00CD95;
  
}  

aw-wizard-navigation-bar.horizontal.small ul.steps-indicator li:after {
  position: absolute;
  top: -14px;
  left: calc(50% - 7px);
  width: 14px;
  height: 14px;
  content: '';
  text-align: center;
  vertical-align: middle;
  line-height: 14px;
  -webkit-transition: .25s;
  transition: .25s;
  border-radius: 100%;
  background-color: #e6e6e6;
  
}
  
.scrollit {
  overflow:scroll;
  height:300px;
}

.close {
  margin: 0;
  position: absolute !important;
  top: -10px;
  right: -10px;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background-color:#00CD95 !important;
  color:#fff;
  font-size: 16px;
  outline: none !important;
 opacity: 1 !important;
  z-index: 9999 !important;
}

/* .fixed-content {
 
  bottom:0;
  top:0;
   overflow-y:hidden;
  overflow-x:hidden; 
} */
/* responsive */


@media (min-width:480px) and (max-width:610px) {
.username{ 
  position: absolute;
top:128px;
  left:25%;
  font-size: 20px !important;
}

.category-text{
  position: absolute;
 top: 200%;
  left: 10%;

}
}


@media (min-width:610.99px) and (max-width:962px) {
  .username{ 
    position: absolute;
  top:128px;
    left:20%;
    /* font-size: 20px !important; */
  }
  }

  @media (min-width:962.99px) and (max-width:1130px) {
    .username{ 
      position: absolute;
    top:128px;
      left:16%;
      /* font-size: 20px !important; */
    }

    .category-text{
      position: absolute;
     top: 300%;
      left: 10%;
    
    }
    .w-100-xl{
      width: 100% !important;
    }
    }
    @media (min-width:1130.99px) and (max-width:1240px) {
      .username{ 
        position: absolute;
      top:128px;
        left:13%;
        /* font-size: 20px !important; */
      }

      .category-text{
        position: absolute;
       top: 240%;
        left: 10%;
      
      }
      .w-100-xl{
        width: 100% !important;
      }
      
      }
     
     
      @media (min-width:1240.99px) and (max-width:1920px) {
        .w-100-xl{
          width: 100% !important;
        }
        
        }


        .angular-editor-toolbar-set [title="Insert Video"],
        .angular-editor-toolbar-set  [title="Insert Image"],
        .angular-editor-toolbar-set  [title="Unlink"],
        .angular-editor-toolbar-set  [title="Insert Link"],
        .angular-editor-toolbar-set  .angular-editor-button[title="Horizontal Line"],
        .angular-editor-toolbar-set  .angular-editor-button[title="Text Color"],
        .angular-editor-toolbar-set  .angular-editor-button[title="Background Color"],
        /* .angular-editor-toolbar-set  .angular-editor-button[title="Unordered List"],
        .angular-editor-toolbar-set  .angular-editor-button[title="Ordered List"], */
        .angular-editor-toolbar-set  .angular-editor-button[title="Indent"],
        .angular-editor-toolbar-set  .angular-editor-button[title="Outdent"],
        .angular-editor-toolbar-set  .angular-editor-button[title="Justify Full"],
        .angular-editor-toolbar-set  .angular-editor-button[title="Justify Right"],
        .angular-editor-toolbar-set  .angular-editor-button[title="Justify Center"],
        .angular-editor-toolbar-set  .angular-editor-button[title="Justify Left"],
        .angular-editor-toolbar-set  .angular-editor-button[title="Subscript"],
        .angular-editor-toolbar-set  .angular-editor-button[title="Superscript"],
        .angular-editor-toolbar-set  .angular-editor-button[title="Strikethrough"],
        .angular-editor-toolbar-set  .angular-editor-button[title="Undo"],
        .angular-editor-toolbar-set  .angular-editor-button[title="Redo"],
        .angular-editor-toolbar .angular-editor-toolbar-set .select-font,
        .angular-editor-toolbar .angular-editor-toolbar-set .select-heading,
        .angular-editor-toolbar .angular-editor-toolbar-set .select-font-size,
        .angular-editor-toolbar .angular-editor-toolbar-set .select-custom-style{
   display: none !important;
}


.angular-editor-toolbar .angular-editor-toolbar-set {
  display: inline-block;
  border-radius: 5px;
  background-color: #fff;
  margin-right: 5px;
  vertical-align: middle;
   border: none !important;
  margin-bottom: 3px;
  height: 28px;
}

.content-loading{
  position: fixed;
  z-index: 9999;
  top:50%;
  left:8%;
  bottom:50%;
  width: 100%;
  height: 100%;
  }

   .btn-md{
    padding:.4286rem .875rem !important;
  } 

  .cursor-pointer{
    cursor: pointer !important;
  }
      

  .sentenceCase {
    text-transform: lowercase !important;
  }
  .sentenceCase:first-letter {
    text-transform: uppercase !important;
  }

  .height-235{
    height: 235px;
  }

  .ngx-pagination .current {
    padding: 0.1875rem 0.625rem;
    background: #00CD95 !important;
    color: #fefefe;
    cursor: default;
}


  /* Animation Styles Start*/
  @keyframes fadeInDown {
    from {
      /* opacity: 1; */
      transform: translate3d(0, -100%, 0);
    }
  
    to {
      /* opacity: 1; */
      transform: translate3d(0, 0, 0);
    }
  }
  
  .fadeInDown {
    animation-name: fadeInDown;
  }

  @keyframes tada {
    from {
      transform: scale3d(1, 1, 1);
    }
  
    10%,
    20% {
      transform: scale3d(3, 3, 3) rotate3d(0, 0, 1, -3deg);
    }
  
    30%,
    50%,
    70%,
    90% {
      transform: scale3d(5,5, 5) rotate3d(0, 0, 1, 8deg);
    }
  
    40%,
    60%,
    80% {
      transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }
  
    to {
      transform: scale3d(1, 1, 1);
    }
  }
  
  .tada {
    animation-name: tada;
  }

  @keyframes pulse {
    from {
      transform: scale3d(1, 1, 1);
    }
  
    50% {
      transform: scale3d(1.05, 1.05, 1.05);
    }
  
    to {
      transform: scale3d(1, 1, 1);
    }
  }
  
  .pulse {
    animation-name: pulse;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    animation-name: fadeIn;
  }
  
  /* Animation Styles End*/ 
  
  .coverphoto{
    height:60px !important ;
    width: 124px !important;
 
   }