<div class="main-content-container container-fluid px-4">  
        <div class="row pb-3 pt-4">
                <div class="col-12">
        
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item align-self-center">
                            <a routerLink="/myaccount">
                                <h5 class="text-dark mb-0 font-weight-bold mr-3">My Account</h5>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a routerLink="/myaccount" class="nav-link text-muted font-weight-bold text-uppercase"
                                data-toggle="tab" aria-controls="profile" aria-selected="false">My Details</a>
                        </li>
                        <li class="nav-item ">
                            <a routerLink="/notification" class="nav-link text-muted font-weight-bold text-uppercase"
                                data-toggle="tab" role="tab" aria-controls="notifications" aria-selected="false">Alerts</a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="/settings" class="nav-link text-muted font-weight-bold text-uppercase"
                                role="tab" aria-controls="contact" aria-selected="false">Settings</a>
                        </li>
                         <li class="nav-item">
                    <a routerLink="#" class="nav-link text-muted font-weight-bold text-uppercase" role="tab" aria-controls="contact"
                      aria-selected="false">Manage Subscription</a>
                  </li>  
                  <li class="nav-item">
                    <a routerLink="/archives" class="active nav-link text-muted font-weight-bold text-uppercase" role="tab" aria-controls="contact"
                      aria-selected="false">Archives</a>
                  </li>   
                    </ul>
                </div>
            </div>
        

            <div class="row">
                    <div class="col-md-6 col-xl-8 pt-2">
                      <div class="row justify-content-between no-gutters pb-3">
                        <div class="col-xl-12">
                          <div class="card shadow mt-3">
                            <div class="card-body py-0  px-3"> 
                              <div class="row  py-2 border-bottom" >
                                <div class="col-8 "> 
                                  <div class="media">
                                    <img class="mr-3 img-fluid rounded-5" src="assets\images\avatars\6.jpg" alt=" " height="30px"
                                      width="30px">
                                    <div class="media-body">
                                      <h6 class="mt-0 mb-0 text-secondary font-weight-normal">Shilpa Dhumal commented on your Post</h6>
                                      <h6 class="mt-0 mb-0 text-muted small font-weight-semibold">
                                     14 Nov, 2015 , 02:20:30pm
                                      </h6>
                                    </div>
                                  </div> 
                                </div> 
                                <div class="col-4 text-right justify-content-end pull-right">
                                  <ul class="list-inline d-inline-flex mb-0 text-right pull-right d-flex"> 
                                    <li class="list-inline-item mb-1 h6 text-muted align-self-center">
                                      <a routerLink="#" data-toggle="tooltip" title="Unarchive Notification"
                                        (click)="archievingNotification(mn.Notifications.notId)">
                                        <h6 class="mb-0 font-weight-semibold"> 
                                                <i class="material-icons md-22">
                                                        unarchive
                                                        </i> 
                                        </h6>
                                      </a>
                                    </li> 
                                  </ul>
                                </div>
              
                              </div>
              
                            </div>
                          </div>

                          <div class="card shadow mt-3">
                                <div class="card-body py-0  px-3"> 
                                  <div class="row  py-2 border-bottom" >
                                    <div class="col-8 "> 
                                      <div class="media">
                                        <img class="mr-3 img-fluid rounded-5" src="assets\images\avatars\6.jpg" alt=" " height="30px"
                                          width="30px">
                                        <div class="media-body">
                                          <h6 class="mt-0 mb-0 text-secondary font-weight-normal">Shilpa Dhumal commented on your Post</h6>
                                          <h6 class="mt-0 mb-0 text-muted small font-weight-semibold">
                                         14 Nov, 2015 , 02:20:30pm
                                          </h6>
                                        </div>
                                      </div> 
                                    </div> 
                                    <div class="col-4 text-right justify-content-end pull-right">
                                      <ul class="list-inline d-inline-flex mb-0 text-right pull-right d-flex"> 
                                        <li class="list-inline-item mb-1 h6 text-muted align-self-center">
                                          <a routerLink="#" data-toggle="tooltip" title="Unarchive Notification"
                                            (click)="archievingNotification(mn.Notifications.notId)">
                                            <h6 class="mb-0 font-weight-semibold"> 
                                                    <i class="material-icons md-22">
                                                            unarchive
                                                            </i> 
                                            </h6>
                                          </a>
                                        </li> 
                                      </ul>
                                    </div>
                  
                                  </div>
                  
                                </div>
                              </div>
                        </div>
                      </div>
              
              
              
                    </div>
               
              
                  </div>
        </div>