<div class="main-content-container container-fluid px-4">

  <div class="row justify-content-center">
    <div class="col-12">
      <div class="content-loading text-center" *ngIf="loading">
        <app-loadingcircle></app-loadingcircle>
      </div>
    </div>
  </div>


  <!-- <app-mvest-user-profile></app-mvest-user-profile> -->

  <div class="row py-3">
    <div class="col-xl-12">
      <div class="row justify-content-between no-gutters py-2">

        <div class="col-xl-8">
          <ul class="list-inline d-flex mb-1">
            <li class="list-inline-item h6 text-secondary">Mvest News</li>

          </ul>

          <div class="row justify-content-between no-gutters pb-3">
            <div class="col-xl-12">
              <div class="card card-small shadow blog-comments mb-3" *ngFor="let mn of MyNews">

                <div class="card-header p-0">
                  <div class="media d-flex align-items-center pt-3 px-3">
                    <img class="mr-3 user-pic rounded-circle mr-2" src="assets/images/avatars/Fav-icon.png"
                      alt="Generic placeholder image">
                    <div class="media-body mb-0">
                      <h5 class="text-dark h6 mb-0 font-weight-semibold">Mvest News</h5>
                      <h5 class="text-muted h6 mb-0 font-weight-semibold small">{{mn.time | date:'medium'}}</h5>
                    </div>
                  </div>
                </div>
                <div class="card-body pb-1">
                  <h5 class="text-dark h6 mb-0 font-weight-semibold">{{mn.title | titlecase}}</h5>
                  <p class="text-secondary pt-2 capitalize" [innerHtml]="mn.body">
                  </p>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="col-xl-4">

          <div class="col-xl-12 col-md-12 col-sm-12 mb-4">

            <ul class="list-inline d-flex">
              <li class="list-inline-item h6 text-secondary mb-0">Stats</li>
            </ul>

            <div class="card justify-content-center shadow p-2 mt-3">
              <div class="card-body text-center p-2 ">
                <ul class="list-inline d-flex">
                  <li class="list-inline-item flex-1 h6 mb-0">

                    <span class="text-dark font-weight-semibold"> {{communityStats?.likes}}</span>
                    <br>
                    <small class="font-weight-semibold text-secondary text-uppercase">
                      Likes </small>
                  </li>
                  <li class="list-inline-item flex-1 h6 mb-0">

                    <span class="text-dark font-weight-semibold"> {{communityStats?.notifications}}</span>
                    <br>
                    <small class="font-weight-semibold text-secondary text-uppercase">
                      Notification</small>
                  </li>
                  <li class="list-inline-item flex-1 h6 mb-0">

                    <span class="text-dark font-weight-semibold"> {{communityStats?.posts}}</span>
                    <br>
                    <small class="font-weight-semibold text-secondary text-uppercase">
                      Posts </small>
                  </li>
                </ul>
                <ul class="list-inline d-flex">
                  <li class="list-inline-item flex-1 h6 mb-0">

                    <span class="text-dark font-weight-semibold"> {{communityStats?.messages}}</span>
                    <br>
                    <small class="font-weight-semibold text-secondary text-uppercase">
                      Messages </small>
                  </li>
                  <li class="list-inline-item flex-1 h6 mb-0">

                    <span class="text-dark font-weight-semibold"> {{communityStats?.followers}}</span>
                    <br>
                    <small class="font-weight-semibold text-secondary text-uppercase">
                      Followers</small>
                  </li>
                  <li class="list-inline-item flex-1 h6 mb-0">

                    <span class="text-dark font-weight-semibold"> {{communityStats?.comments}}</span>
                    <br>
                    <small class="font-weight-semibold text-secondary text-uppercase">
                      Comments </small>
                  </li>
                </ul>


              </div>
            </div>


            <ul class="list-inline d-flex pt-3 mb-0">
              <li class="list-inline-item h6 text-secondary">Discussions</li>
              <!-- <li class="list-inline-item ml-auto mb-1">
                <a href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <small class="font-weight-semibold text-secondary mb-0"> Edit</small>
                </a>
              </li> -->
            </ul>

            <!-- <div class="card card-small blog-comments">

           

            </div> -->

            <div class="card card-small blog-comments">

              <div class="card-body p-2" *ngIf="recentDiscussions?.length==0">
                <div class="row text-center text-lg-left">
                  <div class="col-12">
                    No discussions available...
                  </div>
                </div>
              </div>

              <div class="card-body shadow p-0" *ngFor="let rd of recentDiscussions | slice:0:3">
                <a class="cursor-pointer" (click)="goToDiscussionLink(rd?.link)">
                  <div class="media d-flex align-items-center p-3">

                    <ngx-avatar class="mr-3 mr-2" name="{{userName}}" [size]="40" src="{{userImageUrl}}">
                    </ngx-avatar>

                    <div class="media-body mb-0">

                      <h5 class="text-dark h6 mb-0 font-weight-semibold"> <u>{{rd?.title | titlecase | slice:0:60}}</u>
                      </h5>

                    </div>
                  </div>
                </a>
              </div>

            </div>


            <ul class="list-inline pt-3  d-flex mb-0">
              <li class="list-inline-item h6 text-secondary">Photos</li>
            </ul>


            <!-- <div class="row text-center text-lg-left">
              <div class="col-12">
                No photos available...
              </div>
            </div> -->


            <div class="card card-small shadow">

              <div class="card-body p-2" *ngIf="recentPhotos?.length==0">
                <div class="row text-center text-lg-left">
                  <div class="col-12">
                    No photos available...
                  </div>
                </div>
              </div>

              <div class="card-body p-2" *ngIf="recentPhotos?.length>0">
                <div class="row text-center text-lg-left">

                  <div class="col-lg-4 col-md-4 col-6" *ngFor="let rp of recentPhotos">
                    <a href="#" class="d-block mb-4 h-100">
                      <img class="img-fluid img-thumbnailalbumProfile rounded-0" src="{{rp?.thumbnail_file_name}}"
                        width="100px" height="100px" alt="">
                    </a>
                  </div>

                </div>
              </div>
              <div class="card-footer border-top" *ngIf="recentPhotos?.length>0">
                <div class="row">
                  <div class="col text-center view-report">
                    <a class="text-secondary font-weight-bold cursor-pointer"
                      routerLink="/mvest-user-profile/mvest-user-photos">See All
                      Photos</a>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>


    </div>
  </div>

</div>