<div class="main-content-container container-fluid px-4">
  <div class="row pb-3 pt-4">
    <div class="col-12">

      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item align-self-center">
          <a routerLink="/myaccount">
            <h5 class="text-dark mb-0 font-weight-bold mr-3">My Account</h5>
          </a>
        </li>
        <li class="nav-item ">
          <a href="#userdetails" class="active nav-link text-muted font-weight-bold text-uppercase" data-toggle="tab"
            aria-controls="profile" aria-selected="false">My Details</a>
        </li>
        <li class="nav-item ">
          <a routerLink="/notification" class="nav-link text-muted font-weight-bold text-uppercase" data-toggle="tab"
            role="tab" aria-controls="notifications" aria-selected="false">Alerts</a>
        </li>
        <li class="nav-item">
          <a routerLink="/settings" class="nav-link text-muted font-weight-bold text-uppercase" role="tab"
            aria-controls="contact" aria-selected="false">Settings</a>
        </li>
      </ul>
    </div>
  </div>



  <div class="tab-content" id="myTabContent">

    <div class="tab-pane fade show active" id="userdetails" role="tabpanel" aria-labelledby="home-tab">
      <div class="row py-3">
        <div class="col-xl-12">
          <div class="row justify-content-between no-gutters pb-4">
            <div class="col-xl-8">
              <ul class="list-inline d-flex mb-1">
                <li class="list-inline-item h6 text-secondary">User Details</li>
                <li class="list-inline-item ml-auto">
                </li>
                <li *ngIf="!editflag" class="list-inline-item ml-auto mb-1">
                  <a href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                    (click)="openSave()">
                    <small class="font-weight-semibold text-accent mb-0"> Edit</small>
                  </a>
                </li>
                <li *ngIf="editflag" class="list-inline-item ml-auto mb-1">
                  <a href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                    (click)="closeSave()">
                    <small class="font-weight-semibold text-accent mb-0"> Reset</small>
                  </a>
                </li>

              </ul>

              <div class="row justify-content-between no-gutters pb-3" [formGroup]="userProfileForm">

                <div class="col-xl-12">
                  <div class="card card-small  shadow">
                    <div class="card-body p-4">
                      <div class="form-row">
                        <div class="form-group col-4">
                          <label class="font-weight-semibold text-secondary">First Name : </label>
                          <h6 *ngIf="!editflag"><label
                              class="font-weight-normal text-secondary  mb-0">{{g.FirstName.value | titlecase}} </label>
                          </h6>
                          <input *ngIf="editflag" type="text" value="Atul" class="form-control h6"
                            formControlName="FirstName">
                        </div>
                        <div class="form-group col-6">
                          <label class="font-weight-semibold text-secondary">Last Name : </label>
                          <h6 *ngIf="!editflag"><label
                              class="font-weight-normal text-secondary mb-0">{{g.LastName.value | titlecase}} </label>
                          </h6>
                          <input *ngIf="editflag" type="text" value="Pawase" class="form-control h6"
                            formControlName="LastName">
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="form-group col-4">
                          <label class="font-weight-semibold text-secondary">Phone No: </label>
                          <h6 *ngIf="!editflag"><label
                              class="font-weight-normal text-secondary mb-0">{{g.PhoneNo.value}}
                            </label></h6>
                          <input *ngIf="editflag" type="text" value=" 9786523487" class="form-control h6"
                            formControlName="PhoneNo">
                        </div>
                        <div class="form-group col-6">
                          <label class="font-weight-semibold text-secondary">eMail Id : </label>
                          <h6 *ngIf="!editflag"><label class="font-weight-normal text-secondary mb-0">{{g.Email.value}}
                            </label></h6>
                          <input *ngIf="editflag" disabled type="text" value=" atul22@gmail.com"
                            class=" form-control h6  [disabled]='disableTextbox'" formControlName="Email">
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="form-group col-12">
                          <label class="font-weight-semibold text-secondary">Mailing Street Address : </label>
                          <h6 *ngIf="!editflag"><label
                              class="font-weight-normal text-secondary mb-0">{{g.Address.value}} </label></h6>

                          <input *ngIf="editflag" type="text" class="bg-light"
                            value="422/A/45, Iris garden, Model Colony, Near Om Super Market, Viman Nagar"
                            class=" form-control h6" formControlName="Address">
                        </div>
                      </div>
                      <div class="form-row">




                        <div class="form-group col-4">
                          <label class="font-weight-semibold text-secondary">State : </label>
                          <h6 *ngIf="!editflag"><label class="font-weight-normal text-secondary mb-0">{{userStateName}}
                            </label></h6>
                          <select *ngIf="editflag" class="form-control border" formControlName="State" id="State">
                            <option *ngFor="let s of stateList" value={{s.masterdata_id}}>{{s.name}}</option>
                          </select>

                        </div>


                        <div class="form-group col-4">
                          <label class="font-weight-semibold text-secondary">City : </label>
                          <h6 *ngIf="!editflag"><label
                              class="font-weight-normal text-secondary mb-0">{{g.City.value | titlecase}}
                            </label></h6>
                          <input *ngIf="editflag" type="text" value=" Pune  " class=" form-control h6"
                            formControlName="City">
                        </div>
                        <div class="form-group col-4">
                          <label class="font-weight-semibold text-secondary">Pin Code : </label>
                          <h6 *ngIf="!editflag"><label
                              class="font-weight-normal text-secondary mb-0">{{g.PinCode.value}} </label>
                          </h6>
                          <input *ngIf="editflag" type="text" value=" 411060 " class="form-control h6"
                            formControlName="PinCode">
                        </div>
                      </div>
                    </div>
                    <div *ngIf="savebutton" class="card-footer d-flex border-top ">
                      <button class="btn btn-accent text-white rounded-0  px-5  ml-auto text-uppercase"
                        (click)="updateUserProfile()">Update Details
                      </button>
                    </div>

                  </div>
                </div>
              </div>

            </div>



            <div class="col-xl-4">
              <div class="col-xl-12 col-md-12 col-sm-12 mb-4">
                <ul class="list-inline d-flex">
                  <li class="list-inline-item h6 text-secondary mb-0">Security</li>
                </ul>
                <div class="card justify-content-between shadow d-flex card-small ">
                  <div class="card-body text-center py-3">
                    <div class="form-group text-left mb-0">
                      <a routerLink="#" (click)="openChangePassword()">Change Password</a>

                      <div *ngIf="Openpassword">
                        <div class="pt-2">
                          <label class="text-secondary">Old Password</label>
                          <input formControlName="oldPwd" id="oldPwd" type="password" class="form-control">
                        </div>
                        <div class="py-3">
                          <label class="text-secondary">New Password</label>
                          <input formControlName="newPwd" id="newPwd" type="password" class="form-control">
                        </div>
                        <div class="pb-3">
                          <label class="text-secondary">Confirm Password</label>
                          <input formControlName="confirmPwd" id="confirmPwd" type="password" class="form-control">
                        </div>
                        <div class="pb-3 justify-content-end text-right">
                          <button type="button"
                            class="btn btn-accent text-white rounded-0 text-uppercase px-5 mr-2 pull-right">Update</button>
                          <button type="button"
                            class="btn btn-outline-accent  rounded-0 text-uppercase px-5  pull-right"
                            (click)="closeChangePassword()">Cancel</button>

                        </div>

                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>


  </div>