<div class="main-content-container container-fluid px-4">


    <div class="row pt-3">
        <div class="col-xl-12 col-md-12 col-sm-12">
            <a routerLink="/community/profile" class="cursor-pointer d-flex d-inline-flex">
                <h6 class="font-weight-semibold text-muted align-self-center mb-0 pr-2">
                    <i class="material-icons md-20 icon-muted">
                        arrow_back
                    </i> </h6>
                <h6 class="font-weight-semibold text-muted align-self-center mb-0">
                    Go to My Profile </h6>
            </a>
        </div>
    </div>

    <div class="row pb-4 py-2">
        <div class="col-xl-12 col-md-12 col-sm-12">
            <!-- Profile widget -->
            <div class="bg-warning shadow overflow-hidden">
                <!-- <div class="px-4 pb-4 py-4 "
                    style="height:200px; background: url(assets/images/bg-pattern33.png) no-repeat;background-size:cover;"> -->

                <div class="px-4 pb-4 py-4 " [ngStyle]="returnCoverPhoto()">

                    <div class="media align-items-end profile-header ">
                        <div class="justify-content-start mr-3">
                            <ngx-avatar name=" {{userDetails?.f_name}} {{userDetails?.l_name}}" [size]="100"
                                class="rounded-50 profile img-thumbnail" src="{{userImageUrl}}"></ngx-avatar>
                        </div>

                        <div class="media-body justify-content-center text-left text-white ">
                            <h4 class="text-white font-weight-medium username">
                                {{userDetails?.f_name | titlecase}} {{userDetails?.l_name | titlecase}}
                            </h4>
                            <h6 class="text-white font-weight-medium user-tagline">{{userDetails?.tag_line}}
                            </h6>
                        </div>

                        <div class="profile-btn justify-content-end align-self-end">

                            <ul class="list-inline d-inline-flex mb-0">

                                <li class="list-inline-item mb-0 h6 text-muted">
                                    <a *ngIf="isConnect" data-toggle="modal" data-target=".cover-modal-lg"
                                        class="btn btn-outline-white btn-sm btn-block text-uppercase">Dis-connect</a>
                                    <a *ngIf="!isConnect" data-toggle="modal" data-target=".cover-modal-lg"
                                        class="btn btn-outline-white btn-sm btn-block text-uppercase">Connect</a>
                                </li>


                                <li class="list-inline-item mb-0 h6 text-muted">
                                    <a *ngIf="isFollowingUser()" data-toggle="modal" data-target=".cover-modal-lg"
                                        class="btn btn-outline-white btn-sm btn-block text-uppercase">Unfollow</a>
                                    <a *ngIf="!isFollowingUser()" data-toggle="modal" data-target=".cover-modal-lg"
                                        class="btn btn-outline-white btn-sm btn-block text-uppercase">Follow</a>
                                </li>
                                <li class="list-inline-item mb-0 font-weight-semibold rounded-border ">
                                    <a
                                        class=" text-white text-uppercase align-self-center d-flex d-inline-flex cursor-pointer">
                                        <i class="material-icons md-18 px-2 pt-2 pb-2">mail</i></a>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
                <div class="bg-dark text-white px-4 py-2 d-flex justify-content-start text-center">
                    <ul class="nav nav-tabs sub-tab border-0 ml-5">
                        <li class="nav-item bg-dark ml-5">
                            <a routerLink="/mvest-user-profile/mvest-user"
                                class="nav-link text-white font-weight-normal cursor-pointer" role="tab"
                                aria-controls="" aria-selected="false" routerLinkActive='active'>Timeline</a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="/mvest-user-profile/mvest-user-following"
                                class="nav-link text-white font-weight-normal" role="tab" aria-controls="contact"
                                aria-selected="false" routerLinkActive='active'>Following</a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="/mvest-user-profile/mvest-user-neighbors"
                                class="nav-link text-white font-weight-normal" role="tab" aria-controls="contact"
                                aria-selected="false" routerLinkActive='active'>Neighbors</a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="/mvest-user-profile/mvest-user-photos"
                                class="nav-link text-white font-weight-normal" role="tab" aria-controls="contact"
                                aria-selected="false" routerLinkActive='active'>Photos</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- End profile widget -->
        </div>
    </div>

</div>

<router-outlet></router-outlet>