<div class="main-content-container container-fluid px-4">
   
    <app-community></app-community> 
    <div class="row">
        <div class="col-xl-12 pb-1 pt-3">
            <ul class="nav nav-tabs sub-tab border-0" id="photos-tab" role="tablist">
                <li class="nav-item align-self-center">
                    <!-- <h5 *ngIf="myConnectedNeighbors.length==0" class="text-dark mb-1 font-weight-bold mr-3 align-self-center">Neighbors(0)</h5> -->
                    <h5 class="text-dark mb-1 font-weight-bold mr-3 align-self-center">Neighbors({{allNeighboursCount}})</h5>
                </li>
                <li class="nav-item align-self-center mb-0 text-accent pr-3">
                    <select [value]="null" class="text-accent border-0 font-weight-semibold dropdown-toggle"
                    (change)="selectListType($event)"> 
                         <option value="null" hidden>My Lists</option>
                        <option *ngFor="let mls of membersList" value="{{mls.id}}&{{mls.list_name}}">{{mls.list_name}}</option>
                      </select>
                </li> 
               
                <div class="ml-auto d-inline-flex">
                        <li class="nav-item pull-right mr-3 align-self-center">
                                <a routerLink="#" class="btn btn-outline-accent btn-sm btn-block text-uppercase " (click)="openNewListModal(newListModal)">New List</a>
                            </li> 
                    <li class="nav-item pull-right mr-3 align-self-center">
                        <a routerLink="" class="btn btn-outline-accent btn-sm btn-block text-uppercase" data-toggle="modal" data-target="#newNeighbor-modal-lg" (click)="openNewNeighborModal(newNeighborModal)"> New Neighbors</a>
                    </li> 
                    <li class="nav-item pull-right mr-3 align-self-center">
                          <a routerLink="#" data-toggle="tooltip" title="Search by Filer" class="badge badge-accent rounded-5 text-white text-uppercase " (click)="openSearchFilterModal(searchFilterModal)" >
                            <i class="material-icons md-18">
                                    filter_list
                                    </i>
                            </a>
                      </li> 
                    <li class="nav-item pull-right mr-3 align-self-center">
                        <form id="search-form" class="form-inline" role="form" method="post"
                            action="//www.google.com/search" target="_blank">
                            <div class="input-group search">
                                <input type="text" class="form-control search-form" [(ngModel)]="searchText"
                                [ngModelOptions]="{standalone: true}" placeholder="Search"> 
                                <span class="input-group-btn">
                                    <button type="submit" class="search-btn" data-target="#search-form" name="q">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span> 
                            </div>
                        </form>
                    </li> 
                    
                </div>
            </ul> 
        </div> 
    </div>

    <div *ngIf="showFilter" class="row justify-content-between gutters-1">
            <div class="col-md-12 col-xl-12">
                <div class="card card-small mt-1 shadow-sm">
                    <div class="card-body p-0">
                        <div class="row p-1">
                            <div class="col-12">
                                <ul class="nav nav-tabs sub-tab border-0">                                  
                                    <li class="nav-item align-self-center mb-0 text-accent p-1">                                     
                                        <h6 class="text-accent font-weight-semibold mb-0">All Neighbors</h6>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    
        <div *ngIf="!showFilter" class="row justify-content-between gutters-1">
                <div class="col-md-12 col-xl-12">
                    <div class="card card-small mt-1 shadow-none">
                        <div class="card-body p-0">
                            <div class="row">
                                <div class="col-12">
                                    <ul class="nav nav-tabs sub-tab border-0">
                                            <li *ngIf="leaseFilter" class="nav-item align-self-center mb-0 text-accent p-2 shadow-sm mr-2">                                          
                                                    <h6 class="text-accent font-weight-semibold mb-0">Lease : {{leaseName}}<a routerLink="#" (click)="closeLeaseFilter()"><span class="pl-3 text-muted font-weight-semibold">&times;</span></a></h6>
                                                </li>
                                                <!-- <li *ngIf="distanceFilter" class="nav-item align-self-center mb-0 text-accent p-2 shadow-sm mr-2">                                          
                                                        <h6  class="text-accent font-weight-semibold mb-0">Distance : {{f.distanceWithin.value}} miles away<a routerLink="#" (click)="closeDistanceFilter()"><span class="pl-3 text-muted font-weight-semibold">&times;</span></a></h6>
                                                    </li> -->
                                       
                                        <li *ngIf="countyFilter" class="nav-item align-self-center mb-0 text-accent p-2 shadow-sm mr-2">                                          
                                            <h6 class="text-accent font-weight-semibold mb-0">County : Karnes<a routerLink="#" (click)="closeCountyFilter()"><span class="pl-3 text-muted font-weight-semibold">&times;</span></a></h6>
                                        </li>
                                        <li *ngIf="operatorFilter" class="nav-item align-self-center mb-0 text-accent p-2 shadow-sm mr-2 ">     
                                                <h6 class="text-accent font-weight-semibold mb-0 ">  Operator : Joe Shon <a routerLink="#" (click)="closeOperatorFilter()"><span class="pl-3 text-muted font-weight-semibold">&times;</span></a> </h6>                                          
                                            </li> 
                                            <!-- <li *ngIf="playTypeFilter" class="nav-item align-self-center mb-0 text-accent p-2 shadow-sm mr-2 ">
                                                    <h6 class="text-accent font-weight-semibold mb-0">  Play Type : 1 <a routerLink="#" (click)="closePlayTypeFilter()"><span class="pl-3 text-muted font-weight-semibold">&times;</span></a></h6>                                              
                                                </li>  -->
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 

            <div class="row justify-content-center text-center gutters-1 py-3" *ngIf="acceptedRequests?.length==0 && allNeighboursCount==0 && neighboursListDetails?.length==0">
                <div class="col-md-3 text-center col-3 col-xl-3 py-5 ">   
                        <img src="assets/images/new-neighbors3.png" class="" alt="New Neighbors Image" height="250px" width="auto">
                      </div>     
                        <div class="col-md-6 text-left col-6 col-xl-6  px-4 d-flex">
                            <div class="align-self-center">
                            <h6 class="text-secondary font-weight-semibold text-uppercase">No Neighbors yet !</h6> 
                            <h6 class="text-muted font-weight-semibold ">Here, you will be able to see all Requested and Connected Neighbors. </h6> 
                            <h6 class="text-muted font-weight-semibold ">You can connect to Nearby  Neighbors by clicking on "New Neighbors" in the above tab.</h6>           
                  </div> 
                </div>      
              </div>

            <div class="row justify-content-center text-center gutters-1 py-3" *ngIf="acceptedRequests?.length==0 && allNeighboursCount>0 && neighboursListDetails?.length==0">
                <div class="col-md-3 text-center col-3 col-xl-3 py-5 ">   
                        <img src="assets/images/new-neighbors3.png" class="" alt="New Neighbors Image" height="250px" width="auto">
                      </div>     
                        <div class="col-md-6 text-left col-6 col-xl-6  px-4 d-flex">
                            <div class="align-self-center">
                            <h6 class="text-secondary font-weight-semibold text-uppercase">No Neighbors found for your search criteria !</h6> 
                            <h6 class="text-muted font-weight-semibold ">Here, you will be able to see all Requested and Connected Neighbors. </h6> 
                            <h6 class="text-muted font-weight-semibold ">You can connect to Nearby  Neighbors by clicking on "New Neighbors" in the above tab.</h6>           
                  </div> 
                </div>      
              </div>

            <div class="row justify-content-center">
                    <div class="col-12">
                      <div class="content-loading text-center" *ngIf="loading">
                        <app-loadingcircle></app-loadingcircle>
                      </div>
                    </div>
                  </div>

        <div class="row justify-content-between gutters-1">
            <div class="col-md-12 col-xl-12"> 

                <div class="row justify-content-between  pb-3 ">

                    <div class="col-xl-6 col-md-6 col-sm-6" *ngFor="let cr of acceptedRequests | filter:searchText | paginate: { itemsPerPage: 6, currentPage: p }">  
                        
                        <div class="card card-small blog-comments mt-3"> 
                            <div class="card-body p-0"> 
                                <div class="row p-3">
                                    <div class="col-8">
                                        <div class="media mb-0">

                                          <ngx-avatar class="mr-3 mr-2"
                                          name="{{cr?.name}}" [size]="40" src="">
                                      </ngx-avatar>

                                            <!-- <img class="mr-3 user-pic rounded-circle mr-2"
                                                src="assets/images/avatars/0.jpg" alt="Generic placeholder image"> -->

                                            <div class="media-body mb-0">
                                                <h5 class="text-dark h6 mb-0 font-weight-semibold">{{cr.name | titlecase}}</h5>
                                                <a> 
                                                        <h5 class="text-dark h6 mb-0  text-muted"> 
                                                            {{cr.lease_name | titlecase}}  </h5>
                                                        </a>
                                                <ul class="list-inline d-flex mb-0">
                                                    <li class="list-inline-item mb-1 font-weight-semibold small text-muted">
                                                        {{cr.distance}} miles away
                                                    </li>

                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" col-4  justify-content-end text-right" *ngIf="cr.status=='accepted'">
                                            <h6 class="mb-0"> 
                                            <a><i class="material-icons md-18 icon-muted">
                                                        mail_outline
                                                        </i></a>    
                                            </h6> 
                                        <h6  class="mb-0"> <i class="material-icons mr-1 text-muted">check_circle_outline
                                            </i><small class="text-muted font-weight-semibold text-uppercase">connected
                                            </small> </h6> 
                                    </div> 

                                    <div class=" col-4 d-flex justify-content-end text-right" *ngIf="cr.status=='Requested'">


                                        <h6  class="mb-0 align-self-center">
                                                <button type="button"
                                                    class=" btn btn-accent align-self-center text-uppercase">Requested</button>
                                            </h6> 
                                </div> 

                                </div> 
                            </div> 
                        </div>
                    </div>

                  </div>

                    <div class="row justify-content-between  pb-3 " *ngIf="acceptedRequests?.length==0 && neighboursListDetails?.length>0">

                    <div class="col-xl-6 col-md-6 col-sm-6" *ngFor="let snr of neighboursListDetails | filter:searchText | paginate: { itemsPerPage: 6, currentPage: p }">  
                        
                        <div class="card card-small blog-comments mt-3"> 
                            <div class="card-body p-0"> 
                                <div class="row p-3">
                                    <div class="col-8">
                                        <div class="media mb-0">

                                          <ngx-avatar class="mr-3 mr-2"
                                          name="{{snr?.name}}" [size]="40" src="">
                                      </ngx-avatar>

                                            <!-- <img class="mr-3 user-pic rounded-circle mr-2"
                                                src="assets/images/avatars/0.jpg" alt="Generic placeholder image"> -->

                                            <div class="media-body mb-0">
                                                <h5 class="text-dark h6 mb-0 font-weight-semibold">{{snr.name}}</h5>
                                                <a> 
                                                        <h5 class="text-dark h6 mb-0  text-muted"> 
                                                            {{snr.lease_name}}  </h5>
                                                        </a>
                                                <ul class="list-inline d-flex mb-0">
                                                    <li class="list-inline-item mb-1 font-weight-semibold small text-muted">
                                                        {{snr.distance}} miles away
                                                    </li>

                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" col-4  justify-content-end text-right">
                                            <h6 class="mb-0">
                                             
                                            <a><i class="material-icons md-18 icon-muted">
                                                        mail_outline
                                                        </i></a>    
                                            </h6> 
                                        <h6  class="mb-0"> <i class="material-icons mr-1 text-muted">check_circle_outline
                                            </i><small class="text-muted font-weight-semibold text-uppercase">connected
                                            </small> </h6> 
                                    </div> 

                                </div> 
                            </div> 
                        </div>
                    </div>
                 
                </div>
            </div>
          
        </div>

        <hr>

        <div class="row justify-content-end text-right py-3">
                <div class="col-md-12 col-xl-12 text-right">

        <!-- <nav aria-label="Page navigation example bg-dark">
                <ul class="nav justify-content-end px-3 ">
                     
                  <li class="page-item border">
                    <a class="page-link py-1 h6 bg-accent " href="#" aria-label="Previous">
                      <span class="font-30" aria-hidden="true">&laquo;</span>
                      <span class="sr-only">Previous</span>
                    </a>
                  </li>
                 
                  <li class="text-accent font-weight-bold h6 p-2 align-self-center mb-0"> 1/10 </li> 
                  <li class="page-item border">
                    <a class="page-link py-1 h6 bg-accent" href="#" aria-label="Next">
                      <span class="font-30" aria-hidden="true">&raquo;</span>
                      <span class="sr-only">Next</span>
                    </a>
                  </li>
              
                </ul>
              </nav> -->


              <pagination-controls (pageChange)="p = $event"></pagination-controls>

        </div>
        </div>    
   
</div>


<ng-template #newListModal>
  

      <div class="modal-content" [formGroup]="newListForm">
        
        <div class="justify-content-end">
                <button aria-label="Close" type="button" class="close bg-accent " aria-hidden="true"
                   (click)="closeNewListModal()">
             <span aria-hidden="true">&times;</span>
                </button>
            </div>
        <div class="modal-body pb-0">
            <div class="form-row">
                <div class="form-group col-12">
                    <h6 class="font-weight-semibold pr-3"> Create New List :</h6>
                    <input type="text" formControlName="listName" placeholder="Enter List Name" class="form-control"
                    [ngClass]="{ 'is-invalid': submitNewListForm && n.listName.errors }">
                    <div *ngIf="submitNewListForm && n.listName.errors" class="invalid-feedback">
                        <div *ngIf="n.listName.errors.required">List Name is required</div>
                      </div> 
                </div>
            </div> 
          <a *ngIf="!additionalfilterflag" routerLink="#"(click)="openAdditionalFilter()">
               <div class="form-row pt-2 d-flex icon-muted">
                    <div class="form-group col-12 border d-flex bg-light ">
                    <h6 class="font-weight-semibold pr-3 align-self-center mb-0 p-2">Additional Filters :</h6> 
                    <i class="material-icons icon-muted md-24 ml-auto align-self-center">
                            add_circle
                            </i>
                </div>
        </div> 
    </a>
    <a *ngIf="additionalfilterflag" routerLink="#"(click)="closeAdditionalFilter()">
            <div class="form-row pt-2 d-flex  icon-muted">
                 <div class="form-group col-12 border d-flex bg-light">
                 <h6 class="font-weight-semibold pr-3 align-self-center mb-0 p-2">Additional Filters :</h6> 
                 <i class="material-icons md-24 ml-auto icon-muted align-self-center">
                        remove_circle
                        </i>
             </div>
     </div> 
 </a>
            <div  *ngIf="AdditionalFilterPage">
                    <div  class="p-3" [ngClass]="newListGroup?'shadow-sm':'shadow-none'">
                            <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="newList1" name="newList" class="custom-control-input" value="radio1" (change)="toggleNewListGroup()" checked >
                                    <label [ngClass]="newListGroup?'text-secondary':'text-muted'" class="custom-control-label font-weight-semibold" for="newList1"> Filters For Lease Name And Distance</label>
                                  </div>
                           
                            <div  class="form-row pt-2" >
                                <div   class="form-group col-4">
                                                <label [ngClass]="newListGroup?'text-secondary':'text-muted'" class="font-weight-semibold text-secondary pr-3 h6">Lease Name :</label>
                                                <select class="form-control border" [value]="null" id="exampleFormControlSelect1" [disabled]="!newListGroup"
                                                (change)="selectLeaseForNewList($event)">
                                                        <option value="null" hidden>Select Lease</option>
                                                        <option *ngFor="let l of myLeases" value="{{l.leasenumber}}">{{l.leasename}}</option> 
                                                      </select>
                                            </div>

                                             <!-- <div class="form-group col-4">
                                            <label [ngClass]="newListGroup?'text-secondary':'text-muted'" class="font-weight-semibold text-secondary pr-3 h6">Distance :</label>
                                            <select class="form-control border" id="exampleFormControlSelect1" [disabled]="!newListGroup"
                                            (change)="selectDistanceForNewList($event)">
                                              <option [value]="null" hidden> Select Distance </option> 
                                              <option [value]="2.5">2.5 miles away</option>
                                              <option [value]="5.0">5.0 miles away</option>
                                              <option [value]="7.5">7.5 miles away</option>
                                              <option [value]="10.0">10.0 miles away</option>
                                                  </select>
                                        </div>  -->

                                </div>
                            </div>
                                
                                
                                <div class="pt-3 p-3" [ngClass]="!newListGroup?'shadow-sm':'shadow-none'">
                                
                                <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="newList2" name="newList" value="radio2"  class="custom-control-input"  (change)="toggleNewListGroup()"  >
                                        <label [ngClass]="!newListGroup?'text-secondary':'text-muted'"  class="custom-control-label font-weight-semibold" for="newList2"> Filters For County, Operator And PlayType </label>
                                      </div>
    
                                <div class="form-row pt-2 " >
                                      <div class="form-group col-4">
                                        <label [ngClass]="!newListGroup?'text-secondary':'text-muted'" class="font-weight-semibold text-secondary pr-3">County</label>
                                        <select class="form-control border" id="exampleFormControlSelect1" [disabled]="newListGroup"
                                        (change)="selectCountyForNewList($event)">
                                                <option value="null" hidden> Select County </option>
                                                <option *ngFor="let cl of countyList" value="{{cl.county_no}}">{{cl.county_name}}</option>
                                              </select>
                                    </div> 
                                   
                                        <div class="form-group col-4">
                                            <label [ngClass]="!newListGroup?'text-secondary':'text-muted'" class="font-weight-semibold  text-secondary pr-3">Operator</label>
                                            <select class="form-control border" id="exampleFormControlSelect1" [disabled]="newListGroup"
                                            (change)="selectOperatorForNewList($event)">
                                                    <option value="null" hidden> Select Operator </option>
                                                    <option *ngFor="let ol of operatorList" value="{{ol.county_no}}">{{ol.county_name}}</option>
                                                  </select>
                                        </div>
                                        <div class="form-group col-4">
                                                <label [ngClass]="!newListGroup?'text-secondary':'text-muted'" class="font-weight-semibold text-secondary pr-3">Play Type :</label>
                                                <select class="form-control border" id="exampleFormControlSelect1" [disabled]="newListGroup">
                                                        <option> Select Play Type </option> 
                                                        <!-- <option>Play Type 1</option>
                                                        <option>Play Type 2</option>
                                                        <option>Play Type 3</option>
                                                        <option>Play Type 4</option>
                                                        <option>Play Type 5</option>  -->
                                                      </select>
                                            </div>
                                            
                                    </div>
                                </div>
                </div>
            <hr>
                    <div class="form-row ">
                            <div class="form-group col-12 ">
                            <h6 class="font-weight-semibold  mb-0">Select Neighbors to Add :</h6> 
                    </div>
                </div> 
                <div class="form-row ">

                    <div class="form-group col-12 " *ngIf="newListFilteredMembers.length==0">
                    <h6>There are no neighbors for your search criteria...</h6>
                    </div>

                        <div class="form-group col-12 " *ngIf="newListFilteredMembers.length>0">                      
                                <table class="table">
                                        <div class="scrollit"> 
                                        <thead class="thead-light">
                                          <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">County</th>
                                            <th scope="col">Distance</th>
                                            <th scope="col">Lease Name</th>
                                            <th scope="col">Operator</th>
                                          </tr>
                                        </thead>
                                        <tbody >
                                          <tr *ngFor="let nlfm of newListFilteredMembers">
                                            <td scope="row" >
                                                 
                                            <input type="checkbox" id="{{nlfm.neighbor_id}}" [checked]="false" formControlName="addedNeighbors" value="{{nlfm.neighbor_id}}" aria-label="Checkbox for following text input"
                                            (change)="onAddedNeighborSelection($event,nlfm)">
                                                       
                                            </td>
                                            <td>{{nlfm.name}}</td>
                                            <td>Karnes</td>
                                            <td>{{nlfm.distance}} miles away</td>
                                            <td>{{nlfm.lease_name}}</td>
                                            <td>Naya Hale</td>
                                          </tr>

                                       
                                        </tbody>
                                    </div>
                                      </table>
                </div>
                <div class="form-group col-12 " *ngIf="checkCheckboxFlag">
                  <h6 class="text-danger">Please select at least one neighbor.</h6>
                </div>
            </div> 
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-accent text-uppercase" (click)="saveNeighborList()">Create List</button>
          <!-- <button type="button" class="btn btn-outline-accent" data-dismiss="modal">Close</button> -->
        </div>
      </div>
 
  </ng-template>




<ng-template #searchFilterModal>

        <div class="modal-content">  
            <div class="justify-content-end">
                    <button aria-label="Close" type="button" class="close bg-accent " aria-hidden="true"
                    (click)="closeSearchFilter()">
                 <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                        <div class="form-row">
                         
                        </div>
                        <div class="form-row">
                                <h6 class="font-weight-semibold pr-3">Additional Filters :</h6> 
                        </div>
                        <div  class="p-3" [ngClass]="filterGroup?'shadow-sm':'shadow-none'">
                        <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="customRadioInline1" name="filter" class="custom-control-input" value="radio1" (change)="toggleFilterGroup()" [checked]="filterGroup" >
                                <label [ngClass]="filterGroup?'text-secondary':'text-muted'" class="custom-control-label font-weight-semibold" for="customRadioInline1"> Choose Lease Name And Distance</label>
                              </div>
                       
                        <div  class="form-row pt-2" [formGroup]="searchFilterLeaseForm">
                            <div   class="form-group col-4">
                                            <label [ngClass]="filterGroup?'text-secondary':'text-muted'" class="font-weight-semibold text-secondary pr-3 h6">Lease Name :</label>
                                            <select class="form-control border" [value]="null" id="lease1" formControlName="leaseName" [attr.disabled]="!filterGroup?'':null"
                                            (change)="getSearchFilterLeaseValues($event)" [ngClass]="{ 'is-invalid': submitsearchFilterLeaseForm && f.leaseName.errors }">
                                                    <option [value]="null" hidden>Select Lease</option>
                                                    <option *ngFor="let ml of myLeases" value="{{ml.leasenumber}}&{{ml.dist_number}}&{{ml.leasename}}">{{ml.leasename | titlecase}}</option>
                                                  </select>
                                                  <div *ngIf="submitsearchFilterLeaseForm && f.leaseName.errors" class="invalid-feedback">
                                                      <div *ngIf="f.leaseName.errors.required">Lease Name is required</div>
                                                    </div> 
                                        </div>
                                     

                                         <!-- <div class="form-group col-4">
                                        <label [ngClass]="filterGroup?'text-secondary':'text-muted'" class="font-weight-semibold text-secondary pr-3 h6">Distance :</label>
                                        <select class="form-control border" id="exampleFormControlSelect1" formControlName="distanceWithin" [attr.disabled]="!filterGroup?'':null">
                                                <option [value]="null" hidden> Select Distance </option> 
                                                    <option [value]="2.5">2.5 miles away</option>
                                                    <option [value]="5.0">5.0 miles away</option>
                                                    <option [value]="7.5">7.5 miles away</option>
                                                    <option [value]="10.0">10.0 miles away</option>
                                              </select>
                                    </div>  -->
                            </div>
                        </div>
                            
                            
                            <div class="pt-3 p-3" [ngClass]="!filterGroup?'shadow-sm':'shadow-none'">
                            
                            <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="customRadioInline2" name="filter" value="radio2"  class="custom-control-input"  (change)="toggleFilterGroup()" [checked]="!filterGroup" >
                                    <label [ngClass]="!filterGroup?'text-secondary':'text-muted'"  class="custom-control-label font-weight-semibold" for="customRadioInline2"> Choose County, Operator And PlayType </label>
                                  </div>

                            <div class="form-row pt-2 " [formGroup]="searchFilterCountyOperatorForm">
                                  <div class="form-group col-4">
                                    <label [ngClass]="!filterGroup?'text-secondary':'text-muted'" class="font-weight-semibold text-secondary pr-3">County</label>
                                    <select class="form-control border" [value]="null" id="county1" formControlName="county" [attr.disabled]="filterGroup?'':null"
                                    (change)="getSearchFilterCountyValues($event)"
                                    [ngClass]="{ 'is-invalid': submitSearchFilterCountyOperatorForm && c.county.errors }">
                                        <option [value]="null" hidden> Select County </option>
                                        <option *ngFor="let cl of countyList" value="{{cl.county_no}}">{{cl.county_name}}</option>
                                          </select>
                                          <div *ngIf="submitSearchFilterCountyOperatorForm && c.county.errors" class="invalid-feedback">
                                              <div *ngIf="c.county.errors.required">County Name is required</div>
                                            </div> 
                                </div> 
                               
                                    <div class="form-group col-4">
                                        <label [ngClass]="!filterGroup?'text-secondary':'text-muted'" class="font-weight-semibold  text-secondary pr-3">Operator</label>
                                        <select class="form-control border" [value]="null" id="operator1" formControlName="operator" [attr.disabled]="filterGroup?'':null"
                                        (change)="getSearchFilterOperatorValues($event)"
                                        [ngClass]="{ 'is-invalid': submitSearchFilterCountyOperatorForm && c.operator.errors }">
                                            <option [value]="null" hidden> Select Operator </option>
                                            <option *ngFor="let ol of operatorList" value="{{ol.county_no}}">{{ol.county_name}}</option>
                                              </select>
                                              <div *ngIf="submitSearchFilterCountyOperatorForm && c.operator.errors" class="invalid-feedback">
                                                  <div *ngIf="c.operator.errors.required">Operator Name is required</div>
                                                </div> 
                                    </div>
                                    <div class="form-group col-4">
                                            <label [ngClass]="!filterGroup?'text-secondary':'text-muted'" class="font-weight-semibold text-secondary pr-3">Play Type :</label>
                                            <select class="form-control border" id="exampleFormControlSelect1" [disabled]="filterGroup">
                                                    <option> Select Play Type </option> 
                                                  </select>
                                        </div>
                                        
                                </div>
                            </div>
                    </div>
            <div class="modal-footer">
              <button routerLink="#" type="button" class="btn btn-accent" (click)="searchFilterData()">Search</button>             
            </div>
          </div> 
  
    </ng-template>


    <ng-template #newNeighborModal>

              <div class="modal-content">
                
                <div class="justify-content-end">
                        <button aria-label="Close" type="button" class="close bg-accent " aria-hidden="true"
                       (click)="closeNewNeighborModal()">
                     <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                            <div class="form-row">
                             
                            </div>
                            <div class="form-row">
                                    <h6 class="font-weight-semibold pr-3">Additional Filters :</h6> 
                            </div>
                            <div  class="p-3" [ngClass]="newNeighborGroup?'shadow-sm':'shadow-none'">
                            <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="neighborradio1" name="neighborfilter" class="custom-control-input" value="radio1" (change)="toggleNewNeighborGroup()" [checked]="newNeighborGroup" >
                                    <label [ngClass]="newNeighborGroup?'text-secondary':'text-muted'" class="custom-control-label font-weight-semibold" for="neighborradio1"> Choose Lease Name And Distance</label>
                                  </div>
                           
                            <div  class="form-row pt-2" [formGroup]="newNeighborLeaseForm">
                                <div   class="form-group col-4">
                                                <label [ngClass]="newNeighborGroup?'text-secondary':'text-muted'" class="font-weight-semibold text-secondary pr-3 h6">Lease Name :</label>
                                                <select class="form-control border" id="exampleFormControlSelect1" formControlName="leaseName" 
                                                (change)="selectLeaseForNewNeighbor($event)" [value]="null" [attr.disabled]="!newNeighborGroup?'':null"
                                                [ngClass]="{ 'is-invalid': submitNewNeighborLeaseForm && g.leaseName.errors }">
                                                        <option [value]="null" hidden>Select Lease</option>
                                                        <option *ngFor="let ml of myLeases" value="{{ml.leasenumber}}&{{ml.dist_number}}&{{ml.leasename}}" >{{ml.leasename | titlecase}}</option>
                                                      </select>
                                                      <div *ngIf="submitNewNeighborLeaseForm && g.leaseName.errors" class="invalid-feedback">
                                                          <div *ngIf="g.leaseName.errors.required">Lease Name is required</div>
                                                        </div> 
                                            </div>
                                           
                                             <!-- <div class="form-group col-4">
                                            <label [ngClass]="newNeighborGroup?'text-secondary':'text-muted'" class="font-weight-semibold text-secondary pr-3 h6">Distance :</label>
                                            <select class="form-control border" id="exampleFormControlSelect1" formControlName="distanceWithin" [value]="null" [attr.disabled]="!newNeighborGroup?'':null"
                                            [ngClass]="{ 'is-invalid': submitNewNeighborForm && g.distanceWithin.errors }">
                                                    <option [value]="null" hidden> Select Distance </option> 
                                                    <option [value]="2.5">2.5 miles away</option>
                                                    <option [value]="5.0">5.0 miles away</option>
                                                    <option [value]="7.5">7.5 miles away</option>
                                                    <option [value]="10.0">10.0 miles away</option>
                                                  </select>
                                                  <div *ngIf="submitNewNeighborForm && g.distanceWithin.errors" class="invalid-feedback">
                                                      <div *ngIf="g.distanceWithin.errors.required">Distance is required</div>
                                                    </div> 
                                        </div>  -->
                                       
                                </div>
                            </div>
                                
                                
                                <div class="pt-3 p-3" [ngClass]="!newNeighborGroup?'shadow-sm':'shadow-none'">
                                
                                <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="neighborradio2" name="neighborfilter" value="radio2"  class="custom-control-input"  (change)="toggleNewNeighborGroup()"  [checked]="!newNeighborGroup">
                                        <label [ngClass]="!newNeighborGroup?'text-secondary':'text-muted'"  class="custom-control-label font-weight-semibold" for="neighborradio2"> Choose County, Operator And PlayType </label>
                                      </div>
    
                                <div class="form-row pt-2 " [formGroup]="newNeighborCountyNOperatorForm">
                                      <div class="form-group col-4">
                                        <label [ngClass]="!newNeighborGroup?'text-secondary':'text-muted'" class="font-weight-semibold text-secondary pr-3">County</label>
                                        <select class="form-control border" formControlName="county" [value]="null" id="county24" [attr.disabled]="newNeighborGroup?'':null"
                                        (change)="selectCountyForNewNeighbor($event)"
                                        [ngClass]="{ 'is-invalid': submitNewNeighborCountyNOperatorForm && h.county.errors }">
                                          <option [value]="null" hidden> Select County </option>
                                          <option *ngFor="let cl of countyList" value="{{cl.county_no}}">{{cl.county_name}}</option>
                                              </select>
                                              <div *ngIf="submitNewNeighborCountyNOperatorForm && h.county.errors" class="invalid-feedback">
                                                <div *ngIf="h.county.errors.required">County Name is required</div>
                                              </div>
                                    </div> 
                                   
                                        <div class="form-group col-4">
                                            <label [ngClass]="!newNeighborGroup?'text-secondary':'text-muted'" class="font-weight-semibold  text-secondary pr-3">Operator</label>
                                            <select class="form-control border" formControlName="operator" [value]="null" id="operator23" [attr.disabled]="newNeighborGroup?'':null"
                                            (change)="selectOperatorForNewNeighbor($event)"
                                            [ngClass]="{ 'is-invalid': submitNewNeighborCountyNOperatorForm && h.operator.errors }">
                                              <option [value]="null" hidden> Select Operator </option>
                                              <option *ngFor="let ol of operatorList" value="{{ol.county_no}}">{{ol.county_name}}</option>
                                                  </select>
                                                  <div *ngIf="submitNewNeighborCountyNOperatorForm && h.operator.errors" class="invalid-feedback">
                                                    <div *ngIf="h.operator.errors.required">Operator Name is required</div>
                                                  </div>
                                        </div>
                                        <div class="form-group col-4">
                                                <label [ngClass]="!newNeighborGroup?'text-secondary':'text-muted'" class="font-weight-semibold text-secondary pr-3">Play Type :</label>
                                                <select class="form-control border" id="exampleFormControlSelect1" [disabled]="newNeighborGroup">
                                                        <option> Select Play Type </option> 
                                                      </select>
                                            </div>
                                            
                                    </div>
                                </div>
                        </div>
                <div class="modal-footer">
                  <button routerLink="#" type="button" class="btn btn-accent" data-dismiss="modal" (click)="getLeaseNeighbors()">Search</button>                
                </div>
              </div>

        </ng-template>