<div class="main-content-container container-fluid px-4">
  <div class="row pb-3 pt-4">
    <div class="col-12">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item align-self-center">
          <h5 class="text-dark mb-0 font-weight-bold mr-3">Community</h5>
        </li>
        <li class="nav-item">
          <a routerLink="/profile" class="nav-link text-muted font-weight-bold" aria-controls="profile"
            aria-selected="false">MY PROFILE</a>
        </li>
        <li class="nav-item">
          <a routerLink="/newsfeed" class="nav-link text-muted font-weight-bold" role="tab" aria-controls="contact"
            aria-selected="false">NEWS FEED</a>
        </li>
        <li class="nav-item">
          <a routerLink="/discussions" class="active nav-link text-muted font-weight-bold" role="tab"
            aria-controls="contact" aria-selected="false">DISCUSSIONS</a>
        </li>
        <li class="nav-item">
          <a routerLink="/messages" class="nav-link text-muted font-weight-bold" role="tab" aria-controls="contact"
            aria-selected="false">MESSAGES</a>
        </li>
        <li class="nav-item">
          <a routerLink="/requests" class="nav-link text-muted font-weight-bold" role="tab" aria-controls="contact"
            aria-selected="false">REQUESTS</a>
        </li>
        <li class="nav-item">
          <a routerLink="/index" class="nav-link text-muted font-weight-bold" role="tab" aria-controls="contact"
            aria-selected="false">SETTINGS</a>
        </li>

        <li class="nav-item pull-right ml-xl-auto align-self-center py-1">
          <a class="btn btn-accent btn-sm btn-block text-uppercase" (click)="openAskQuestionModal(postQuestionModal)">
            Ask a Question
          </a>
        </li>
      </ul>
    </div>
  </div>

  <!-----------------------------------------Breadcrumb and search-------------------------------------------->

  <div class="row justify-content-center py-3">
    <div class="col-xl-12">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb px-0 mb-1">
          <li class="breadcrumb-item"><a class="text-secondary font-weight-semibold" routerLink="/discussions"
              (click)="setTitle( 'Mvest-Categories')">Categories</a></li>
          <li class="breadcrumb-item"><a class="text-secondary font-weight-semibold" routerLink="/subcategory"
              [queryParams]="{subCategoryId:subCategoryId}"
              (click)="setTitle( 'Mvest-Subcategories')">Sub-Categories</a></li>
          <li class="breadcrumb-item"><a class="text-secondary font-weight-semibold" routerLink="/discussionslist"
              [queryParams]="{subCategoryId:subCategoryId,discussionId:discussionId}"
              (click)="setTitle( 'Mvest-Discussions')">Discussions</a></li>
          <li class="breadcrumb-item"><a class="active text-green font-weight-semibold">Discussion details</a></li>
          <li class="ml-auto">
            <form id="search-form" class="form-inline" role="form">
              <div class="input-group search">
                <input type="text" class="form-control search-form" placeholder="Search" [(ngModel)]="searchText"
                  [ngModelOptions]="{standalone: true}">
                <span class="input-group-btn">
                  <button type="submit" class="search-btn" data-target="#search-form" name="">
                    <i class="fa fa-search"></i>
                  </button>
                </span>
              </div>
            </form>
          </li>
        </ol>
      </nav>
    </div>
  </div>

  <!-----------------------------------------End Breadcrumb and search-------------------------------------------->

  <!----------------------------------------- Discussion details--------------------------------------------------->


  <div class="row justify-content-center">
    <div class="col-xl-12 pb-3" style="text-align: justify;">
      <div class="row">
        <div class="col-10">
          <h5 class="text-dark mb-0 font-weight-semibold">{{discussionDetails?.title}} </h5>
        </div>
        <div class="col-2">
          <a class="btn btn-accent btn-sm text-uppercase ml-auto" href="#" data-target=".reply-modal-lg"
            data-toggle="modal">
            Post Reply
          </a>
        </div>
      </div>

      <div class="card card-small blog-comments mt-3">
        <div class="card-header pb-1">

          <div class="row justify-content-center">
            <div class="col-10">
              <div class="media px-3 py-1">
                <img class="mr-3 user-pic rounded-circle mr-2" src="assets/images/MProfile.png"
                  alt="Generic placeholder image">
                <div class="media-body mb-0 align-self-center">
                  <h5 class="text-secondary h6 mb-0 font-weight-semibold"
                    innerHTML="{{discussionDetails?.posts[0]?.post_msg}}"></h5>
                </div>
              </div>
            </div>

            <div class="col-2 px-4 text-right">
              <small class="font-weight-semibold text-muted pr-2">{{discussionDetails?.posts[0]?.post_date | timeAgo}}
              </small>
              <br>
              <small class="font-weight-semibold text-muted pr-2"> -by
                {{discussionDetails?.posts[0]?.post_by_name}}</small>
            </div>

          </div>


        </div>
        <div class="card-body pt-0 mx-3 border-bottom">
          <ul class="list-inline d-flex  border-0 mb-0">
            <li class="list-inline-item mb-1 h6 text-muted align-self-center">
              <a routerLink="#" (click)="postLike(discussionDetails)">
                <i class="material-icons icon-muted md-24 ml-3">thumb_up</i> </a>

              <!-- <a  routerLink="#"
                (click)="unlikePost(discussionDetails)"> <i class="material-icons icon-accent md-24 ml-3">thumb_up</i>
              </a> -->

              <span class="ml-1 align-self-center">{{discussionDetails?.posts[0].likes.length}}</span>
            </li>
            <li class="list-inline-item mb-1 h6 pt-2 text-muted align-self-center" id="#comment-box">
              <a routerLink="#" data-toggle="tooltip" title="Coming Soon"> <i
                  class="material-icons icon-muted md-24 ml-3"
                  (click)="openCommentModal(postCommentModal,discussionDetails)">
                  mode_comment
                </i>
              </a>
            </li>
          </ul>





          <div class="row pt-2 justify-content-between" *ngFor="let qc of discussionDetails?.posts[0]?.comments">

            <div class="col-1">
            </div>
            <div class="col-9 border-top">
              <h6 class="mb-0 pt-1">{{qc.comment_text}}</h6>

              <ul class="list-inline d-flex  border-0 mb-0">
                <li class="list-inline-item mb-1 h6  text-muted align-self-center">
                  <a routerLink="#" (click)="likeToComment(discussionDetails,qc)"> <i
                      class="material-icons icon-muted md-24 ml-3">
                      thumb_up
                    </i> </a>

                  <!-- <a *ngIf="qc.likes.includes(user.email_id)" routerLink="#"
                    (click)="unLikeToComment(discussionDetails,qc)"> <i class="material-icons icon-accent md-24 ml-3">
                      thumb_up
                    </i> </a> -->

                  <span class="ml-1 align-self-center">{{qc.likes.length}}</span>
                </li>
                <li class="list-inline-item mb-1 h6 pt-2 text-muted align-self-center" id="#comment-box">
                  <a routerLink="#" data-toggle="tooltip" title="Coming Soon"> <i
                      class="material-icons icon-muted md-24 ml-3"
                      (click)="openCommentToCommentModal(postCommentToCommentModal,discussionDetails,qc)">
                      mode_comment
                    </i>
                  </a>
                </li>
              </ul>


            </div>
            <div class="col-2 text-right border-top">
              <span><small class="font-weight-semibold text-muted"> {{qc.create_ts | timeAgo}} <br>
                  -by {{qc.comment_by_name}}</small></span>
            </div>

            <div class="col-12" *ngFor="let cc of qc.reply">
              <div class="row justify-content-center">
                <div class="col-2">
                </div>
                <div class="col-8 border-top">
                  <h6 class="mb-0 pt-1">{{cc.comment_text}}</h6>
                </div>
                <div class="col-2 text-right border-top">
                  <small class="font-weight-semibold text-muted"> {{cc.create_ts | timeAgo}} <br>
                    -by {{cc.comment_by_name}}</small>
                </div>
              </div>
            </div>


          </div>

        </div>


        <div class="text-center" *ngIf="loading">
          <div class="spinner-border text-accent" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>


        <div *ngFor="let p of discussionDetails?.posts | slice:1 | filter:searchText; let i= index ">
          <div class="card-header pb-1">


            <div class="row justify-content-center">
              <div class="col-10">
                <div class="media px-3 ">
                  <img class="mr-3 user-pic rounded-circle mr-2" src="assets/images/MProfile.png"
                    alt="Generic placeholder image">
                  <div class="media-body mb-0 align-self-center">
                    <h5 class="text-muted h6 mb-0 font-weight-semibold">{{p.post_by_name}}</h5>
                    <h6 class="list-inline-item mb-1 h6 font-weight-semibold  text-secondary"
                      innerHTML="{{p.post_msg}}"></h6>
                  </div>
                </div>
              </div>

              <div class="col-2 px-4 text-right">
                <small class="font-weight-semibold text-muted pr-2">{{p.post_date | timeAgo}}</small>
              </div>

            </div>






          </div>
          <div class="border-bottom card-body pt-0 mx-3">

            <ul class="list-inline d-flex  border-0 mb-0">
              <li class="list-inline-item mb-1 h6 text-muted align-self-center">

                <a *ngIf="!isPostLikedByMe(p)" routerLink="#" (click)="postLike(p)"> <i
                    class="material-icons icon-muted md-24 ml-3">thumb_up</i>
                </a>
                <a *ngIf="isPostLikedByMe(p)" routerLink="#" (click)="unlikePost(p)"> <i
                    class="material-icons icon-accent md-24 ml-3">thumb_up</i>
                </a>

                <span class="ml-1 align-self-center">{{p.likes?.length}}</span>
              </li>
              <li class="list-inline-item mb-1 h6 pt-2 text-muted align-self-center" id="#comment-box">
                <a routerLink="#" data-toggle="tooltip" title="Coming Soon"> <i
                    class="material-icons icon-muted md-24 ml-3" (click)="openCommentModal(postCommentModal,p)">
                    mode_comment
                  </i>
                </a>
              </li>
              <!-- <li class="list-inline-item mb-1 h6 ml-auto text-muted align-self-center">
                <span><small class="font-weight-semibold">{{p.post_date | timeAgo}}</small></span>
              </li> -->
            </ul>


            <div class="row pt-2 justify-content-between" *ngFor="let cm of p?.comments">

              <div class="col-1">
              </div>
              <div class="col-9 border-top">
                <h6 class="mb-0 pt-1">{{cm?.comment_text}}</h6>

                <ul class="list-inline d-flex  border-0 mb-0">
                  <li class="list-inline-item mb-1 h6 pt-1 text-muted align-self-center">

                    <a *ngIf="!isCommentLikedByMe(cm)" routerLink="#" (click)="likeToComment(discussionDetails,cm)"> <i
                        class="material-icons icon-muted md-24 ml-3">
                        thumb_up
                      </i>
                    </a>

                    <a *ngIf="isCommentLikedByMe(cm)" routerLink="#" (click)="unLikeToComment(discussionDetails,cm)"> <i
                        class="material-icons icon-accent md-24 ml-3">
                        thumb_up
                      </i> </a>


                    <span class="ml-1 align-self-center">{{cm.likes?.length}}</span>
                  </li>
                  <li class="list-inline-item mb-1 h6 pt-2 text-muted align-self-center" id="#comment-box">
                    <a routerLink="#" data-toggle="tooltip" title="Coming Soon"> <i
                        class="material-icons icon-muted md-24 ml-3"
                        (click)="openCommentToCommentModal(postCommentToCommentModal,discussionDetails,cm)">
                        mode_comment
                      </i>
                    </a>
                  </li>
                </ul>


              </div>
              <div class="col-2 text-right border-top">
                <span><small class="font-weight-semibold text-muted"> {{cm.create_ts | timeAgo}} <br>
                    -by {{cm.comment_by_name}}</small></span>
              </div>

              <div class="col-12" *ngFor="let cc of cm.reply">
                <div class="row justify-content-center">
                  <div class="col-2">
                  </div>
                  <div class="col-8 border-top">
                    <h6 class="mb-0 pt-1">{{cc.comment_text}}</h6>
                  </div>
                  <div class="col-2 text-right border-top">
                    <small class="font-weight-semibold text-muted"> {{cc.create_ts | timeAgo}} <br>
                      -by {{cc.comment_by_name}}</small>
                  </div>
                </div>
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<!----------------------------------------- End Discussion details--------------------------------------------------->

<!----------------------------------------- Reply template------------------------------------------------------------>

<div class="modal fade reply-modal-lg" tabindex="-1" role="dialog" aria-labelledby="reply-modal" aria-hidden="true">
  <div class="modal-dialog modal-md bg-white shadow">
    <form [formGroup]="replyForm" action="/action_page.php" class="needs-validation" novalidate>
      <div class="modal-content">
        <div class="modal-body">
          <div class="card shadow-none">
            <div class="form-group">
              <label for="Description">Your Reply</label>

              <angular-editor formControlName="Description" [config]="editorConfig"
                [ngClass]="{ 'is-invalid': submitReply && f.Description.errors }">
                <div *ngIf="submitReply && f.Description.errors" class="invalid-feedback">
                  <div *ngIf="f.Description.errors.required">Description is required</div>
                </div>
              </angular-editor>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-accent btn-sm text-uppercase" data-dismiss="modal"
            (click)=sendReply()>Reply</button>
          <button type="button" class="btn btn-outline-accent btn-sm text-uppercase"
            data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>

<!-----------------------------------------End Reply template------------------------------------------------------------>

<!-----------------------------------------Ask a question------------------------------------------------------------>

<ng-template #postQuestionModal>
  <form>
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Ask a Question</h5>
      </div>

      <div class="modal-body">
        <div class="card shadow-none">
          <div class="row">
            <div class="col-12">
              <form [formGroup]="discussionDetailsQuestionForm">
                <div class="form">

                  <div class="form-group">
                    <label for="title">Discussion Title :</label>
                    <input type="text" class="form-control" id="title" formControlName="discussionTitle" placeholder=""
                      [ngClass]="{ 'is-invalid': submitQuestion && f.discussionTitle.errors }">
                    <div *ngIf="submitQuestion && f.discussionTitle.errors" class="invalid-feedback">
                      <div *ngIf="f.discussionTitle.errors.required">Discussion title is required</div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="title">Description :</label>
                    <div class="w-100">
                    </div>

                    <angular-editor formControlName="problemDescription" [config]="editorConfig"
                      [ngClass]="{ 'is-invalid': submitQuestion && f.problemDescription.errors }">
                      <div *ngIf="submitQuestion && f.problemDescription.errors" class="invalid-feedback">
                        <div *ngIf="f.problemDescription.errors.required">Problem description is required</div>
                      </div>
                    </angular-editor>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-accent btn-sm text-uppercase" (click)="postQuestion()">Post</button>
        <button type="button" class="btn btn-outline-accent btn-sm text-uppercase"
          (click)="closePostQuestionModal()">Cancel</button>
      </div>
    </div>
  </form>
</ng-template>

<!-----------------------------------------End Ask a question------------------------------------------------------------>


<!-----------------------------------------post comment------------------------------------------------------------>
<ng-template #postCommentModal>
  <form>
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Your Comment</h5>
      </div>

      <div class="modal-body py-3">
        <div class="card shadow-none">
          <div class="row">
            <div class="col-12">
              <form [formGroup]="commentForm">
                <div class="form">

                  <div class="form-group">
                    <label for="title">Description :</label>
                    <div class="w-100">
                    </div>

                    <!-- <angular-editor formControlName="comment" [config]="editorConfig"
                      [ngClass]="{ 'is-invalid': submitComment && h.comment.errors }">
                      <div *ngIf="submitComment && h.comment.errors" class="invalid-feedback">
                        <div *ngIf="h.comment.errors.required">Comment is required</div>
                      </div>
                    </angular-editor> -->

                    <textarea class="form-control" formControlName="comment"
                      [ngClass]="{ 'is-invalid': submitComment && h.comment.errors }"></textarea>
                    <div *ngIf="submitComment && h.comment.errors" class="invalid-feedback">
                      <div *ngIf="h.comment.errors.required">Comment is required</div>
                    </div>

                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-accent btn-sm text-uppercase" (click)="postComment()">Post</button>
        <!-- <button *ngIf="isReplyId" type="submit" class="btn btn-accent btn-sm text-uppercase"
          (click)="postComment()">Post</button> -->
        <button type="button" class="btn btn-outline-accent btn-sm text-uppercase"
          (click)="closePostCommentModal()">Cancel</button>
      </div>
    </div>
  </form>
</ng-template>

<!-----------------------------------------End post comment------------------------------------------------------------>


<!-----------------------------------------Comment to comment------------------------------------------------------------>
<ng-template #postCommentToCommentModal>
  <form>
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Your Comment</h5>
      </div>

      <div class="modal-body py-3">
        <div class="card shadow-none">
          <div class="row">
            <div class="col-12">
              <form [formGroup]="commentToCommentForm">
                <div class="form">

                  <div class="form-group">
                    <label for="title">Description :</label>
                    <div class="w-100">
                    </div>

                    <!-- <angular-editor formControlName="comment" [config]="editorConfig"
                        [ngClass]="{ 'is-invalid': submitComment && h.comment.errors }">
                        <div *ngIf="submitComment && h.comment.errors" class="invalid-feedback">
                          <div *ngIf="h.comment.errors.required">Comment is required</div>
                        </div>
                      </angular-editor> -->

                    <textarea class="form-control" formControlName="comment"
                      [ngClass]="{ 'is-invalid': submitComment && m.comment.errors }"></textarea>
                    <div *ngIf="submitComment && m.comment.errors" class="invalid-feedback">
                      <div *ngIf="m.comment.errors.required">Comment is required</div>
                    </div>

                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-accent btn-sm text-uppercase"
          (click)="postCommentToComment()">Post</button>
        <button type="button" class="btn btn-outline-accent btn-sm text-uppercase"
          (click)="closeCommentToCommentModal()">Cancel</button>
      </div>
    </div>
  </form>
</ng-template>

<!-----------------------------------------End Comment to comment------------------------------------------------------------>