<div class="main-content-container container-fluid px-4">
<app-community></app-community>
   
    <div class="row pt-4">
        <div class="col-xl-12 pb-4">
            <ul class="nav nav-tabs sub-tab border-0" id="photos-tab" role="tablist">
                <li class="nav-item align-self-center">
                    <h5 class="text-dark mb-0 font-weight-bold mr-3 align-self-center">Following</h5>
                </li>
                <li class="nav-item align-self-center">
                    <a href="#following" class="nav-link text-muted font-weight-bold active" data-toggle="tab"
                        aria-selected="false">Following</a>
                </li>
                <li class="nav-item align-self-center">
                    <a href="#followers" class="nav-link text-muted font-weight-bold" data-toggle="tab" role="tab"
                        aria-controls="contact" aria-selected="false">Followers</a>
                </li>

                <li class="nav-item align-self-center ml-auto">
                      
                           
                    <a class="nav-link font-weight-bold dropdown-toggle" href="#" id="dropdownMenuLink"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  My Lists
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="#">All Lists</a>
                        <a class="dropdown-item" href="#">My Lists</a>
                        <a class="dropdown-item" href="#">Bookmarked Lists</a>
                        <a class="dropdown-item" href="#">Shared Lists</a>
                    </div>  
                            <!-- <select>
                              <option value="0">All Posts</option>
                              <option value="10">Latest</option>
                              <option value="11">Yesterday</option> 
                            </select> -->
                        
                    <!-- <select>
                        <option> <a class="dropdown-item">All Posts</a></option>
                        <option> <a class="dropdown-item" >Latest</a></option>
                        <option> <a class="dropdown-item" >Yesterday</a></option>
                    </select> -->
                   
                      <!-- <span class="custom-dropdown">
                        <select clas="">
                            <option>All Posts</option>
                            <option>My Posts</option>  
                            <option>Bookmarked Posts</option>
                            <option>Shared Posts</option>
                          
                        </select>
                    </span>   -->
                </li>
                <div class="ml-auto d-inline-flex">
                    <li class="nav-item pull-right mr-3 align-self-center">
                        <a href="#" class="btn btn-outline-accent btn-sm btn-block text-uppercase " data-toggle="modal"
                            data-target=".photo-modal-lg">New List</a>
                    </li>

                    <li class="nav-item pull-right mr-3 align-self-center">
                        <!-- <form   class="form-inline" role="form" 
                              > -->
                            <div class="input-group serach">
                                <input type="text" class="form-control search-form" placeholder="Search">
                                <span class="input-group-btn">
                                    <button type="submit" class="search-btn" data-target="#search-form" name="q">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>

                            </div>
                        <!-- </form> -->
                        <!-- <form action="" class="search-form">
                                <div class="form-group has-feedback">
                                    <label for="search" class="sr-only">Search</label>
                                    <input type="text" class="form-control" name="search" id="search" placeholder="search">
                                      <span class="glyphicon glyphicon-search form-control-feedback"></span>
                                    <span> <i class="fa fa-search"></i></span>
                                </div>
                            </form> -->
                    </li>

                </div>
            </ul>

        </div>

    </div>

    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="following" role="tabpanel" aria-labelledby="home-tab">
            <div class="row justify-content-between no-gutters">
                <div class="col-md-12 col-xl-6">

                    <div class="row justify-content-between no-gutters pb-3 ">
                        <div class="col-xl-12 col-md-12 col-sm-12 mb-4">
                            <div class="card card-small blog-comments">
                                <div class="card-body p-0">
                                    <div class="pt-3 px-3 pb-0">
                                        <div class="media">
                                            <img class="mr-3 user-pic rounded-circle mr-2"
                                                src="assets/images/avatars/0.jpg" alt="Generic placeholder image">
                                            <div class="media-body mb-0">
                                                <h5 class="text-dark h6 mb-0 font-weight-semibold">Sierra Brooks</h5>
                                                <ul class="list-inline d-flex mb-0">
                                                    <li class="list-inline-item mb-1 h6 text-muted">
                                                        Verified Mineral Owner
                                                    </li>
                                                    <div class="ml-auto d-inline-flex">
                                                        <li class="pull-right text-muted h6 text-uppercase">
                                                            <h6> <i class="material-icons mr-1 text-muted">check_circle_outline
                                                                </i><small
                                                                    class="text-muted font-weight-semibold text-uppercase">Following
                                                                </small> </h6>
                                                        </li>
                                                    </div>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card card-small blog-comments mt-3">
                                <div class="card-body p-0">
                                    <div class="pt-3 px-3 pb-0">
                                        <div class="media">
                                            <img class="mr-3 user-pic rounded-circle mr-2"
                                                src="assets/images/avatars/1.jpg" alt="Generic placeholder image">
                                            <div class="media-body mb-0">
                                                <h5 class="text-dark h6 mb-0 font-weight-semibold">Tony Stark</h5>
                                                <ul class="list-inline d-flex mb-0">
                                                    <li class="list-inline-item mb-1 h6 text-muted">
                                                        Verified Mineral Owner
                                                    </li>
                                                    <div class="ml-auto d-inline-flex">
                                                        <li class="pull-right text-muted h6 text-uppercase">
                                                            <h6> <i class="material-icons mr-1 text-muted">check_circle_outline
                                                                </i><small
                                                                    class="text-muted font-weight-semibold text-uppercase">Following
                                                                </small> </h6>
                                                        </li>
                                                    </div>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card card-small blog-comments mt-3">
                                <div class="card-body p-0">
                                    <div class="pt-3 px-3 pb-0">
                                        <div class="media">
                                            <img class="mr-3 user-pic rounded-circle mr-2"
                                                src="assets/images/avatars/2.jpg" alt="Generic placeholder image">
                                            <div class="media-body mb-0">
                                                <h5 class="text-dark h6 mb-0 font-weight-semibold">John Doe</h5>
                                                <ul class="list-inline d-flex mb-0">
                                                    <li class="list-inline-item mb-1 h6 text-muted">
                                                        Verified Mineral Owner
                                                    </li>
                                                    <div class="ml-auto d-inline-flex">
                                                        <li class="pull-right text-muted h6 text-uppercase">
                                                            <h6> <i class="material-icons mr-1 text-muted">check_circle_outline
                                                                </i><small
                                                                    class="text-muted font-weight-semibold text-uppercase">Following
                                                                </small> </h6>
                                                        </li>
                                                    </div>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                          
                            
                        </div>
                    </div>
                </div>



                <div class="col-xl-6">


                    <div class="col-xl-12 col-md-12 col-sm-12 mb-4">
                        <div class="card card-small blog-comments">
                            <div class="card-body p-0">
                                <div class="pt-3 px-3 pb-0">
                                    <div class="media">
                                        <img class="mr-3 user-pic rounded-circle mr-2" src="assets/images/avatars/6.jpg"
                                            alt="Generic placeholder image">
                                        <div class="media-body mb-0">
                                            <h5 class="text-dark h6 mb-0 font-weight-semibold">Naya Hale</h5>
                                            <ul class="list-inline d-flex mb-0">
                                                <li class="list-inline-item mb-1 h6 text-muted">
                                                    Verified Mineral Owner
                                                </li>
                                                <div class="ml-auto d-inline-flex">
                                                    <li class="pull-right text-muted h6 text-uppercase">
                                                        <h6> <i class="material-icons mr-1 text-muted">check_circle_outline
                                                            </i><small
                                                                class="text-muted font-weight-semibold text-uppercase">Following
                                                            </small> </h6>
                                                    </li>
                                                </div>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card card-small blog-comments mt-3">
                            <div class="card-body p-0">
                                <div class="pt-3 px-3 pb-0">
                                    <div class="media">
                                        <img class="mr-3 user-pic rounded-circle mr-2" src="assets/images/avatars/0.jpg"
                                            alt="Generic placeholder image">
                                        <div class="media-body mb-0">
                                            <h5 class="text-dark h6 mb-0 font-weight-semibold">Jenny Stark</h5>
                                            <ul class="list-inline d-flex mb-0">
                                                <li class="list-inline-item mb-1 h6 text-muted">
                                                    Verified Mineral Owner
                                                </li>
                                                <div class="ml-auto d-inline-flex">
                                                    <li class="pull-right text-muted h6 text-uppercase">
                                                        <h6> <i class="material-icons mr-1 text-muted">check_circle_outline
                                                            </i><small
                                                                class="text-muted font-weight-semibold text-uppercase">Following
                                                            </small> </h6>
                                                    </li>
                                                </div>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="card card-small blog-comments mt-3">
                            <div class="card-body p-0">
                                <div class="pt-3 px-3 pb-0">
                                    <div class="media">
                                        <img class="mr-3 user-pic rounded-circle mr-2"
                                            src="assets/images/avatars/1.jpg" alt="Generic placeholder image">
                                        <div class="media-body mb-0">
                                            <h5 class="text-dark h6 mb-0 font-weight-semibold">Johnny Depp</h5>
                                            <ul class="list-inline d-flex mb-0">
                                                <li class="list-inline-item mb-1 h6 text-muted">
                                                    Verified Mineral Owner
                                                </li>
                                                <div class="ml-auto d-inline-flex">
                                                    <li class="pull-right text-muted h6 text-uppercase">
                                                        <h6> <i class="material-icons mr-1 text-muted">check_circle_outline
                                                            </i><small
                                                                class="text-muted font-weight-semibold text-uppercase">Following
                                                            </small> </h6>
                                                    </li>
                                                </div>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane fade show" id="followers" role="tabpanel" aria-labelledby="home-tab">
            <div class="row justify-content-between no-gutters">
                <div class="col-md-12 col-xl-6">

                    <div class="row justify-content-between no-gutters pb-3 ">
                        <div class="col-xl-12 col-md-12 col-sm-12 mb-4">
                            <div class="card card-small blog-comments">
                                <div class="card-body p-0">
                                    <div class="py-3 px-3 ">
                                        <div class="media">
                                            <img class="mr-3 user-pic rounded-circle mr-2"
                                                src="assets/images/avatars/7.png" alt="Generic placeholder image">
                                            <div class="media-body mb-0">
                                                <h5 class="text-dark h6 mb-0 font-weight-semibold">Megan Park</h5>
                                                <ul class="list-inline d-flex mb-0">
                                                    <li class="list-inline-item mb-1 h6 text-muted">
                                                        Verified Mineral Owner
                                                    </li>
                                                    <div class="ml-auto d-inline-flex">
                                                        <li class="pull-right text-muted h6 text-uppercase">
                                                            <!-- <h6> <i class="material-icons mr-1 text-muted">check_circle_outline
                                                                </i>
                                                                 <small
                                                                    class="text-muted font-weight-semibold text-uppercase">Following
                                                                </small> 
                                                             </h6> -->
                                                        </li>
                                                    </div>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card card-small blog-comments mt-3">
                                <div class="card-body p-0">
                                    <div class="py-3 px-3">
                                        <div class="media">
                                            <img class="mr-3 user-pic rounded-circle mr-2"
                                                src="assets/images/avatars/1.jpg" alt="Generic placeholder image">
                                            <div class="media-body mb-0">
                                                <h5 class="text-dark h6 mb-0 font-weight-semibold">Tony Stark</h5>
                                                <ul class="list-inline d-flex mb-0">
                                                    <li class="list-inline-item mb-1 h6 text-muted">
                                                        Verified Mineral Owner
                                                    </li>
                                                    <div class="ml-auto d-inline-flex">
                                                        <li class="pull-right text-muted h6 text-uppercase">
                                                            <!-- <h6> <i class="material-icons mr-1 text-muted">check_circle_outline
                                                                </i><small
                                                                    class="text-muted font-weight-semibold text-uppercase">Following
                                                                </small> </h6> -->
                                                        </li>
                                                    </div>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card card-small blog-comments mt-3">
                                <div class="card-body p-0">
                                    <div class="py-3 px-3">
                                        <div class="media">
                                            <img class="mr-3 user-pic rounded-circle mr-2"
                                                src="assets/images/avatars/0.jpg" alt="Generic placeholder image">
                                            <div class="media-body mb-0">
                                                <h5 class="text-dark h6 mb-0 font-weight-semibold">Sierra Brooks</h5>
                                                <ul class="list-inline d-flex mb-0">
                                                    <li class="list-inline-item mb-1 h6 text-muted">
                                                        Verified Mineral Owner
                                                    </li>
                                                    <div class="ml-auto d-inline-flex">
                                                        <li class="pull-right text-muted h6 text-uppercase">
                                                            <!-- <h6> <i class="material-icons mr-1 text-muted">check_circle_outline
                                                                </i><small
                                                                    class="text-muted font-weight-semibold text-uppercase">Following
                                                                </small> </h6> -->
                                                        </li>
                                                    </div>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>



                <div class="col-xl-6">


                    <div class="col-xl-12 col-md-12 col-sm-12 mb-4">
                        <div class="card card-small blog-comments">
                            <div class="card-body p-0">
                                <div class="py-3 px-3 ">
                                    <div class="media">
                                        <img class="mr-3 user-pic rounded-circle mr-2" src="assets/images/avatars/2.jpg"
                                            alt="Generic placeholder image">
                                        <div class="media-body mb-0">
                                            <h5 class="text-dark h6 mb-0 font-weight-semibold">John Doe</h5>
                                            <ul class="list-inline d-flex mb-0">
                                                <li class="list-inline-item mb-1 h6 text-muted">
                                                    Verified Mineral Owner
                                                </li>
                                                <div class="ml-auto d-inline-flex">
                                                    <li class="pull-right text-muted h6 text-uppercase">
                                                        <!-- <h6> <i class="material-icons mr-1 text-muted">check_circle_outline
                                                            </i><small
                                                                class="text-muted font-weight-semibold text-uppercase">Following
                                                            </small> </h6> -->
                                                    </li>
                                                </div>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card card-small blog-comments mt-3">
                            <div class="card-body p-0">
                                <div class="py-3 px-3">
                                    <div class="media">
                                        <img class="mr-3 user-pic rounded-circle mr-2" src="assets/images/avatars/6.jpg"
                                            alt="Generic placeholder image">
                                        <div class="media-body mb-0">
                                            <h5 class="text-dark h6 mb-0 font-weight-semibold">Naya Hale</h5>
                                            <ul class="list-inline d-flex mb-0">
                                                <li class="list-inline-item mb-1 h6 text-muted">
                                                    Verified Mineral Owner
                                                </li>
                                                <div class="ml-auto d-inline-flex">
                                                    <li class="pull-right text-muted h6 text-uppercase">
                                                        <!-- <h6> <i class="material-icons mr-1 text-muted">check_circle_outline
                                                            </i><small
                                                                class="text-muted font-weight-semibold text-uppercase">Following
                                                            </small> </h6> -->
                                                    </li>
                                                </div>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                       
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

