<div class="main-content-container container-fluid px-4">

    <flash-messages class="bg-accent text-center pb-0"></flash-messages>

    <div class="row justify-content-center" *ngIf="loading">
        <div class="col-12">
            <div class="content-loading text-center">
                <app-loadingcircle></app-loadingcircle>
            </div>
        </div>
    </div>
    <div class="row pb-3 pt-4">
        <div class="col-12">

            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item align-self-center">
                    <a routerLink="/myaccount">
                        <h5 class="text-dark mb-0 font-weight-bold mr-3">My Account</h5>
                    </a>
                </li>
                <li class="nav-item ">
                    <a href="#userdetails" class="nav-link text-muted font-weight-bold text-uppercase" data-toggle="tab"
                        aria-controls="profile" aria-selected="false">My Details</a>
                </li>
                <li class="nav-item ">
                    <a routerLink="/notification" class="nav-link text-muted font-weight-bold text-uppercase"
                        data-toggle="tab" role="tab" aria-controls="notifications"
                        aria-selected="false">Notifications</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/settings" class="nav-link text-muted font-weight-bold text-uppercase" role="tab"
                        aria-controls="contact" aria-selected="false">Settings</a>
                </li>
                <li class="nav-item">
                    <a routerLink="#" class="nav-link text-muted font-weight-bold text-uppercase" role="tab"
                        aria-controls="contact" aria-selected="false">Manage Subscription</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/blocked" class=" active nav-link text-muted font-weight-bold text-uppercase"
                        role="tab" aria-controls="contact" aria-selected="false">Blocked Users</a>
                </li>

            </ul>
        </div>
    </div>

    <div class="row justify-content-center  pb-3 " *ngIf="blockedMembers.length==0">

        <div class="col-md-6 col-lg-4 text-center col-6 col-xl-4 py-4">
            <img src="assets/images/follow.png" class="" alt="New Neighbors Image" height="250px" width="auto">
        </div>
        <div class="col-md-6 text-left col-6 col-xl-6  px-4 d-flex">
            <div class="align-self-center">
                <h6 class="text-muted font-weight-semibold ">You have not blocked anyone yet !!</h6>
                <h6 class="text-muted font-weight-semibold ">Here, you will be able to see all Members
                    whom you have blocked.</h6>
                <h6 class="text-muted font-weight-semibold ">You can block users by
                    clicking on "Blocked" in the above Followers Section.</h6>
            </div>
        </div>

    </div>

    <div class="row justify-content-between  pb-3 ">

        <div class="col-xl-6 col-md-6 col-sm-6" *ngFor="let bm of blockedMembers">

            <div class="card card-small blog-comments mt-3">
                <div class="card-body p-0">
                    <div class="row d-flex p-3">
                        <div class="col-8">
                            <div class="media mb-0">

                                <ngx-avatar class="mr-3 mr-2" name="{{bm.f_name}} {{bm.l_name}}" [size]="40" src="">
                                </ngx-avatar>

                                <!-- <img class="mr-3 user-pic rounded-circle mr-2"
                                src="assets/images/avatars/0.jpg" alt="Generic placeholder image"> -->

                                <div class="media-body mb-0">
                                    <h5 class="text-dark h6 mb-0 font-weight-semibold">{{bm.f_name}} {{bm.l_name}}</h5>

                                    <h5 class="text-dark h6 mb-0  text-muted">
                                        Verified {{bm.member_type}} Owner </h5>

                                    <!-- <ul class="list-inline d-flex mb-0">
                                    <li class="list-inline-item mb-1 font-weight-semibold small text-muted">
                                        2.3 miles away
                                    </li>

                                </ul> -->
                                </div>
                            </div>
                        </div>
                        <div class=" col-4 align-self-center  justify-content-end text-right">
                            <h6 class="mb-0">

                                <!-- <a><i class="material-icons md-18 icon-muted">
                                        mail_outline
                                        </i></a>     -->
                            </h6>
                            <!-- <h6  class="mb-0"> <i class="material-icons mr-1 text-muted">check_circle_outline
                            </i><small class="text-muted font-weight-semibold text-uppercase">connected
                            </small> </h6>  -->
                            <h6 class="mb-0 align-self-center">
                                <button type="button" class=" btn btn-accent align-self-center text-uppercase"
                                    (click)=openUnBlockMemberModal(unblockMemberModal,bm.member_id)>Unblock</button>
                            </h6>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-----------------------------------------UnBlock Modal----------------------------------------------------------------------->
    <ng-template #unblockMemberModal>
        <div class="modal-body text-center p-3">
            <h6 class="text-secondary font-weight-semibold">Are you sure you want to Unblock this member?</h6>
        </div>
        <div class="modal-footer border-0 pt-0 justify-content-center text-center">
            <button type="button" class="btn btn-outline-accent btn-sm text-uppercase"
                (click)="unblockMember()">Unblock</button>
            <button type="button" class="btn btn-accent btn-sm text-uppercase"
                (click)="closeUnblockMemberModal()">Cancel</button>
        </div>
    </ng-template>

    <!-----------------------------------------End UnBlock Modal------------------------------------------------------------------->