<div class="main-content-container container-fluid px-4">
    <div class="row pb-3 pt-4">
        <div class="col-12">

            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item align-self-center">
                    <h5 class="text-dark mb-0 font-weight-bold mr-3">Community</h5>
                </li>
                <li class="nav-item">
                    <a routerLink="/profile" class="nav-link text-muted font-weight-bold" aria-controls="profile"
                        aria-selected="false">MY PROFILE</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/newsfeed" class="nav-link text-muted font-weight-bold" role="tab"
                        aria-controls="contact" aria-selected="false">NEWS FEED</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/discussions" class="active nav-link text-muted font-weight-bold" role="tab"
                        aria-controls="contact" aria-selected="false">DISCUSSIONS</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/messages" class="nav-link text-muted font-weight-bold" role="tab"
                        aria-controls="contact" aria-selected="false">MESSAGES</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/requests" class="nav-link text-muted font-weight-bold" role="tab"
                        aria-controls="contact" aria-selected="false">REQUESTS</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/index" class="nav-link text-muted font-weight-bold" role="tab"
                        aria-controls="contact" aria-selected="false">SETTINGS</a>
                </li>

                <!-- <li class="nav-item pull-right ml-xl-auto align-self-center py-1">
                    <a class="btn btn-accent btn-sm btn-block text-uppercase" data-target=".askquestion-modal-xl"
                        data-toggle="modal" href="#">
                        Ask a Question
                    </a>
                </li> -->

            </ul>
        </div>
    </div>

    <div class="row justify-content-center py-3">
        <div class="col-xl-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb px-0">
                    <li class="breadcrumb-item"><a class="text-secondary font-weight-semibold"
                            routerLink="/discussions">Categories</a></li>
                    <li class="breadcrumb-item"><a class="text-secondary font-weight-semibold" routerLink="/subcategory"
                            [queryParams]="{subCategoryId:subCategoryId}">Sub-Categories</a></li>
                    <li class="breadcrumb-item"><a class="active text-green font-weight-semibold">Discussions List</a>
                    </li>

                    <li class="ml-auto">

                        <form id="search-form" class="form-inline" role="form" method="post"
                            action="//www.google.com/search" target="_blank">
                            <div class="input-group search">
                                <input type="text" class="form-control search-form" [(ngModel)]="searchText" [ngModelOptions]="{standalone: true}" placeholder="Search">
                                <span class="input-group-btn">
                                    <button type="submit" class="search-btn" data-target="#search-form" name="q">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>

                            </div>
                        </form>
                    </li>
                </ol>
            </nav>
            <div class="row justify-content-between no-gutters">
                <div class="col-md-12 col-xl-12">
                    <div class="row justify-content-between no-gutters">
                        <div class="col-md-12 col-xl-8 pb-3">
                                <div *ngIf="!discussionList?.discussions">
                                    <h1>No Records Found</h1>
                                </div>

                            <div class="card card-small blog-comments">
                                <div class="card-body p-0" *ngFor="let dl of discussionList?.discussions | filter : searchText">
                                    <a routerLink="/discussion-details"
                                        [queryParams]="{discussionDetailsId:dl.doc_id,discussionId:discussionId,subCategoryId:subCategoryId}">

                                        <div class=" border-bottom p-1">
                                            <div class="media p-3">
                                                <img class="mr-3 user-pic rounded-circle mr-2"
                                                    src="assets/images/avatars/2.jpg" alt="Generic placeholder image">
                                                   
                                                <div class="media-body mb-0">

                                                    <ul class="list-inline d-flex mb-0">
                                                        <li class="list-inline-item mb-1 h6  text-muted">
                                                            <h5 class="text-dark h6 mb-0 font-weight-semibold">
                                                                {{dl?.title | titlecase}}</h5>
                                                        </li>
                                                        <li class="list-inline-item mb-1 h6  text-muted ml-auto">
                                                            <small class="font-weight-semibold"> {{discussionList?.discussions.length}}
                                                                posts</small>
                                                        </li>
                                                    </ul>

                                                    <ul class="list-inline d-flex mb-0">
                                                        <li class="list-inline-item mb-1 h6  text-muted">
                                                            {{dl?.post_msg}}
                                                        </li>
                                                        <li class="list-inline-item mb-1 h6  text-muted ml-auto"
                                                            (mouseover)="showDate=true" (mouseout)="showDate=false">
                                                            <span *ngIf="!showDate"><small
                                                                    class="font-weight-semibold">{{dl?.post_date | timeAgo}}</small></span>
                                                            <span *ngIf="showDate"><small
                                                                    class="font-weight-semibold">{{dl?.post_date | date:'medium'}}</small></span>
                                                        </li>

                                                        <!-- <li class="list-inline-item mb-1 h6 ml-auto text-muted align-self-center" (mouseover)="showDate=true" (mouseout)="showDate=false">
                                                        <span *ngIf="!showDate">{{p.post_time | timeAgo}}</span>
                                                         <span *ngIf="showDate">{{p.post_time | date:'medium'}}</span> 
                                                       </li> -->
                                                    </ul>

                                                    <ul class="list-inline d-flex mb-0">
                                                            <li class="list-inline-item mb-1 h6  text-muted">
                                                               
                                                            </li>
                                                            <li class="list-inline-item mb-1 h6  text-muted ml-auto">
                                                                <span><small class="font-weight-semibold">Asked By: {{dl?.post_by}}</small></span>
                                                                    <!-- <h5 class="text-dark h6 mb-0 font-weight-semibold">Atul</h5> -->
                                                            </li>
                                                        </ul>

                                                </div>
                                            </div>
                                        </div>
                                        
                                    
                                    </a>
                                </div>
                                
                             

                            </div>
                        </div>

                        <div class="col-xl-4 pb-3">
                            <div class="col-xl-12 col-md-12 col-sm-12 mb-4 ">
                                <div class="card card-small blog-comments shadow">
                                    <div class="card-header ">
                                        <h6 class="mb-0 text-muted px-3">
                                            Top contributors </h6>
                                    </div>
                                    <div class="card-body pt-0">


                                        <div class="media d-flex align-items-center px-3 pb-4">

                                            <img class="mr-3 user-pic rounded-circle mr-2"
                                                src="assets/images/avatars/2.jpg" alt="Generic placeholder image">
                                            <div class="media-body mb-0">

                                                <div class="">

                                                    <h5 class="text-dark h6 mb-0 font-weight-semibold">John Doe</h5>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="media d-flex align-items-center px-3 pb-4 ">

                                            <img class="mr-3 user-pic rounded-circle mr-2"
                                                src="assets/images/avatars/0.jpg" alt="Generic placeholder image">
                                            <div class="media-body mb-0">

                                                <div class="">

                                                    <h5 class="text-dark h6 mb-0 font-weight-semibold">Sierra Brooks
                                                    </h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="media d-flex align-items-center px-3 ">

                                            <img class="mr-3 user-pic rounded-circle mr-2"
                                                src="assets/images/avatars/1.jpg" alt="Generic placeholder image">
                                            <div class="media-body mb-0">

                                                <div class="">
                                                    <h5 class="text-dark h6 mb-0 font-weight-semibold">Tony Stark</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade askquestion-modal-xl" tabindex="-1" role="dialog" aria-labelledby="askquestion-modal"
    aria-hidden="true">
    <div class="modal-dialog modal-lg bg-white shadow">
        <form action="/action_page.php" class="needs-validation" novalidate>
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Ask a Question</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="card shadow-none">
                        <div class="row">
                            <div class="col-8">

                                <form [formGroup]="discussionListQuestionForm">
                                    <div class="form">
                                        <div class="form-group">
                                            <label for="title">Discussion Title :</label>
                                            <input type="text" class="form-control" id="title"
                                                formControlName="discussionTitle" placeholder="">
                                        </div>
                                        <div class="form-group">
                                            <label for="title">Problem Description</label>
                                            <textarea cols="70" formControlName="problemDescription"></textarea>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-accent btn-sm text-uppercase" data-dismiss="modal"
                        (click)="postQuestion()">Post</button>
                    <button type="button" class="btn btn-outline-accent btn-sm text-uppercase"
                        data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>