<div class="main-content-container container-fluid px-4">
  <div class="row pb-3 pt-4">
    <div class="col-12">
      <!-- <nav> -->
      <!-- <div class="nav nav-tabs" id="nav-tab" role="tablist"> -->
      <!-- <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Home</a> -->
      <!-- <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Profile</a> -->
      <!-- <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Contact</a> -->
      <!-- </div> -->
      <!-- </nav> -->
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item align-self-center">
          <h5 class="text-dark mb-0 font-weight-bold mr-3">Community</h5>
        </li>
        <li class="nav-item">
          <a routerLink="/profile" class="nav-link text-muted font-weight-bold" aria-controls="profile"
            aria-selected="false">MY PROFILE</a>
        </li>
        <li class="nav-item">
          <a routerLink="/newsfeed" class="nav-link text-muted font-weight-bold" role="tab" aria-controls="contact"
            aria-selected="false">NEWS FEED</a>
        </li>
        <li class="nav-item">
          <a routerLink="/discussions" class="active nav-link text-muted font-weight-bold" role="tab"
            aria-controls="contact" aria-selected="false">DISCUSSIONS</a>
        </li>
        <li class="nav-item">
          <a routerLink="/messages" class="nav-link text-muted font-weight-bold" role="tab" aria-controls="contact"
            aria-selected="false">MESSAGES</a>
        </li>
        <li class="nav-item">
          <a routerLink="/requests" class="nav-link text-muted font-weight-bold" role="tab" aria-controls="contact"
            aria-selected="false">REQUESTS</a>
        </li>
        <li class="nav-item">
          <a routerLink="/index" class="nav-link text-muted font-weight-bold" role="tab" aria-controls="contact"
            aria-selected="false">SETTINGS</a>
        </li>

        <!-- <li class="nav-item pull-right ml-xl-auto align-self-center py-1">
          <a class="btn btn-accent btn-sm btn-block text-uppercase" data-target=".askquestion-modal-xl"
            data-toggle="modal" href="#">
            Ask a Question
          </a>
        </li> -->

      </ul>
    </div>
  </div>


  <div class="row justify-content-center py-3">
    <div class="col-xl-12">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb px-0">
          <li class="breadcrumb-item"><a class="text-secondary font-weight-semibold"
              routerLink="/discussions">Categories</a></li>
          <li class="breadcrumb-item"><a class="text-secondary font-weight-semibold" routerLink="/subcategory"
              [queryParams]="{subCategoryId:subCategoryId}">Sub-Categories</a></li>
          <li class="breadcrumb-item"><a class="text-secondary font-weight-semibold" routerLink="/discussionslist"
              [queryParams]="{subCategoryId:subCategoryId,discussionId:discussionId}">Discussion List</a></li>
          <li class="breadcrumb-item"><a class="active text-green font-weight-semibold">Discussion details</a></li>
          <li class="ml-auto">
            <form id="search-form" class="form-inline" role="form">
              <div class="input-group search">
                <input type="text" class="form-control search-form" placeholder="Search" [(ngModel)]="searchText"
                  [ngModelOptions]="{standalone: true}">
                <span class="input-group-btn">
                  <button type="submit" class="search-btn" data-target="#search-form" name="">
                    <i class="fa fa-search"></i>
                  </button>
                </span>
              </div>
            </form>
          </li>
        </ol>
      </nav>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-xl-12 pb-3">
      <h5 class="text-dark mb-0 font-weight-semibold">{{discussionDetails?.title}} </h5>
      <div class="card card-small blog-comments mt-3">
        <div class="card-header p-0">
          <div class="media p-3">
            <img class="mr-3 user-pic rounded-circle mr-2" src="assets/images/avatars/1.jpg"
              alt="Generic placeholder image">
            <div class="media-body mb-0 align-self-center">
              <h5 class="text-dark h6 mb-0 font-weight-semibold">{{discussionDetails?.posts[0]?.post_msg}}</h5>
              <!-- <small class="text-secondary mb-0 font-weight-semibold">8:30pm</small> -->
            </div>
          </div>
        </div>
        <div class="card-body px-5 pt-0 mx-3">

          <!-- <div class="bg-light px-3 pb-3  ">
            <p class="h6 text-secondary">
              {{discussionDetails?.posts[0]?.post_msg}}
            </p>
          </div> -->

          <ul class="list-inline d-flex  border-bottom">
            <li class="list-inline-item mb-1 h6 text-muted align-self-center">
              <a routerLink="#" data-target=".reply-modal-lg" data-toggle="modal"> <i
                  class="material-icons icon-muted md-30">
                  reply
                </i></a>
            </li>
            <li class="list-inline-item mb-1 h6 pt-1 text-muted align-self-center">
              <a routerLink="#"> <i class="material-icons icon-muted md-24 ml-3">
                  thumb_up
                </i> </a><span class="ml-1 align-self-center">{{discussionDetails?.posts[0].likes}}</span>
            </li>
            <li class="list-inline-item mb-1 h6 pt-2 text-muted align-self-center" id="#comment-box">
              <a (click)="showCommentBox()" data-target="#comment-box"> <i class="material-icons icon-muted md-24 ml-3">
                  mode_comment
                </i>
              </a>
            </li>
            <li class="list-inline-item mb-1 h6 ml-auto text-muted align-self-center" (mouseover)="showDate=true"
              (mouseout)="showDate=false">
              <span *ngIf="!showDate"><small
                  class="font-weight-semibold">{{discussionDetails?.posts[0]?.post_date | timeAgo}}</small></span>
              <span *ngIf="showDate"><small
                  class="font-weight-semibold">{{discussionDetails?.posts[0]?.post_date | date:'medium'}}</small></span>
            </li>
          </ul>

          <div *ngIf="commentBox" id="comment-box" class="">
            <div class="form-row">
              <div class="col-md-10">
                <form class="p-3">
                  <textarea class="form-control border-0 rounded-5 bg-light form-control"
                    placeholder="Write a Comment"></textarea>
                </form>
              </div>
              <div class="col-md-2">
                <button class="button primary border-0 rounded-5 bg-light form-control mt-4" (click)="postComment()">Comment</button>
              </div>
            </div>
          </div>

          <div class="border-bottom" *ngFor="let p of discussionDetails?.posts | filter:searchText; let i= index ">
            <div class="media p-3" *ngIf="i != 0">
              <img class="mr-3 user-pic rounded-circle mr-2" src="assets/images/avatars/3.jpg"
                alt="Generic placeholder image">
              <div class="media-body mb-0 align-self-center">
                <h5 class="text-dark h6 mb-0 font-weight-semibold">{{p.post_by}}</h5>
                <h6 class="text-secondary mb-0"> {{p.post_msg}}</h6>
                <ul class="list-inline d-flex  border-bottom">
                  <li class="list-inline-item mb-1 h6 pt-1 text-muted align-self-center">
                    <a routerLink="#"> <i class="material-icons icon-muted md-24 ml-3">
                        thumb_up
                      </i> </a><span class="ml-1 align-self-center">{{p.likes}}</span>
                  </li>
                  <li class="list-inline-item mb-1 h6 pt-2 text-muted align-self-center" id="#comment-box">
                    <a routerLink="#"> <i class="material-icons icon-muted md-24 ml-3">
                        mode_comment
                      </i>
                    </a>
                  </li>
                  <li class="list-inline-item mb-1 h6 ml-auto text-muted align-self-center" (mouseover)="showDate=true"
                    (mouseout)="showDate=false">
                    <span *ngIf="!showDate">{{p.post_date | timeAgo}}</span>
                    <span *ngIf="showDate">{{p.post_date | date:'medium'}}</span>
                  </li>
                </ul>

                <div *ngIf="postCommentBox" id="comment-box" class="">
                    <div class="form-row">
                      <div class="col-md-10">
                        <form class="p-3">
                          <textarea class="form-control border-0 rounded-5 bg-light form-control"
                            placeholder="Write a Comment"></textarea>
                        </form>
                      </div>
                      <div class="col-md-2">
                        <button class="button primary border-0 rounded-5 bg-light form-control mt-4" (click)="postComment()">Comment</button>
                      </div>
                    </div>
                  </div>

              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade reply-modal-lg" tabindex="-1" role="dialog" aria-labelledby="reply-modal" aria-hidden="true">
  <div class="modal-dialog modal-md bg-white shadow">
    <form action="/action_page.php" class="needs-validation" novalidate>
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Reply</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <div class="card shadow-none">
            <form>
              <label for="exampleFormControlTextarea1">Your Reply</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </form>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-accent btn-sm text-uppercase" data-dismiss="modal"
            (click)=sendPost()>Send</button>
          <button type="button" class="btn btn-outline-accent btn-sm text-uppercase"
            data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="modal fade askquestion-modal-xl" tabindex="-1" role="dialog" aria-labelledby="askquestion-modal"
  aria-hidden="true">
  <div class="modal-dialog modal-lg bg-white shadow">
    <form action="/action_page.php" class="needs-validation" novalidate>
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Ask a Question</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <div class="card shadow-none">
            <div class="row">
              <div class="col-8">

                <form>
                  <div class="form-group">
                    <label for="title">Discussion Title :</label>
                    <input type="text" class="form-control" id="title" placeholder="">
                  </div>


                  <form>
                    <textarea cols="70" placeholder="Describe yourself here">
                    </textarea>
                  </form>


                </form>
              </div>
              <!-- <div class="col-4">
                <div class="form-group">
                    <div class="card border  bg-light shadow-none rounded-0">
                        <div class="card-header border-bottom-white py-2 rounded-0">
                            <h5 class="h6 font-weight-normal mb-0">Similar Questions</h5>
                        </div>
                        <div class="card-body pt-1 px-0">
                            <div class="media d-flex border-bottom-white border-bottom-white py-2">
                             <div class="media-body mb-0 px-4">
                                    <div class=" align-self-center">
                                        <small class="mb-0 text-dark h6 font-weight-semibold">Q1. What is the Lease offer for mineral rights in eddy county</small>
                                        <small class="text-dark mb-0">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing eiu..   
                                        </small> 
                                       
                                      </div> 
                                </div>
                              </div>
                              <div class="media d-flex border-bottom-white py-3">
                                  <div class="media-body mb-0 px-4">
                                      <div class=" align-self-center">
                                          <small class="mb-0 text-dark h6 font-weight-semibold">Q1. What is the Lease offer for mineral rights in eddy county</small>
                                          <small class="text-dark mb-0">
                                              Lorem ipsum dolor sit amet, consectetur adipiscing eiu..   
                                          </small> 
                                          
                                        </div> 
                                  </div>
                                </div>
                         </div>
                      </div>
                  </div>
              </div> -->
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-accent btn-sm text-uppercase" data-dismiss="modal">Post</button>
          <button type="button" class="btn btn-outline-accent btn-sm text-uppercase"
            data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>