<!-- <div class="main-content-container container-fluid px-4"> -->
<div class="main-content-container container-fluid px-4">

  <flash-messages class="bg-accent text-center"></flash-messages>

  <div class="row justify-content-center">
    <div class="col-12">
      <div class="content-loading text-center" *ngIf="loading">
        <app-loadingcircle></app-loadingcircle>
      </div>
    </div>
  </div>

  <div class="row  pt-4">
    <div class="col-12">

      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item align-self-center">
          <h5 class="text-dark mb-0 font-weight-bold mr-3">Community</h5>
        </li>
        <li class="nav-item ">
          <a routerLink="/community/profile" class="active nav-link text-muted font-weight-bold" aria-controls="profile"
            aria-selected="false">MY PROFILE</a>
        </li>
        <!-- <li class="nav-item ">
        <a routerLink="/newsfeed" class="nav-link text-muted font-weight-bold" role="tab" aria-controls="contact"
          aria-selected="false">NEWS FEED</a>
      </li> -->
        <li class="nav-item">
          <a routerLink="/discussions" class="nav-link text-muted font-weight-bold" role="tab" aria-controls="contact"
            aria-selected="false">DISCUSSIONS</a>
        </li>
        <li class="nav-item">
          <a routerLink="/messages" class="nav-link text-muted font-weight-bold" role="tab" aria-controls="contact"
            aria-selected="false">MESSAGES</a>
        </li>
        <!-- <li class="nav-item">
        <a routerLink="/requests" class="nav-link text-muted font-weight-bold" role="tab" aria-controls="contact"
          aria-selected="false">REQUESTS</a>
      </li> -->

        <li class="nav-item pull-right ml-xl-auto align-self-center py-1">
          <a class="btn btn-accent btn-sm btn-block text-uppercase" (click)=openAskQuestionModal(postQuestionModal)>
            Ask a Question
          </a>
        </li>

      </ul>


    </div>
  </div>


  <div class="row py-4">
    <div class="col-xl-12 col-md-12 col-sm-12">
      <!-- Profile widget -->
      <div class="bg-dark shadow overflow-hidden">

        <div class="px-4 pb-4 py-4" [ngStyle]="returnCoverPhoto()">

          <!-- <div class="px-4 pb-4 py-4"
        [ngStyle]="{ 'backgroundImage': 'url(' + coverImage + ')','backgroundRepeat': 'no-repeat', 'backgroundSize':'cover', 'height':'200px'}"> -->

          <!-- <div class="px-4 pb-4 py-4 " [style.background-image]="coverImage" [style.background]="no-repeat"
        [style.background-size]="cover" [style.height]="200"> -->

          <!-- <div class="px-4 pb-4 py-4 "
        style="height:200px; background: url(assets/images/bg-pattern33.png) no-repeat;background-size:cover;"> -->
          <div class="media align-items-end profile-header">
            <div class="justify-content-start mr-3">

              <!-- <ngx-avatar name="{{user.f_name}} {{user.l_name}}" [size]="100"
              class="rounded-50 profile img-thumbnail cursor-pointer" src=""
              (click)="openNewDisplayPicForm(newDisplayPicModal)"></ngx-avatar> -->

              <div class="small-12 medium-2 large-2 columns">
                <!-- <div class=""> -->
                <!-- User Profile Image -->
                <!-- <img class="profile-pic" src="http://cdn.cutestpaw.com/wp-content/uploads/2012/07/l-Wittle-puppy-yawning.jpg"> -->
                <ngx-avatar name="{{user.f_name}} {{user.l_name}}" [size]="100"
                  class="rounded-50 profile img-thumbnail cursor-pointer" src="{{displayPicImage}}"></ngx-avatar>
                <!-- Default Image -->
                <!-- <i class="fa fa-user fa-5x"></i> -->
                <!-- </div> -->
                <div class="p-image cursor-pointer">
                  <i class="fa fa-camera upload-button" (click)="openNewDisplayPicForm(newDisplayPicModal)"></i>
                  <!-- <input class="file-upload" type="file"/> -->
                </div>
              </div>
              <!-- <img href="#" (click)="openNewDisplayPicForm(newDisplayPicModal)" src="assets/images/MProfile.png" alt="..."
              width="100" class="rounded-50 mt-2 profile img-thumbnail cursor-pointer"> -->

            </div>

            <div class="media-body justify-content-center text-left text-white ">
              <h4 class="text-white font-weight-medium username">{{user.f_name | titlecase}} {{user.l_name | titlecase}}
              </h4>
              <h6 class="text-white font-weight-medium user-tagline">{{userDetails?.tag_line}}
              </h6>

            </div>
            <div class="mr-3 profile-btn justify-content-end align-self-end">
              <a href="#" data-toggle="modal" data-target=".cover-modal-lg"
                class="btn btn-outline-white btn-sm btn-block text-uppercase">Change Cover Photo</a>
            </div>
          </div>
        </div>
        <div class="bg-dark text-white px-4 py-2 d-flex justify-content-start text-center">
          <ul class="nav nav-tabs sub-tab border-0 ml-5" id="myTab" role="tablist">
            <li class="nav-item bg-dark ml-5">
              <a routerLink="/community/profile" class="nav-link text-white font-weight-normal" role="tab"
                aria-controls="" aria-selected="false" routerLinkActive='active'>My Wall</a>
            </li>
            <li class="nav-item">
              <a routerLink="/community/mydiscussions" class="nav-link text-white font-weight-normal" role="tab"
                aria-controls="contact" aria-selected="false" routerLinkActive='active'>My Discusssion Groups</a>
            </li>
            <li class="nav-item">
              <a routerLink="/community/neighbors" class="nav-link text-white font-weight-normal" role="tab"
                aria-controls="contact" aria-selected="false" routerLinkActive='active'>Neighbors</a>
            </li>
            <li class="nav-item">
              <a routerLink="/community/following" class="nav-link text-white font-weight-normal" role="tab"
                aria-controls="contact" aria-selected="false" routerLinkActive='active'>Following</a>
            </li>
            <li class="nav-item">
              <a routerLink="/community/bookmarks" class="nav-link text-white font-weight-normal" role="tab"
                aria-controls="contact" aria-selected="false" routerLinkActive='active'>Bookmarks</a>
            </li>

            <li class="nav-item bg-dark ">
              <a routerLink="/community/photos" class="nav-link text-white font-weight-normal" role="tab"
                aria-controls="" aria-selected="false" routerLinkActive='active'>Photos</a>
            </li>
          </ul>
        </div>
      </div>
      <!-- End profile widget -->
    </div>


  </div>

</div>

<router-outlet></router-outlet>
<!-- </div> -->

<div class="modal fade cover-modal-lg" tabindex="-1" role="dialog" aria-labelledby="cover-modal" aria-hidden="true">
  <div class="modal-dialog modal-lg bg-white shadow">
    <form action="/action_page.php" class="needs-validation" novalidate>
      <div class="modal-content">
        <div class=" justify-content-end">
          <button aria-label="Close" type="button" class="close bg-accent " aria-hidden="true" data-dismiss="modal">



            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body pb-1">
          <div class="form-group">
            <label for="mb-4" class="font-weight-semibold">Browse to Add Cover Photo: </label>
            <div class="row">
              <div class="col-xl-12 pb-1 pt-3">
                <ul class="nav nav-tabs border-0" id="photos-tab" role="tablist">
                  <li class="nav-item align-self-center">
                    <a href="#mountains" class="nav-link text-muted font-weight-bold active" data-toggle="tab"
                      aria-selected="false">Mountains</a>
                  </li>

                  <li class="nav-item align-self-center">
                    <a href="#beach" class="nav-link text-muted font-weight-bold" data-toggle="tab" role="tab"
                      aria-controls="contact" aria-selected="false">Beach</a>
                  </li>
                  <li class="nav-item align-self-center">
                    <a href="#leaves" class="nav-link text-muted font-weight-bold" data-toggle="tab" role="tab"
                      aria-controls="contact" aria-selected="false">Leaves</a>
                  </li>
                  <li class="nav-item align-self-center">
                    <a href="#other" class="nav-link text-muted font-weight-bold" data-toggle="tab" role="tab"
                      aria-controls="contact" aria-selected="false">Other</a>
                  </li>
                </ul>
              </div>
            </div>

            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active mt-3" id="mountains" role="tabpanel" aria-labelledby="home-tab">

                <div class="row">
                  <div class="col-4 py-2" (click)="changeCoverPhoto('m-1.png')">
                    <a class="d-block ">
                      <img class="img-fluid img-thumbnail rounded-0 coverphoto cursor-pointer"
                        [ngClass]="{'coverphoto-selected':coverImageTochange==='m-1.png'}" src="assets/images/m-1.png"
                        alt="">
                    </a>
                  </div>
                  <div class="col-4 py-2" (click)="changeCoverPhoto('m-2.png')">
                    <a class="d-block ">
                      <img class="img-fluid img-thumbnail rounded-0 coverphoto cursor-pointer"
                        [ngClass]="{'coverphoto-selected':coverImageTochange==='m-2.png'}" src="assets/images/m-2.png"
                        alt="">
                    </a>
                  </div>
                  <div class="col-4 py-2" (click)="changeCoverPhoto('m-3.png')">
                    <a class="d-block ">
                      <img class="img-fluid img-thumbnail rounded-0 coverphoto cursor-pointer"
                        [ngClass]="{'coverphoto-selected':coverImageTochange==='m-3.png'}" src="assets/images/m-3.png"
                        alt="">
                    </a>
                  </div>
                  <div class="col-4 py-2" (click)="changeCoverPhoto('m-4.png')">
                    <a class="d-block ">
                      <img class="img-fluid img-thumbnail rounded-0 coverphoto cursor-pointer"
                        [ngClass]="{'coverphoto-selected':coverImageTochange==='m-4.png'}" src="assets/images/m-4.png"
                        alt="">
                    </a>
                  </div>
                  <div class="col-4 py-2" (click)="changeCoverPhoto('m-5.png')">
                    <a class="d-block ">
                      <img class="img-fluid img-thumbnail rounded-0 coverphoto cursor-pointer"
                        [ngClass]="{'coverphoto-selected':coverImageTochange==='m-5.png'}" src="assets/images/m-5.png"
                        alt="">
                    </a>
                  </div>
                  <div class="col-4 py-2" (click)="changeCoverPhoto('m-6.png')">
                    <a class="d-block ">
                      <img class="img-fluid img-thumbnail rounded-0 coverphoto cursor-pointer"
                        [ngClass]="{'coverphoto-selected':coverImageTochange==='m-6.png'}" src="assets/images/m-6.png"
                        alt="">
                    </a>
                  </div>
                  <div class="col-4 py-2" (click)="changeCoverPhoto('m-7.png')">
                    <a class="d-block ">
                      <img class="img-fluid img-thumbnail rounded-0 coverphoto cursor-pointer"
                        [ngClass]="{'coverphoto-selected':coverImageTochange==='m-7.png'}" src="assets/images/m-7.png"
                        alt="">
                    </a>
                  </div>
                </div>
              </div>

              <div class="tab-pane fade show mt-3" id="beach" role="tabpanel" aria-labelledby="home-tab">

                <div class="row">
                  <div class="col-4 py-2" (click)="changeCoverPhoto('s-1.png')">
                    <a class="d-block ">
                      <img class="img-fluid img-thumbnail rounded-0 coverphoto cursor-pointer"
                        [ngClass]="{'coverphoto-selected':coverImageTochange==='s-1.png'}" src="assets/images/s-1.png"
                        alt="">
                    </a>
                  </div>
                  <div class="col-4 py-2" (click)="changeCoverPhoto('s-2.png')">
                    <a class="d-block ">
                      <img class="img-fluid img-thumbnail rounded-0 coverphoto cursor-pointer"
                        [ngClass]="{'coverphoto-selected':coverImageTochange==='s-2.png'}" src="assets/images/s-2.png"
                        alt="">
                    </a>
                  </div>
                  <div class="col-4 py-2" (click)="changeCoverPhoto('s-3.png')">
                    <a class="d-block ">
                      <img class="img-fluid img-thumbnail rounded-0 coverphoto cursor-pointer"
                        [ngClass]="{'coverphoto-selected':coverImageTochange==='s-3.png'}" src="assets/images/s-3.png"
                        alt="">
                    </a>
                  </div>
                  <div class="col-4 py-2" (click)="changeCoverPhoto('s-4.png')">
                    <a class="d-block ">
                      <img class="img-fluid img-thumbnail rounded-0 coverphoto cursor-pointer"
                        [ngClass]="{'coverphoto-selected':coverImageTochange==='s-4.png'}" src="assets/images/s-4.png"
                        alt="">
                    </a>
                  </div>
                  <div class="col-4 py-2" (click)="changeCoverPhoto('s-5.png')">
                    <a class="d-block ">
                      <img class="img-fluid img-thumbnail rounded-0 coverphoto cursor-pointer"
                        [ngClass]="{'coverphoto-selected':coverImageTochange==='s-5.png'}" src="assets/images/s-5.png"
                        alt="">
                    </a>
                  </div>
                  <div class="col-4 py-2" (click)="changeCoverPhoto('s-6.png')">
                    <a class="d-block ">
                      <img class="img-fluid img-thumbnail rounded-0 coverphoto cursor-pointer"
                        [ngClass]="{'coverphoto-selected':coverImageTochange==='s-6.png'}" src="assets/images/s-6.png"
                        alt="">
                    </a>
                  </div>
                  <div class="col-4 py-2" (click)="changeCoverPhoto('s-7.png')">
                    <a class="d-block ">
                      <img class="img-fluid img-thumbnail rounded-0 coverphoto cursor-pointer"
                        [ngClass]="{'coverphoto-selected':coverImageTochange==='s-7.png'}" src="assets/images/s-7.png"
                        alt="">
                    </a>
                  </div>
                  <div class="col-4 py-2" (click)="changeCoverPhoto('s-8.png')">
                    <a class="d-block ">
                      <img class="img-fluid img-thumbnail rounded-0 coverphoto cursor-pointer"
                        [ngClass]="{'coverphoto-selected':coverImageTochange==='s-8.png'}" src="assets/images/s-8.png"
                        alt="">
                    </a>
                  </div>
                </div>
              </div>

              <div class="tab-pane fade show mt-3" id="leaves" role="tabpanel" aria-labelledby="home-tab">
                <div class="row">
                  <div class="col-4 py-2" (click)="changeCoverPhoto('bg-pattern33.png')">
                    <a class="d-block ">
                      <img class="img-fluid img-thumbnail rounded-0 coverphoto cursor-pointer"
                        [ngClass]="{'coverphoto-selected':coverImageTochange==='bg-pattern33.png'}"
                        src="assets/images/bg-pattern33.png" alt="">
                    </a>
                  </div>
                  <div class="col-4 py-2" (click)="changeCoverPhoto('l1.png')">
                    <a class="d-block ">
                      <img class="img-fluid img-thumbnail rounded-0 coverphoto cursor-pointer"
                        [ngClass]="{'coverphoto-selected':coverImageTochange==='l1.png'}" src="assets/images/l1.png"
                        alt="">
                    </a>
                  </div>
                  <div class="col-4 py-2" (click)="changeCoverPhoto('l2.png')">
                    <a class="d-block ">
                      <img class="img-fluid img-thumbnail rounded-0 coverphoto cursor-pointer"
                        [ngClass]="{'coverphoto-selected':coverImageTochange==='l2.png'}" src="assets/images/l2.png"
                        alt="">
                    </a>
                  </div>
                  <div class="col-4 py-2" (click)="changeCoverPhoto('l3.png')">
                    <a class="d-block ">
                      <img class="img-fluid img-thumbnail rounded-0 coverphoto cursor-pointer"
                        [ngClass]="{'coverphoto-selected':coverImageTochange==='l3.png'}" src="assets/images/l3.png"
                        alt="">
                    </a>
                  </div>
                  <div class="col-4 py-2" (click)="changeCoverPhoto('l4.png')">
                    <a class="d-block ">
                      <img class="img-fluid img-thumbnail rounded-0 coverphoto cursor-pointer"
                        [ngClass]="{'coverphoto-selected':coverImageTochange==='l4.png'}" src="assets/images/l4.png"
                        alt="">
                    </a>
                  </div>
                  <div class="col-4 py-2" (click)="changeCoverPhoto('l5.png')">
                    <a class="d-block ">
                      <img class="img-fluid img-thumbnail rounded-0 coverphoto cursor-pointer"
                        [ngClass]="{'coverphoto-selected':coverImageTochange==='l5.png'}" src="assets/images/l5.png"
                        alt="">
                    </a>
                  </div>
                  <div class="col-4 py-2" (click)="changeCoverPhoto('l6.png')">
                    <a class="d-block ">
                      <img class="img-fluid img-thumbnail rounded-0 coverphoto cursor-pointer"
                        [ngClass]="{'coverphoto-selected':coverImageTochange==='l6.png'}" src="assets/images/l6.png"
                        alt="">
                    </a>
                  </div>
                  <div class="col-4 py-2" (click)="changeCoverPhoto('l7.png')">
                    <a class="d-block ">
                      <img class="img-fluid img-thumbnail rounded-0 coverphoto cursor-pointer"
                        [ngClass]="{'coverphoto-selected':coverImageTochange==='l7.png'}" src="assets/images/l7.png"
                        alt="">
                    </a>
                  </div>
                  <div class="col-4 py-2" (click)="changeCoverPhoto('l8.png')">
                    <a class="d-block ">
                      <img class="img-fluid img-thumbnail rounded-0 coverphoto cursor-pointer"
                        [ngClass]="{'coverphoto-selected':coverImageTochange==='l8.png'}" src="assets/images/l8.png"
                        alt="">
                    </a>
                  </div>
                  <div class="col-4 py-2" (click)="changeCoverPhoto('l9.png')">
                    <a class="d-block ">
                      <img class="img-fluid img-thumbnail rounded-0 coverphoto cursor-pointer"
                        [ngClass]="{'coverphoto-selected':coverImageTochange==='l9.png'}" src="assets/images/l9.png"
                        alt="">
                    </a>
                  </div>
                  <div class="col-4 py-2" (click)="changeCoverPhoto('l10.png')">
                    <a class="d-block ">
                      <img class="img-fluid img-thumbnail rounded-0 coverphoto cursor-pointer"
                        [ngClass]="{'coverphoto-selected':coverImageTochange==='l10.png'}" src="assets/images/l10.png"
                        alt="">
                    </a>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade show mt-3" id="other" role="tabpanel" aria-labelledby="home-tab">
                <div class="row">
                  <div class="col-4 py-2" (click)="changeCoverPhoto('r-1.png')">
                    <a class="d-block ">
                      <img class="img-fluid img-thumbnail rounded-0 coverphoto cursor-pointer"
                        [ngClass]="{'coverphoto-selected':coverImageTochange==='r-1.png'}" src="assets/images/r-1.png"
                        alt="">
                    </a>
                  </div>
                  <div class="col-4 py-2" (click)="changeCoverPhoto('r-2.png')">
                    <a class="d-block ">
                      <img class="img-fluid img-thumbnail rounded-0 coverphoto cursor-pointer"
                        [ngClass]="{'coverphoto-selected':coverImageTochange==='r-2.png'}" src="assets/images/r-2.png"
                        alt="">
                    </a>
                  </div>
                  <div class="col-4 py-2" (click)="changeCoverPhoto('r-3.png')">
                    <a class="d-block ">
                      <img class="img-fluid img-thumbnail rounded-0 coverphoto cursor-pointer"
                        [ngClass]="{'coverphoto-selected':coverImageTochange==='r-3.png'}" src="assets/images/r-3.png"
                        alt="">
                    </a>
                  </div>
                  <div class="col-4 py-2" (click)="changeCoverPhoto('r-4.png')">
                    <a class="d-block ">
                      <img class="img-fluid img-thumbnail rounded-0 coverphoto cursor-pointer"
                        [ngClass]="{'coverphoto-selected':coverImageTochange==='r-4.png'}" src="assets/images/r-4.png"
                        alt="">
                    </a>
                  </div>
                  <div class="col-4 py-2" (click)="changeCoverPhoto('r-5.png')">
                    <a class="d-block ">
                      <img class="img-fluid img-thumbnail rounded-0 coverphoto cursor-pointer"
                        [ngClass]="{'coverphoto-selected':coverImageTochange==='r-5.png'}" src="assets/images/r-5.png"
                        alt="">
                    </a>
                  </div>
                  <div class="col-4 py-2" (click)="changeCoverPhoto('r-6.png')">
                    <a class="d-block ">
                      <img class="img-fluid img-thumbnail rounded-0 coverphoto cursor-pointer"
                        [ngClass]="{'coverphoto-selected':coverImageTochange==='r-6.png'}" src="assets/images/r-6.png"
                        alt="">
                    </a>
                  </div>
                  <div class="col-4 py-2" (click)="changeCoverPhoto('r-7.png')">
                    <a class="d-block ">
                      <img class="img-fluid img-thumbnail rounded-0 coverphoto cursor-pointer"
                        [ngClass]="{'coverphoto-selected':coverImageTochange==='r-7.png'}" src="assets/images/r-7.png"
                        alt="">
                    </a>
                  </div>
                  <div class="col-4 py-2" (click)="changeCoverPhoto('r-8.png')">
                    <a class="d-block ">
                      <img class="img-fluid img-thumbnail rounded-0 coverphoto cursor-pointer"
                        [ngClass]="{'coverphoto-selected':coverImageTochange==='r-8.png'}" src="assets/images/r-8.png"
                        alt="">
                    </a>
                  </div>
                  <div class="col-4 py-2" (click)="changeCoverPhoto('r-10.png')">
                    <a class="d-block ">
                      <img class="img-fluid img-thumbnail rounded-0 coverphoto cursor-pointer"
                        [ngClass]="{'coverphoto-selected':coverImageTochange==='r-10.png'}" src="assets/images/r-10.png"
                        alt="">
                    </a>
                  </div>
                </div>
              </div>



            </div>
            <!-- <div class="row">
              <div class="col-4 py-2" (click)="changeCoverPhoto('assets/images/bg-pattern33.png')">
                <a class="d-block ">
                  <img class="img-fluid img-thumbnail rounded-0 coverphoto" src="assets/images/bg-pattern33.png" alt="">
                </a>
              </div>

              <div class="col-4 py-2" (click)="changeCoverPhoto('assets/images/bg-pattern2.jpg')">
                <a class="d-block ">
                  <img class="img-fluid img-thumbnail rounded-0 coverphoto" src="assets/images/bg-pattern2.jpg" alt="">
                </a>
              </div>
              <div class="col-4 py-2" (click)="changeCoverPhoto('assets/images/bg-pattern3.jpg')">
                <a class="d-block ">
                  <img class="img-fluid img-thumbnail rounded-0 coverphoto" src="assets/images/bg-pattern3.jpg" alt="">
                </a>
              </div>
            </div> -->

            <!-- <div class="js--image-preview--cover  shadow mt-3 ">
            </div>
            <div class="upload-options">
              <label>
                <input type="file" class="image-upload  rounded-5" accept="image/*" />
              </label>
            </div> -->
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-accent text-uppercase" data-dismiss="modal"
            (click)="updateCoverPhoto()">Submit</button>
          <!-- <button type="button" class="btn btn-outline-accent text-uppercase" data-dismiss="modal">Cancel</button> -->
        </div>
      </div>
    </form>
  </div>
</div>




<ng-template #newDisplayPicModal>
  <div class="modal-content modal-md" [formGroup]="newDisplayPicForm">
    <div class=" justify-content-end">
      <button aria-label="Close" type="button" class="close bg-accent " aria-hidden="true"
        (click)="closeNewDisplayPicForm()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
      <div class="form-row">

        <div class="form-group col-12">
          <label for="leasetype mb-4" class="font-weight-semibold">Browse to Add Profile Photo : </label>
        </div>
      </div>
      <div class="form-row">

        <!-- <div class="form-group col-4" *ngIf="isImageCropped">
          <img class="js--image-preview--profile mt-2" [src]="croppedImage" width="70" height="70">
        </div> -->

        <!-- <div class="form-group col-4">
        <div class="small-12 medium-2 large-2 columns">
          <div class="circle"> 
            <img class="profile bg-accent js--image-preview--profile mt-2" [src]="croppedImage"> 
          </div>
          <div class="p-image">
            <i class="fa fa-camera upload-button" >
             <input class=" image-upload rounded-5 text-dark" type="file" formControlName="newDisplayPic" 
             (change)="fileChangeEvent($event)" accept="image/*"/>
            </i>
          </div>
       </div>
        </div> -->

        <div class="form-group col-4" *ngIf="imagePreview">
          <div class="mt-2">
            <img class="rounded-circle border" [src]="imagePreview" height="120px" width="120px">
          </div>
        </div>

        <div class="form-group col-4">
          <div class="js--image-preview--profile mt-2">
            <div class="upload-options-profile  align-self-end">
              <label>
                <input type="file" class="image-upload rounded-5 text-dark" formControlName="newDisplayPic"
                  (change)="selectFiles($event)" accept="image/*" />
              </label>
            </div>
          </div>
        </div>

      </div>

      <div class="form-row">
        <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="4 / 4"
          [resizeToWidth]="128" format="png">
        </image-cropper>
      </div>

    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-accent text-uppercase" (click)="submitUpdateProfileImage()">Submit</button>
    </div>
  </div>



</ng-template>


<!-- <div class="modal fade profile-modal-lg" tabindex="-1" role="dialog" aria-labelledby="profile-modal" aria-hidden="true">
  <div class="modal-dialog modal-md bg-white shadow">
    <form action="/action_page.php" class="needs-validation" novalidate>
      <div class="modal-content">
        <div class=" justify-content-end">
          <button aria-label="Close" type="button" class="close bg-accent " aria-hidden="true" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <div class="form-row">

            <div class="form-group col-12">
              <label for="leasetype mb-4" class="font-weight-semibold">Browse to Add Profile Photo : </label>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-6">

              <div class="js--image-preview--profile mt-2">
                <div class="upload-options-profile  align-self-end">
                  <label>
                    <input type="file" class="image-upload rounded-5 text-dark" (change)="fileChangeEvent($event)"
                      accept="image/*" />
                  </label>
                </div>
              </div>
            </div>

            <div class="form-group col-6">
              <img class="js--image-preview--profile mt-2" [src]="croppedImage" width="70" height="70">
            </div>
          </div>

          <div class="form-row">
            <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="4 / 3"
              [resizeToWidth]="128" format="png" (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()"
              (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()">
            </image-cropper>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-accent text-uppercase" (click)="onUploadFile()">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div> -->


<!------------------------------------------Post Question Modal-------------------------------->

<ng-template #postQuestionModal>
  <form>
    <div class="modal-content">

      <div class=" justify-content-end">
        <button aria-label="Close" type="button" class="close bg-accent " aria-hidden="true"
          (click)="closePostQuestionModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="card shadow-none">
          <div class="row">
            <div class="col-12">
              <h5 class="h6 font-weight-semibold"><u>Ask a Question</u></h5>
              <form [formGroup]="postQuestionForm">
                <div class="form">
                  <div class="form-group">
                    <div class="form-row">

                      <div class="col-4 d-flex">

                        <label for="title" class="align-self-center mb-0 h6 text-dark font-weight-semibold">Category
                          :</label>
                      </div>

                      <div class="col-8">
                        <select class="form-control border" formControlName="CategoryName" title="CategoryName"
                          [value]="null" (change)="selectedCategory($event);getSubcategoriesList()"
                          [ngClass]="{ 'is-invalid': submitQuestion && g.CategoryName.errors }">
                          <option [value]="null" disabled hidden> Select Category</option>
                          <option *ngFor="let c of categoryList" [value]="c.Categories.doc_id">
                            {{c.Categories.name}}</option>
                        </select>
                        <div *ngIf="submitQuestion && g.CategoryName.errors" class="invalid-feedback">
                          <div *ngIf="g.CategoryName.errors.required">Category Name is required</div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="form-row">
                      <div class="col-4">
                        <label for="title" class="align-self-center mb-0 h6 text-dark font-weight-semibold">Sub-Category
                          :</label>
                      </div>
                      <div class="col-8">
                        <select class="form-control border" formControlName="subCategoryName" title="subCategoryName"
                          [value]="null" (change)="selectedSubCategory($event)"
                          [ngClass]="{ 'is-invalid': submitQuestion && g.subCategoryName.errors }">
                          <option [value]="null" disabled hidden> Select Sub-Category</option>
                          <option *ngFor="let sc of subCategoryListDD" [value]="sc.sub_categories.subcat_id">
                            {{sc.sub_categories.name}}</option>
                        </select>
                        <div *ngIf="submitQuestion && g.subCategoryName.errors" class="invalid-feedback">
                          <div *ngIf="g.subCategoryName.errors.required">Sub-Category Name is required</div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="title" class="align-self-center mb-0 h6 text-dark font-weight-semibold">Discussion Title
                      :</label>
                    <input type="text" class="form-control" id="title" formControlName="discussionTitle" placeholder=""
                      [ngClass]="{ 'is-invalid': submitQuestion && g.discussionTitle.errors }">
                    <div *ngIf="submitQuestion && g.discussionTitle.errors" class="invalid-feedback">
                      <div *ngIf="g.discussionTitle.errors.required">Discussion title is required</div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="title" class="align-self-center mb-0 h6 text-dark font-weight-semibold">Description
                      :</label>
                    <div class="w-100">
                    </div>
                    <angular-editor formControlName="problemDescription" [config]="editorConfig"
                      [ngClass]="{ 'is-invalid': submitQuestion && g.problemDescription.errors }">
                      <div *ngIf="submitQuestion && g.problemDescription.errors" class="invalid-feedback">
                        <div *ngIf="g.problemDescription.errors.required">Problem description is required</div>
                      </div>
                    </angular-editor>
                  </div>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-accent btn-sm text-uppercase" (click)="postQuestion()">Post</button>
      </div>
    </div>
  </form>

</ng-template>

<!------------------------------------------End Post Question Modal-------------------------------->