

<div class="main-content-container container-fluid px-4">		  
        <div class="row pb-3 pt-4">		  
        <div class="col-12">		  
        <!-- <nav> -->
          <!-- <div class="nav nav-tabs" id="nav-tab" role="tablist"> -->
            <!-- <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Home</a> -->
            <!-- <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Profile</a> -->
            <!-- <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Contact</a> -->
          <!-- </div> -->
        <!-- </nav> -->
        <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item align-self-center">
           <h5 class="text-dark mb-0 font-weight-bold mr-3">Community</h5>
          </li>
          <li class="nav-item ">
            <a routerLink="/profile"  class="active nav-link text-muted font-weight-bold"  aria-controls="profile" aria-selected="false">MY PROFILE</a>
          </li>
          <li class="nav-item ">
            <a routerLink="/newsfeed" class="nav-link text-muted font-weight-bold" role="tab" aria-controls="contact" aria-selected="false">NEWS FEED</a>
          </li>
          <li class="nav-item">
            <a  routerLink="/discussions" class="nav-link text-muted font-weight-bold" role="tab" aria-controls="contact" aria-selected="false">DISCUSSIONS</a>
          </li>
          <li class="nav-item">
            <a  routerLink="/messages" class="nav-link text-muted font-weight-bold" role="tab" aria-controls="contact" aria-selected="false">MESSAGES</a>
          </li>
           <li class="nav-item">
            <a routerLink="/requests" class="nav-link text-muted font-weight-bold" role="tab" aria-controls="contact" aria-selected="false">REQUESTS</a>
          </li>
          <!-- <li class="nav-item">
            <a routerLink="/index" class="nav-link text-muted font-weight-bold"  role="tab" aria-controls="contact" aria-selected="false">SETTINGS</a>
          </li> -->
          <li class="nav-item pull-right ml-xl-auto align-self-center py-1">
            <a class="btn btn-accent btn-sm btn-block text-uppercase" data-target=".askquestion-modal-xl" data-toggle="modal" href="#">
            Ask a Question
          </a>
        </li>
        <!-- <li class="nav-item pull-right ml-auto align-self-center d-block d-md-block d-xl-none">
            <a class="btn btn-accent text-uppercase" data-target=".askquestion-modal-lg" data-toggle="modal" href="#">
              <i class="material-icons md-18">
            edit
            </i> 
        
          </a>
          </li> -->
        </ul>
        
      
        </div>
        </div>

        <div class="row py-4">
            <div class="col-xl-12 col-md-12 col-sm-12">
                <!-- Profile widget -->
                <div class="bg-warning shadow overflow-hidden">
                    <div class="px-4 pb-4 py-4 bg-green " style="height:180px">
                        <div class="media align-items-end profile-header ">
                          <div class="justify-content-start mr-3">
                            <img href="#" data-toggle="modal" data-target=".profile-modal-lg" src="https://d19m59y37dris4.cloudfront.net/university/1-1-1/img/teacher-4.jpg" alt="..." width="100" class="rounded-50 mt-2 profile img-thumbnail">
                            </div>
                            
                            <div class="media-body justify-content-center text-left text-white ">
                                <h4 class="text-white font-weight-medium username" >Billy Bob</h4>
                               
                            </div>
                            <div class="mr-3 profile-btn justify-content-end align-self-end">
                              <a href="#" data-toggle="modal" data-target=".cover-modal-lg" class="btn btn-outline-white btn-sm btn-block text-uppercase">Change Cover Photo</a>
                          </div>
                        </div>
                    </div>
         <div class="bg-dark text-white px-4 py-2 d-flex justify-content-start text-center">
          <ul class="nav nav-tabs sub-tab border-0 ml-5" id="myTab" role="tablist">
    <li class="nav-item bg-dark ml-5">
      <a routerLink="/photos" class="  nav-link text-white font-weight-normal"  role="tab" aria-controls="profile" aria-selected="false">Photos</a>
    </li>
    <li class="nav-item">
      <a routerLink="/following" class="nav-link text-white font-weight-normal"  role="tab" aria-controls="contact" aria-selected="false">Following</a>
    </li>
    <li class="nav-item">
      <a routerLink="/neighbors" class="nav-link text-white font-weight-normal" id="contact-tab"  role="tab" aria-controls="contact" aria-selected="false">Neighbors</a>
    </li>
    <li class="nav-item">
      <a routerLink="/mydiscussions" class="nav-link text-white font-weight-normal" id="contact-tab"  role="tab" aria-controls="contact" aria-selected="false">My Discusssions</a>
    </li>
     <li class="nav-item">
      <a class="nav-link text-white font-weight-normal" id="contact-tab"  role="tab" aria-controls="contact" aria-selected="false">Bookmarks</a>
    </li>
    
</ul>
</div>


            </div>
        <!-- End profile widget -->
        </div>
        </div>
       
        <div class="row py-3">
          <div class="col-xl-12">
          <div class="row justify-content-between no-gutters py-4">
            <div class="col-xl-8">
                <ul class="list-inline d-flex mb-1">
                    <li class="list-inline-item h6 text-secondary">What's New ??</li>
                     <li class="list-inline-item ml-auto">
                        <a class=" dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <small class="font-weight-semibold">All Posts</small>
                          </a>
                           <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="#">Latest</a>
                        <a class="dropdown-item" href="#">Yesterday</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                      </div>
                    </li>
                    
                </ul>
                <div class="row justify-content-between no-gutters pb-3">
                    <div class="col-xl-12">
                        <div class="card card-small blog-comments">
                         
                            <div class="card-body shadow p-0">
                              <div class="media d-flex align-items-center p-3">
                                  <img class="mr-3 user-pic align-self-center rounded-circle mr-2 bg-accent" src="assets/images/avatars/0.jpg"  alt="Generic placeholder image">
                                  <div class="media-body mb-0">
                                      <form class="">
                                          <input class="form-control rounded-5 form-control-lg"  placeholder="Whats Happening ??" data-toggle="modal" data-target=".post-modal-xl">
                                        
                                        </form>
                                   </div>
                                  <a routerLink="#"> <i class="material-icons p-2 md-36 icon-muted">
                                    add_photo_alternate
                                    </i>
                                  </a>
                                    <!-- <i class="material-icons p-2 md-36">
                                      add_photo_alternate
                                      </i> -->
                                      <a routerLink="#">
                                         <svg class="icon-muted-svg mt-1" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"><path d="M7 19h-6v-11h6v11zm8-18h-6v18h6v-18zm8 11h-6v7h6v-7zm1 9h-24v2h24v-2z"/>
                                        </svg>
                                        </a>
                                </div>
                              </div>

                            </div>
                 </div>
            </div>
            <div class="row justify-content-between no-gutters pb-3">
                    <div class="col-xl-12">
                        <div class="card card-small shadow blog-comments">
                         
                            <div class="card-header p-0">
                                <div class="media d-flex align-items-center pt-3 px-3">
                                    <img class="mr-3 user-pic rounded-circle mr-2" src="assets/images/avatars/0.jpg"  alt="Generic placeholder image">
                                    <div class="media-body mb-0">
                                      <h5 class="text-dark h6 mb-0 font-weight-semibold">Sierra Brooks</h5>
                                      <h5 class="text-muted h6 mb-0 font-weight-semibold small">May 3 at 8:30pm</h5>
                                     </div>
                                  </div>
                            </div> 
                                <div class="card-body pb-1">
                                    <h5 class="text-dark h6 mb-0 font-weight-semibold">Lorem Ispum is a Dummy text</h5>
                                    <p class="text-secondary pt-2">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,  laboris commodo consequat.   
                                      </p>
                                      <img class="img-fluid" src="assets/images/content-management/6.jpeg"  alt="Generic placeholder image">
                                      <ul class="list-inline d-flex">
                                        <a routerLink="">
                                          <li class="list-inline-item pt-2 mb-0"> <i class="material-icons icon-muted">
                                              mode_comment
                                              </i> 
                                            </li>
                                          </a>
                                          <li class="list-inline-item ml-2 pt-2 mb-0">
                                            <small class="text-secondary">2 Comments </small>
                                          </li>
                                           <li class="list-inline-item h6 pt-2 font-weight-semibold text-muted ml-auto">
                                              <i class="material-icons">
                                                  keyboard_arrow_up
                                                  </i>
                                          </li>
                                      </ul>
                                    </div>
                                <div class="card-footer pt-0">
                                    <h5 class="text-dark h6 mb-0 font-weight-semibold"></h5>
                                    <div class="media d-flex align-items-center px-3">
                                       
                                        <img class="mr-3 user-pic rounded-circle mr-2" src="assets/images/avatars/3.jpg"  alt="Generic placeholder image">
                                        <div class="media-body mb-0">
                                          <div class="bg-light align-self-center rounded-5 py-55 px-3">
                                              <p class="text-dark mb-0">
                                                 <span class="font-weight-bold">John Doe : </span>Lorem ipsum dolor sit amet, consectetur  sed do eiu..   
                                                </p>  
                                               
                                          </div>
                                          <div class="align-self-center px-3">
                                            <small class="text-secondary mb-0">
                                              May 3 at 8:30pm
                                            </small>  
                                             
                                        </div>
                                         
                                        </div>
                                      </div>
                                      <form class="p-3">
                                          <input class="form-control border-0 rounded-5 bg-light form-control-lg" type="text" placeholder="Write a Comment">
                                        
                                        </form>
                                </div>
                            </div>
                 </div>
</div>
                
              </div>

              <div class="col-xl-4">
                
                  <div class="col-xl-12 col-md-12 col-sm-12 mb-4">
                   
                      <ul class="list-inline d-flex mb-1">
                          <li class="list-inline-item h6 text-secondary mb-0">Stats</li>
                      </ul>
                      <div class="card justify-content-between shadow p-2 card-small blog-comments"> 
                          <div class="card-body text-center pb-0">
                              <ul class="list-inline d-flex">
                                  <li class="list-inline-item flex-1 h6 mb-0">
                                   <small class="font-weight-semibold text-secondary text-uppercase">
                                     Comments</small>
                                   <br><span class="text-dark font-weight-semibold">986</span>  
                                  </li>
                                  <li class="list-inline-item flex-1 h6 mb-0">
                                      <small class="font-weight-semibold text-secondary text-uppercase">
                                        messages</small>
                                      <br><span class="text-dark font-weight-semibold">86</span>  
                                     </li>
                                     <li class="list-inline-item flex-1 h6 mb-0">
                                        <small class="font-weight-semibold text-secondary text-uppercase">
                                          Posts</small>
                                        <br><span class="text-dark font-weight-semibold">256</span>  
                                       </li>
                              </ul>
                          </div>
                      </div>         
                     
                      <ul class="list-inline d-flex pt-4 mb-1">
                    <li class="list-inline-item h6 text-secondary mb-1">Discussions</li>
                     <li class="list-inline-item ml-auto mb-1">
                        <a  href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <small class="font-weight-semibold text-secondary mb-0">  Edit</small>
                          </a>
                    </li>
                </ul>
                      <div class="card card-small blog-comments">
                         
                        <div class="card-body shadow p-0">
                          <div class="media d-flex align-items-center p-3">
                              <img class="mr-3 user-pic rounded-circle mr-2" src="assets/images/avatars/1.jpg"  alt="Generic placeholder image">
                              <div class="media-body mb-0">
                                <h5 class="text-dark h6 mb-0 font-weight-semibold">Texas Royalty Deed Wording</h5>
                               </div>
                            </div>

                            <div class="media d-flex align-items-center p-3">
                                <img class="mr-3 user-pic rounded-circle mr-2" src="assets/images/avatars/2.jpg"  alt="Generic placeholder image">
                                <div class="media-body mb-0">
                                  <h5 class="text-dark h6 mb-0 font-weight-semibold">Horizontal Drilling Question</h5>
                                 </div>
                              </div>

                              <div class="media d-flex align-items-center p-3">
                                  <img class="mr-3 user-pic rounded-circle mr-2" src="assets/images/avatars/3.jpg"  alt="Generic placeholder image">
                                  <div class="media-body mb-0">
                                    <h5 class="text-dark h6 mb-0 font-weight-semibold">Caddo county mineral leasing</h5>
                                   </div>
                                </div>
                        </div>

                       
                        <div class="card-footer border-top">
                          <div class="row">
                            <div class="col text-center view-report">
                              <a href="" class="text-secondary font-weight-bold ">See All</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-12">
                    <ul class="list-inline d-flex">
                        <li class="list-inline-item h6 text-secondary">Photos</li>
                         <li class="list-inline-item ml-auto">
                            <a href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <small class="font-weight-semibold text-secondary ">Add Photo</small>
                              </a>
                        </li>
                    </ul>
                    <div class="card card-small shadow" >
                        <div class="card-body p-2">
                        <div class="row text-center text-lg-left">
                      
                          <div class="col-lg-4 col-md-4 col-6">
                            <a href="#" class="d-block mb-4 h-100">
                                  <img class="img-fluid img-thumbnail rounded-0" src="https://source.unsplash.com/pWkk7iiCoDM/400x300" alt="">
                                </a>
                          </div>
                          <div class="col-lg-4 col-md-4 col-6">
                            <a href="#" class="d-block mb-4 h-100">
                                  <img class="img-fluid img-thumbnail rounded-0" src="https://source.unsplash.com/aob0ukAYfuI/400x300" alt="">
                                </a>
                          </div>
                          <div class="col-lg-4 col-md-4 col-6">
                            <a href="#" class="d-block mb-4 h-100">
                                  <img class="img-fluid img-thumbnail rounded-0" src="https://source.unsplash.com/EUfxH-pze7s/400x300" alt="">
                                </a>
                          </div>
                          <div class="col-lg-4 col-md-4 col-6">
                            <a href="#" class="d-block mb-4 h-100">
                                  <img class="img-fluid img-thumbnail rounded-0" src="https://source.unsplash.com/M185_qYH8vg/400x300" alt="">
                                </a>
                          </div>
                          <div class="col-lg-4 col-md-4 col-6">
                            <a href="#" class="d-block mb-4 h-100">
                                  <img class="img-fluid img-thumbnail rounded-0" src="https://source.unsplash.com/sesveuG_rNo/400x300" alt="">
                                </a>
                          </div>
                          <div class="col-lg-4 col-md-4 col-6">
                            <a href="#" class="d-block mb-4 h-100">
                                  <img class="img-fluid img-thumbnail rounded-0" src="https://source.unsplash.com/AvhMzHwiE_0/400x300" alt="">
                                </a>
                          </div>
                          <div class="col-lg-4 col-md-4 col-6">
                            <a href="#" class="d-block mb-4 h-100">
                                  <img class="img-fluid img-thumbnail rounded-0" src="https://source.unsplash.com/2gYsZUmockw/400x300" alt="">
                                </a>
                          </div>
                          <div class="col-lg-4 col-md-4 col-6">
                            <a href="#" class="d-block mb-4 h-100">
                                  <img class="img-fluid img-thumbnail rounded-0" src="https://source.unsplash.com/EMSDtjVHdQ8/400x300" alt="">
                                </a>
                          </div>
                          <div class="col-lg-4 col-md-4 col-6">
                            <a href="#" class="d-block mb-4 h-100">
                                  <img class="img-fluid img-thumbnail rounded-0" src="https://source.unsplash.com/8mUEy0ABdNE/400x300" alt="">
                                </a>
                          </div>
                          <div class="col-lg-4 col-md-4 col-6">
                            <a href="#" class="d-block mb-4 h-100">
                                  <img class="img-fluid img-thumbnail rounded-0" src="https://source.unsplash.com/G9Rfc1qccH4/400x300" alt="">
                                </a>
                          </div>
                          <div class="col-lg-4 col-md-4 col-6">
                            <a href="#" class="d-block mb-4 h-100">
                                  <img class="img-fluid img-thumbnail rounded-0" src="https://source.unsplash.com/aJeH0KcFkuc/400x300" alt="">
                                </a>
                          </div>
                          <div class="col-lg-4 col-md-4 col-6">
                            <a href="#" class="d-block mb-4 h-100">
                                  <img class="img-fluid img-thumbnail rounded-0" src="https://source.unsplash.com/p2TQ-3Bh3Oo/400x300" alt="">
                                </a>
                          </div>
                        </div>
                        </div>
                        <div class="card-footer border-top">
                            <div class="row">
                              <div class="col text-center view-report">
                                <a href="" class="text-secondary font-weight-bold ">See All Photos</a>
                              </div>
                            </div>
                          </div>
                      </div>
                    </div>

                  </div>   
          </div>
          
          
          </div>
</div>
      </div>

      <div class="modal fade cover-modal-lg" tabindex="-1" role="dialog" aria-labelledby="cover-modal" aria-hidden="true">
        <div class="modal-dialog modal-md bg-white shadow">
         <form action="/action_page.php" class="needs-validation" novalidate>
          <div class="modal-content">
           <div class="modal-header">
              <h5 class="modal-title">Add Cover Photo</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
          <div class="form-group">
          <label for="mb-4">Browse to add Cover Photo: </label>
          <div class="js--image-preview--cover  shadow  ">
          </div>
          <div class="upload-options">
            <label>
              <input type="file" class="image-upload  rounded-5" accept="image/*" />
            </label>
          </div>
      </div>
            </div>
          
            <div class="modal-footer">
              <button type="button" class="btn btn-accent">Submit</button>
              <button type="button" class="btn btn-outline-accent" data-dismiss="modal">Cancel</button>
            </div>
          </div>
            </form>
        </div>
      </div>
      <div class="modal fade profile-modal-lg" tabindex="-1" role="dialog" aria-labelledby="profile-modal" aria-hidden="true">
        <div class="modal-dialog modal-md bg-white shadow">
         <form action="/action_page.php" class="needs-validation" novalidate>
          <div class="modal-content">
           <div class="modal-header">
              <h5 class="modal-title">Add Profile Photo</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
          <div class="form-group">
          <label for="leasetype mb-4">Browse to add Profile Photo: </label>
          <div class="js--image-preview--profile shadow mr-auto mt-2">
            <div class="upload-options-profile  align-self-end">
              <label>
                <input type="file" class="image-upload rounded-5 text-dark" accept="image/*" />
              </label>
            </div>
          </div>
          
      </div>
            </div>
          
            <div class="modal-footer">
              <button type="button" class="btn btn-accent">Submit</button>
              <button type="button" class="btn btn-outline-accent" data-dismiss="modal">Cancel</button>
            </div>
          </div>
            </form>
        </div>
      </div>
      <div class="modal fade askquestion-modal-xl" tabindex="-1" role="dialog" aria-labelledby="askquestion-modal" aria-hidden="true">
          <div class="modal-dialog modal-lg bg-white shadow">
           <form action="/action_page.php" class="needs-validation" novalidate>
            <div class="modal-content">
             <div class="modal-header">
                <h5 class="modal-title">Ask a Question</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              
              <div class="modal-body">
                  <div class="card shadow-none">
                    <div class="row">
                        <div class="col-6">
                      <!-- <form  class="form-inline" id="search-form">
                        <div  class="input-group col-12">
                          <input class="form-control search-form" placeholder="Search" type="text"><span _ngcontent-vxk-c4="" class="input-group-btn"><button _ngcontent-vxk-c4="" class="search-btn" type="submit">
                        <i class="fa fa-search"></i>
                      </button>
                    </span>
                  </div>
                </form> -->
                   <div class="form-group">
                    <label for="title">Discussion Title :</label>
                    <input type="text" class="form-control" id="title" placeholder="">
                  </div>
                  
                    
                        <label for="exampleFormControlTextarea1">Your Message :</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <div class="card border  bg-light shadow-none rounded-0">
                                <div class="card-header border-bottom-white py-2 rounded-0">
                                    <h5 class="h6 font-weight-normal mb-0">Similar Questions</h5>
                                </div>
                                <div class="card-body pt-1 px-0">
                                    <div class="media d-flex border-bottom-white border-bottom-white py-2">
                                             
                                        <!-- <img class="mr-2 user-pic rounded-circle mr-2" src="assets/images/avatars/0.jpg"
                                      alt="Generic placeholder image"> -->
                                        <div class="media-body mb-0 px-4">
                                            <div class=" align-self-center">
                                                <small class="mb-0 text-dark h6 font-weight-semibold">Q1. What is the Lease offer for mineral rights in eddy county</small>
                                                <small class="text-dark mb-0">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing eiu..   
                                                </small> 
                                                <!-- <h5  class="text-muted h6 mb-0 ml-auto small text-right">May 3 at 8:30pm</h5>   -->
                                              </div> 
                                        </div>
                                      </div>
                                      <div class="media d-flex border-bottom-white py-3">
                                          <div class="media-body mb-0 px-4">
                                              <div class=" align-self-center">
                                                  <small class="mb-0 text-dark h6 font-weight-semibold">Q1. What is the Lease offer for mineral rights in eddy county</small>
                                                  <small class="text-dark mb-0">
                                                      Lorem ipsum dolor sit amet, consectetur adipiscing eiu..   
                                                  </small> 
                                                  
                                                </div> 
                                          </div>
                                        </div>
                                 </div>
                              </div>
                          </div>
                      </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-accent btn-sm text-uppercase"data-dismiss="modal">Post</button>
                <button type="button" class="btn btn-outline-accent btn-sm text-uppercase" data-dismiss="modal">Cancel</button>
              </div>
            </div>
              </form>
          </div>
        </div>
        <div class="modal fade post-modal-xl" tabindex="-1" role="dialog" aria-labelledby="post-modal" aria-hidden="true">
          <div class="modal-dialog modal-md bg-white shadow">
           <form action="/action_page.php" class="needs-validation" novalidate>
            <div class="modal-content">
             <div class="modal-header">
                <h5 class="modal-title">What's on Your Mind</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div> 
              <div class="modal-body">
                  <div class="card shadow-none"> 
                   <div class="form-group">
                        <label for="exampleFormControlTextarea1">What's on Your Mind :</label>
                    
                          <a routerLink="#">
                            <i class="material-icons md-24 icon-muted">
                          add_photo_alternate
                          </i>
                        </a>
                     
                        <a routerLink="#">
                          <svg class="icon-muted-svg" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path d="M7 19h-6v-11h6v11zm8-18h-6v18h6v-18zm8 11h-6v7h6v-7zm1 9h-24v2h24v-2z"/>
                         </svg>
                         </a>
                   
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
                      </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-accent btn-sm text-uppercase"data-dismiss="modal">Post</button>
                <button type="button" class="btn btn-outline-accent btn-sm text-uppercase" data-dismiss="modal">Cancel</button>
              </div>
            </div>
              </form>
          </div>
        </div>