<div class="main-content-container container-fluid px-4">

  <flash-messages class="bg-accent text-center pb-0"></flash-messages>

  <div class="row justify-content-center">
    <div class="col-12">
      <div class="content-loading text-center" *ngIf="loading">
        <app-loadingcircle></app-loadingcircle>
      </div>
    </div>
  </div>

  <div class="row pb-3 pt-4">
    <div class="col-12">

      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item align-self-center">
          <a routerLink="/myaccount">
            <h5 class="text-dark mb-0 font-weight-bold mr-3">My Account</h5>
          </a>
        </li>
        <li class="nav-item ">
          <a routerLink="/myaccount" class=" nav-link text-muted font-weight-bold text-uppercase" data-toggle="tab"
            aria-controls="profile" aria-selected="false">My Details</a>
        </li>
        <li class="nav-item ">
          <a routerLink="/notification" class=" active nav-link text-muted font-weight-bold text-uppercase"
            data-toggle="tab" role="tab" aria-controls="notifications" aria-selected="false">Notifications</a>
        </li>
        <li class="nav-item">
          <a routerLink="/settings" class="nav-link text-muted font-weight-bold text-uppercase" role="tab"
            aria-controls="contact" aria-selected="false">Settings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-muted font-weight-bold text-uppercase cursor-pointer" role="tab"
            aria-controls="contact" aria-selected="false">Manage Subscription</a>
        </li>
        <li class="nav-item">
          <a routerLink="/requests" class="nav-link text-muted font-weight-bold text-uppercase" role="tab"
            aria-controls="contact" aria-selected="false">REQUESTS</a>
        </li>
      </ul>
    </div>
  </div>


  <div class="tab-pane fade show " id="" role="tabpanel" aria-labelledby="home-tab">
    <div *ngIf="showNotificationsPage">
      <div class="row pt-1">
        <div class="col-12">
          <ul class="list-inline d-flex mb-1">
            <li class="list-inline-item h6 text-secondary align-self-center mb-1 pr-3">Notifications</li>

            <li class="list-inline-item  mb-1 align-self-center pr-3">
              <select class="font-weight-semibold border-0 text-accent" (change)="selectFeature($event)">
                <option value="All">Feature : All</option>
                <option *ngFor="let mef of masterEntriesFeature" [value]="mef.Entities.Value">
                  {{mef.Entities.Value}}
                </option>
              </select>
            </li>
            <li class="list-inline-item  mb-1 align-self-center pr-3">
              <select class="font-weight-semibold border-0 text-accent" (change)="selectType($event)">
                <option value="Info">Type : All</option>
                <option *ngFor="let met of masterEntriesType" [value]="met.Entities.Value">{{met.Entities.Value}}
                </option>
              </select>
            </li>
            <li class="list-inline-item  mb-1 align-self-center pr-3">
              <select class="font-weight-semibold border-0 text-accent " (change)="selectStatus($event)">
                <option value="All">Status : All</option>
                <option *ngFor="let mes of masterEntriesStatus" [value]="mes.Entities.Value">
                  {{mes.Entities.Value}}
                </option>
              </select>
            </li>
            <div class="list-inline d-flex ml-auto">
              <li class="nav-item mr-3">
                <a href="#" data-toggle="modal" data-target=".cover-modal-lg"
                  class="btn btn-outline-accent btn-sm btn-block text-uppercase" (click)="showArchives()">View All
                  Archives</a>
              </li>
              <li class="nav-item">
                <form id="search-form" class="form-inline">
                  <div class="input-group search">
                    <input type="text" class="form-control search-form" [(ngModel)]="searchText"
                      [ngModelOptions]="{standalone: true}" placeholder="Search">
                    <span class="input-group-btn">
                      <button type="submit" class="search-btn">
                        <i class="fa fa-search"></i>
                      </button>
                    </span>
                  </div>
                </form>
              </li>
            </div>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="row justify-content-center py-4" *ngIf="myNotifications?.length==0">
            <div class="col-md-3 text-center col-3 col-xl-3 ">
              <img src="assets/images/notifications.png" class="" alt="Notification Image" height="235px" width="auto">
            </div>
            <div class="col-md-6 text-left col-6 col-xl-6  px-4 d-flex">
              <div class="align-self-center">
                <h6 class="text-secondary text-uppercase font-weight-semibold ">No Notifications Yet !!</h6>
                <h6 class="text-muted font-weight-semibold ">Here, you will be able to see all notifications related to
                  discusssions</h6>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xl-8 pt-2">
          <div class="row justify-content-between no-gutters pb-3"
            *ngFor="let mn of myNotifications | filter:searchText | paginate: { itemsPerPage: 10, currentPage: p }">

            <div class="col-xl-12">
              <div class="card shadow-none">
                <div class="card-body rounded py-0  px-3"
                  [ngClass]="mn.Notifications.Status=='Unread'?'bg-white shadow':'bg-light shadow-sm'">
                  <div class="row  py-2 border-bottom">
                    <div class="col-8 ">
                      <div class="media">
                        <img class="mr-3 img-fluid rounded-5" src="assets\images\avatars\6.jpg" alt=" " height="30px"
                          width="30px">
                        <div class="media-body cursor-pointer" (click)="readNotification(mn.Notifications.notId)">
                          <h6 class="mt-0 mb-0 text-secondary font-weight-normal"
                            [innerHtml]="mn.Notifications.Text | slice:0:400 | highlight:searchText">
                          </h6>
                          <h6 class="mt-0 mb-0 text-muted small font-weight-semibold">
                            {{mn.Notifications.Date | date:'medium' }}
                          </h6>
                        </div>
                      </div>
                    </div>
                    <div class="col-4 text-right justify-content-end pull-right">
                      <ul class="list-inline d-inline-flex mb-0 text-right pull-right d-flex">
                        <li class="list-inline-item mb-1 h6 text-muted align-self-center">
                          <a class="cursor-pointer" data-toggle="tooltip" title="Archive Notification"
                            (click)="archievingNotification(mn.Notifications.notId)">
                            <h6 class="mb-0 font-weight-semibold">
                              <i class="material-icons md-22">
                                archive
                              </i>
                            </h6>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <!-- 
      <div class="col-md-6 col-xl-4  pt-2">
        <div class="row">
          <div class="col-xl-12">

            <div class="row justify-content-between no-gutters pb-3">
              <div class="col-xl-12">
                <div class="card shadow ">
                  <div class="card-body  py-0 px-3">
                    <div class="row py-2 border-bottom">
                      <div class="col-12 d-flex"> 
                        <a routerLink="#"><h6 class="mb-0 align-self-center text-accent">View All Archives</h6></a>
                      </div>

                     
                    </div> 
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>  -->

      </div>

      <hr>

      <div class="row justify-content-end text-right py-3">
        <div class="col-md-12 col-xl-12 text-right">


          <!-- <nav aria-label="Page navigation example bg-dark">
            <ul class="nav justify-content-end px-3 ">

              <li class="page-item border">
                <a class="page-link py-1 h6 bg-accent " href="#" aria-label="Previous">
                  <span class="font-30" aria-hidden="true">&laquo;</span>
                  <span class="sr-only">Previous</span>
                </a>
              </li>

              <li class="text-accent font-weight-bold h6 p-2 align-self-center mb-0"> 1/10 </li>
              <li class="page-item border">
                <a class="page-link py-1 h6 bg-accent" href="#" aria-label="Next">
                  <span class="font-30" aria-hidden="true">&raquo;</span>
                  <span class="sr-only">Next</span>
                </a>
              </li>

            </ul>
          </nav> -->

          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
      </div>

    </div>


    <!-- -------------------------------------------------------------- -->

    <div *ngIf="showArchivesPage">
      <div class="row pt-1">
        <div class="col-12">
          <ul class="list-inline d-flex mb-1">
            <li class="list-inline-item h6 text-secondary align-self-center mb-1 pr-3">Archives</li>
            <div class="list-inline d-flex ml-auto">
              <li class="nav-item mr-3">
                <a href="#" data-toggle="modal" data-target=".cover-modal-lg"
                  class="btn btn-outline-accent btn-sm btn-block text-uppercase" (click)="showNotifications()">View
                  Notifications</a>
              </li>
              <li class="nav-item">
                <form id="search-form" class="form-inline">
                  <div class="input-group search">
                    <input type="text" class="form-control search-form" [(ngModel)]="searchText"
                      [ngModelOptions]="{standalone: true}" placeholder="Search">
                    <span class="input-group-btn">
                      <button type="submit" class="search-btn">
                        <i class="fa fa-search"></i>
                      </button>
                    </span>
                  </div>
                </form>
              </li>
            </div>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 col-xl-8 pt-2">
          <div class="row justify-content-between no-gutters pb-3"
            *ngFor="let an of archivedNotifications | filter:searchText | paginate: { itemsPerPage: 10, currentPage: q }">
            <div class="col-xl-12">
              <div class="card shadow">
                <div class="card-body py-0  px-3">
                  <div class="row  py-2 border-bottom">
                    <div class="col-8 ">
                      <div class="media">
                        <img class="mr-3 img-fluid rounded-5" src="assets\images\avatars\6.jpg" alt=" " height="30px"
                          width="30px">
                        <div class="media-body">
                          <h6 class="mt-0 mb-0 text-secondary font-weight-normal"
                            [innerHtml]="an.Notifications.Text | slice:0:400 | highlight:searchText">
                          </h6>
                          <h6 class="mt-0 mb-0 text-muted small font-weight-semibold">
                            {{an.Notifications.Date | date:'medium' }}
                          </h6>
                        </div>
                      </div>
                    </div>
                    <div class="col-4 text-right justify-content-end pull-right">
                      <ul class="list-inline d-inline-flex mb-0 text-right pull-right d-flex">
                        <li class="list-inline-item mb-1 h6 text-muted align-self-center">
                          <a class="cursor-pointer" data-toggle="tooltip" title="Unarchive Notification"
                            (click)="archievingNotification(an.Notifications.notId)">
                            <h6 class="mb-0 font-weight-semibold">
                              <i class="material-icons md-22">
                                unarchive
                              </i>
                            </h6>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- 
      <div class="col-md-6 col-xl-4  pt-2">
        <div class="row">
          <div class="col-xl-12">

            <div class="row justify-content-between no-gutters pb-3">
              <div class="col-xl-12">
                <div class="card shadow ">
                  <div class="card-body  py-0 px-3">
                    <div class="row py-2 border-bottom">
                      <div class="col-12 d-flex"> 
                        <a routerLink="#"><h6 class="mb-0 align-self-center text-accent">View All Archives</h6></a>
                      </div>

                     
                    </div> 
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>  -->

      </div>

      <hr>

      <div class="row justify-content-end text-right py-3">
        <div class="col-md-12 col-xl-12 text-right">

          <pagination-controls (pageChange)="q = $event"></pagination-controls>

          <!-- <nav aria-label="Page navigation example bg-dark">
            <ul class="nav justify-content-end px-3 ">

              <li class="page-item border">
                <a class="page-link py-1 h6 bg-accent " href="#" aria-label="Previous">
                  <span class="font-30" aria-hidden="true">&laquo;</span>
                  <span class="sr-only">Previous</span>
                </a>
              </li>

              <li class="text-accent font-weight-bold h6 p-2 align-self-center mb-0"> 1/10 </li>
              <li class="page-item border">
                <a class="page-link py-1 h6 bg-accent" href="#" aria-label="Next">
                  <span class="font-30" aria-hidden="true">&raquo;</span>
                  <span class="sr-only">Next</span>
                </a>
              </li>

            </ul>
          </nav> -->

        </div>
      </div>
    </div>

  </div>
</div>