<div class="main-content-container container-fluid px-4">

    <!-- <flash-messages class="bg-accent text-center"></flash-messages> -->

    <div class="row justify-content-center text-center pt-5">
        <div class="col-12 pt-5">
            <h3>Dashboard Coming Soon....!</h3>
        </div>
    </div>
</div>


<ng-template #emailVerificationTemplate>
    <div class="modal-content">
        <div class="modal-body text-center justify-content-center pb-2">
            <div class="card shadow-none">
                <div class="row justify-content-end text-right">
                    <div clas="col-12">
                        <a data-dismiss="modal" routerLink="#"
                            (click)="closeEmailVerificationAlertModal()"><u>Skip</u></a>
                    </div>
                </div>


                <div class="row justify-content-center text-center">
                    <div clas="col-12">
                        <img src="../../assets/images/verify-email.png" width="130" height="130">
                    </div>
                </div>

                <h5 class="font-weight-semibold">Verify E-Mail</h5>

                <h6>You need to verify your Email Id within 10 days of your registration... </h6>

            </div>
        </div>
        <div class="modal-footer border-0 justify-content-center text-center">
            <button type="submit" class="btn btn-accent btn-sm text-uppercase" (click)="sendConfirmationEmail()">Resend
                E-mail</button>
            <!-- <button type="button" class="btn btn-outline-accent btn-sm text-uppercase"
                (click)="closeEmailVerificationAlertModal()">Skip</button> -->
        </div>
    </div>
</ng-template>