<div class="main-content-container container-fluid px-4">

    <!-- <flash-messages class="bg-accent text-center"></flash-messages> -->

    <div class="row justify-content-center text-center pt-5">
        <div class="col-12 pt-5">
            <h3>Dashboard Coming Soon....!</h3>
        </div>
    </div>
</div>


  <ng-template #emailVerificationTemplate>

    <div class="modal-content modal-md animated fadeInDown delay-1s" >
        <div class="modal-body text-center justify-content-center ">
            <div class="row justify-content-end text-right">
                <div class="col-10">
                    <a class="text-secondary cursor-pointer" (click)="closeEmailVerificationAlertModal()">Skip</a>
                </div>
            </div>
            <div class="row justify-content-center text-center pt-3">
                <div class="col-12  top-bottom-center">
                    <img src="assets/images/verify-email.png" height="150px" width="auto">

                    <h4 class="text-danger font-weight-semibold h5 pt-3">Verify your Email Id </h4>
                    <h4 class="text-secondary font-weight-semibold h5 "> till {{graceEndDate | date:'mediumDate'}} for
                        full
                        access </h4>
                    <h5 class="text-muted h6 font-weight-semibold">or we will have to block your account</h5>
                    <div class="w-100"></div>
                    <h6 class="text-muted h6 font-weight-semibold pt-3">Check your Email or</h6>
                    <button type="submit" class="btn btn-accent btn-sm text-uppercase"
                        (click)="sendConfirmationEmail()">Resend
                        E-mail</button> &nbsp; &nbsp;
                     

                </div>
            </div>
        </div>

    </div>

</ng-template>  

<!-- <div class="modal-content modal-md animated fadeInDown delay-1s" >
    <div class="modal-body text-center justify-content-center ">
        <div class="row justify-content-end text-right">
            <div class="col-10">
                <a class="text-secondary cursor-pointer" (click)="closeEmailVerificationAlertModal()">Skip</a>
            </div>
        </div>
        <div class="row justify-content-center text-center pt-3">
            <div class="col-12  top-bottom-center">
                <img src="assets/images/verify-email.png" height="150px" width="auto">

                <h4 class="text-danger font-weight-semibold h5 pt-3">Verify your Email Id </h4>
                <h4 class="text-secondary font-weight-semibold h5 "> till {{graceEndDate | date:'mediumDate'}} for
                    full
                    access </h4>
                <h5 class="text-muted h6 font-weight-semibold">or we will have to block your account</h5>
                <div class="w-100"></div>
                <h6 class="text-muted h6 font-weight-semibold pt-3">Check your Email or</h6>
                <button type="submit" class="btn btn-accent btn-sm text-uppercase"
                    (click)="sendConfirmationEmail()" data-dismiss=>Resend
                    E-mail</button> &nbsp; &nbsp; 
            </div>
        </div>
    </div>

</div> -->
