<div class="main-content-container container-fluid px-4">
    <div class="row py-4">
        <div class="col-xl-12 col-md-12 col-sm-12">
            <!-- Profile widget -->
            <div class="bg-warning shadow overflow-hidden">
                <div class="px-4 pb-4 py-4 "
                    style="height:200px; background: url(assets/images/bg-pattern33.png) no-repeat;background-size:cover;">
                    <div class="media align-items-end profile-header ">
                        <div class="justify-content-start mr-3">

                            <ngx-avatar name="{{user.f_name}} {{user.l_name}}" width="200"
                                class="rounded-50 profile img-thumbnail cursor-pointer" src=""
                                (click)="openNewDisplayPicForm(newDisplayPicModal)"></ngx-avatar>

                            <!-- <img href="#" (click)="openNewDisplayPicForm(newDisplayPicModal)" src="assets/images/MProfile.png" alt="..."
                width="100" class="rounded-50 mt-2 profile img-thumbnail cursor-pointer"> -->

                        </div>

                        <div class="media-body justify-content-center text-left text-white ">
                            <h4 class="text-white font-weight-medium username">{{user.f_name | titlecase}}
                                {{user.l_name | titlecase}}
                            </h4>

                        </div>

                        <div class="profile-btn justify-content-end align-self-end">
                            <ul class="list-inline d-inline-flex mb-0">

                                <li class="list-inline-item mb-0 h6 text-muted">
                                    <a routerLink="#" 
                                        class="  text-uppercase">
                                        <select class="btn btn-outline-white text-uppercase py-0 border-0">
                                            <option>Connected</option>
                                            <option>Connected</option>
                                            <option>Connected</option>
                                        </select></a>
                                </li>
                                <li class="list-inline-item mb-0 h6 text-muted">
                                    <a routerLink="#" 
                                        class="btn btn-outline-white text-uppercase">
                                        <select class="text-white text-accent text-uppercase py-0 border-0">
                                            <option>Following</option>
                                            <option>Connected</option>
                                            <option>Connected</option>
                                        </select></a>
                                </li>
                                <!-- <li class="list-inline-item mb-0 h6 text-muted">
                                    <a href="#"
                                        class="btn btn-outline-white btn-sm btn-block text-uppercase">Following</a>
                                </li> -->
                                <li class="list-inline-item mb-0 font-weight-semibold rounded-border ">
                                    <a href="#"
                                        class=" text-white text-uppercase align-self-center d-flex d-inline-flex">
                                        <i class="material-icons md-18 px-2 pt-2 pb-2">mail</i></a>
                                </li>
                            </ul>
                            <!-- <div class="mr-3 profile-btn">
                <a href="#" data-toggle="modal" data-target=".cover-modal-lg"
                  class="btn btn-outline-white btn-sm btn-block text-uppercase">Connected</a>
              </div>
            <div class="mr-3 profile-btn">
              <a href="#" data-toggle="modal" data-target=".cover-modal-lg"
                class="btn btn-outline-white btn-sm btn-block text-uppercase">Following</a>
            </div>
            <div class="mr-3 profile-btn">
                <a href="#" data-toggle="modal" data-target=".cover-modal-lg"
                  class="btn btn-outline-white btn-sm btn-block text-uppercase">Fo</a>
              </div> -->
                        </div>
                    </div>
                </div>
                <div class="bg-dark text-white px-4 py-2 d-flex justify-content-start text-center">
                    <ul class="nav nav-tabs sub-tab border-0 ml-5" id="myTab" role="tablist">
                        <li class="nav-item bg-dark ml-5">
                            <a routerLink="/photos" class="nav-link text-white font-weight-normal" role="tab"
                                aria-controls="" aria-selected="false" routerLinkActive='active'>Timeline</a>
                        </li>
                        <!-- <li class="nav-item">
                            <a routerLink="/following" class="nav-link text-white font-weight-normal" role="tab"
                                aria-controls="contact" aria-selected="false" routerLinkActive='active'>Following</a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="/neighbors" class="nav-link text-white font-weight-normal" role="tab"
                                aria-controls="contact" aria-selected="false" routerLinkActive='active'>Neighbors</a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="/mydiscussions" class="nav-link text-white font-weight-normal" role="tab"
                                aria-controls="contact" aria-selected="false" routerLinkActive='active'>My Discusssion
                                Groups</a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="/bookmarks" class="nav-link text-white font-weight-normal" role="tab"
                                aria-controls="contact" aria-selected="false" routerLinkActive='active'>Bookmarks</a>
                        </li> -->

                    </ul>
                </div>
            </div>
            <!-- End profile widget -->
        </div>
    </div>
</div>