<div class="main-content-container container-fluid px-4 py-3">
    <div class="row justify-content-center">
        <div class="col-md-12 ">
            <div id="viewDiv" class="border bg-light">
                <mgl-map
                 [style]="'mapbox://styles/pra2win/ck5i02wuw0l401in6ttxhaw99'"
                  (load)="onLoad($event)">

                    <!-- <mgl-popup [lngLat]="infoLngLat" [closeOnClick]="false">
                        <div class="form-group">
                            <label for="intrestNumber">Decimal Interest </label>
                            <input type="number" name="intrestNumber" min="1" id="intrestNumber" class="form-control">
                        </div>
                        <button class="btn btn-default" type="button">Submit</button>
                    </mgl-popup>-->
                </mgl-map 
                >
            </div>
            <div id="toggleButtonContainer"><button class="btn-dark" (click)="filterMenu=!filterMenu">></button></div>
            <div>
                <div *ngIf="filterMenu" ngDraggable id="viewFilter" class="form bg-white border p-3 shadow ">
                    <div id="viewFilter1">
                        <div class="form-row border-bottom pb-3">
                            <h6 class="font-weight-normal w-100 mb-1">Sort A to Z</h6>
                            <h6 class="font-weight-normal w-100 mb-0">Sort Z to A</h6>
                        </div>
                        <div class="form-row pt-3 d-flex d-inline-flex">
                            <label for="States" class="h6 font-weight-normal mb-0">Filter by State:</label>
                            <h6 class="font-weight-normal mb-0 align-self-end text-right "><i
                                    class="material-icons md-20">
                                    arrow_drop_down
                                </i>
                            </h6>
                        </div>
                        <div class="form-row">
                            <select class="form-control py-1" id="States" (change)="getStateCode($event)">
                                <option value="-98.887687@31.211969">Texas</option>
                                <option value="-81.393426@28.523902">Florida</option>
                                <option value="-118.271378@34.079959">California</option>
                                <option value="-79.586141@35.456676">North Carolina</option>
                            </select>
                        </div>

                        <div class="form-row pt-3 d-flex d-inline-flex">
                            <label for="County" class="h6 font-weight-normal mb-0">Filter by County:</label>
                            <h6 class="font-weight-normal mb-0 align-self-end text-right "><i
                                    class="material-icons md-20">
                                    arrow_drop_down
                                </i>
                            </h6>
                        </div>
                        <div class="form-row text-left">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Search">
                                <div class="input-group-append">
                                    <button class="badge badge-light  border rounded-0" type="submit">
                                        <i class="material-icons md-18">
                                            search
                                        </i></button>
                                </div>
                            </div>
                            <div class="w-100 border-bottom">
                                <div class=" border p-2">
                                    <div id="county-filter">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                                            <label class="custom-control-label" for="customCheck1">Karnes</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="customCheck2">
                                            <label class="custom-control-label" for="customCheck2">Karnes</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="customCheck3">
                                            <label class="custom-control-label" for="customCheck3">Karnes</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="customCheck4">
                                            <label class="custom-control-label" for="customCheck4">Karnes</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="customCheck5">
                                            <label class="custom-control-label" for="customCheck5">Karnes</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="w-100 py-2 text-right">
                                    <button class="badge badge-light px-3 mr-3 border rounded-0" type="submit">
                                        Ok</button>
                                    <button class="badge badge-light px-3 border rounded-0" type="submit">
                                        Cancel</button>
                                </div>
                            </div>
                        </div>
                        <div class="form-row pt-2">
                            <label for="Lease">Filter by Leases:</label>
                        </div>
                        <div class="form-row">
                            <select class="form-control" id="Lease" (change)="getLeaseCode($event)">
                                <option value="-98.025667@28.917455">Hanes Grover</option>
                                <option value="-97.62@29.108">IIC Lease</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>