<div class="main-content-container container-fluid px-4">

    <flash-messages class="bg-accent text-center"></flash-messages>

    <div class="row justify-content-center">
        <div class="col-12">
            <div class="content-loading text-center" *ngIf="loading">
                <app-loadingcircle></app-loadingcircle>
            </div>
        </div>
    </div>

    <!------------------------------------------Community Menu--------------------------------------------->

    <div class="row  pb-1 pt-4">
        <div class="col-12">

            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item align-self-center">
                    <h5 class="text-dark mb-0 font-weight-bold mr-3">Community</h5>
                </li>
                <li class="nav-item">
                    <a routerLink="/profile" class="nav-link text-muted font-weight-bold" aria-controls="profile"
                        aria-selected="false">MY PROFILE</a>
                </li>
                <!-- <li class="nav-item">
                    <a routerLink="/newsfeed" class="nav-link text-muted font-weight-bold" role="tab"
                        aria-controls="contact" aria-selected="false">NEWS FEED</a>
                </li> -->
                <li class="nav-item">
                    <a routerLink="/discussions" class="active nav-link text-muted font-weight-bold" role="tab"
                        aria-controls="contact" aria-selected="false">DISCUSSIONS</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/messages" class="nav-link text-muted font-weight-bold" role="tab"
                        aria-controls="contact" aria-selected="false">MESSAGES</a>
                </li>

                <li class="nav-item pull-right ml-xl-auto align-self-center py-1">
                    <a class="btn btn-accent btn-sm btn-block text-uppercase"
                        (click)="openAskQuestionModal(postQuestionModal)">
                        Ask a Question
                    </a>
                </li>

            </ul>
        </div>
    </div>

    <!----------------------------------------End Community Menu--------------------------------------------->



    <!-----------------------------------------Breadcrumb and search-------------------------------------------->

    <div class="row justify-content-center pb-1 pt-3">
        <div class="col-xl-12">
            <ul class="nav nav-tabs sub-tab border-0">

                <li class="nav-item align-self-center" (click)="setTitle( 'Mvest-Categories')">
                    <a class="align-self-center" routerLink="/discussions">
                        <h5 class=" text-muted mb-0 font-weight-bold mr-3 align-self-center">Categories /</h5>
                    </a>
                </li>


                <li class="nav-item align-self-center">
                    <a class="align-self-center" routerLink="/subcategory" [queryParams]="{categoryId:categoryId}"
                        (click)="setTitle( 'Mvest-SubCategories' )">
                        <h5 class=" text-muted mb-0 font-weight-bold mr-3 align-self-center">Sub Categories / </h5>
                    </a>
                </li>
                <li class="nav-item align-self-center">
                    <a class="align-self-center">
                        <h5 class=" text-dark mb-0 font-weight-bold mr-3 align-self-center"> Discussions </h5>
                    </a>
                </li>



                <div class="ml-auto d-inline-flex">
                    <li class="nav-item align-self-center ml-auto">
                        <form id="search-form" class="form-inline">
                            <div class="input-group search">
                                <input type="text" class="form-control search-form" [(ngModel)]="searchText"
                                    [ngModelOptions]="{standalone: true}" placeholder="Search Question">
                                <span class="input-group-btn">
                                    <button type="submit" class="search-btn">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </form>
                    </li>


                </div>
            </ul>

            <!-- <nav aria-label="breadcrumb">
                <ol class="breadcrumb px-0 mb-0">
                    <li class="breadcrumb-item"><a class="text-secondary font-weight-semibold" routerLink="/discussions"
                            (click)="setTitle( 'Mvest-Categories' )">Categories</a></li>
                    <li class="breadcrumb-item"><a class="text-secondary font-weight-semibold" routerLink="/subcategory"
                            [queryParams]="{subCategoryId:subCategoryId}"
                            (click)="setTitle( 'Mvest-SubCategories' )">Sub-Categories</a></li>
                    <li class="breadcrumb-item"><a class="active text-green font-weight-semibold">Discussions</a>
                    </li>

                    <li class="ml-auto">

                        <form id="search-form" class="form-inline" role="form" method="post"
                            action="//www.google.com/search" target="_blank">
                            <div class="input-group search">
                                <input type="text" class="form-control search-form" [(ngModel)]="searchText"
                                    [ngModelOptions]="{standalone: true}" placeholder="Search">
                                <span class="input-group-btn">
                                    <button type="submit" class="search-btn" data-target="#search-form" name="q">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </form>
                    </li>
                </ol>
            </nav> -->

            <!-----------------------------------------End Breadcrumb and search-------------------------------------------->

            <!----------------------------------------- Discussions--------------------------------------------------------->

            <!-- <div class="text-center" *ngIf="loading">
                <div class="spinner-border text-accent" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div> -->

            <!-- <div class="row justify-content-between gutters-1" *ngIf="discussionList?.discussions?.length>0">
                <div class="col-md-12 col-xl-12">
                    <div class="card card-small mt-1 shadow-sm">
                        <div class="card-body p-0">
                            <div class="row p-1">
                                <div class="col-12">
                                    <ul class="nav nav-tabs sub-tab border-0">
                                        <li class="nav-item align-self-center mb-0 text-accent p-1">
                                            <h6 class="text-accent font-weight-semibold mb-0">You are viewing
                                                discussions in
                                                {{subCategoryName | titlecase}} of {{categoryName | titlecase}}
                                                Category.</h6>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="row justify-content-center text-center gutters-1 py-3" *ngIf="pageNotFound">
                <!-- <div class="col-md-12 text-center col-12 col-xl-12 p-5 "> 
                  <div class="align-self-center">
                     
                      <img src="assets/images/new-neighbors.png" class="" alt="New Neighbors Image" height="150px" width="auto">
                      <h6 class="text-secondary font-weight-semibold">Hey Rutuja, <br> you are not Connected to any Neighbors yet</h6> 
                      <h6 class="text-secondary font-weight-normal">You can find New Neighbors by </h6> 
                </div> 
              </div>   -->

                <div class="col-md-6 text-center col-12 col-xl-4 py-5 ">
                    <img src="assets/images/no-discussions1.png" class="img-fluid" alt="New Neighbors Image"
                        height="350px" width="auto">
                </div>
                <div class="col-md-6 text-left col-12 col-xl-6  px-4 d-flex">
                    <div class="align-self-center">
                        <h6 class="text-secondary font-weight-bold text-uppercase">No Discussions yet !</h6>
                        <h6 class="text-muted font-weight-semibold ">All Discussions List regarding particular
                            Categories are displayed here. You can Like , Comment , Reply to any Discussion.</h6>
                        <h6 class="text-muted font-weight-semibold ">Be the First one to Ask a Question regarding this
                            Category . </h6>

                        <!-- Click on "New Neighbors" in the above tab to Add Neighbors to your List. -->
                    </div>
                </div>

            </div>
            <div class="row justify-content-between no-gutters pt-3">
                <div class="col-md-12 col-xl-12">
                    <div class="row justify-content-between no-gutters">
                        <div class="col-md-12 col-lg-10 col-xl-10 col-sm-12 pb-3">
                            <!-- <div class="text-left" *ngIf="pageNotFound">
                                <h5>No Records Found...Be the first person to initiate a discussion.</h5>
                            </div> -->

                            <div class="card card-small blog-comments">
                                <div class="card-body p-0"
                                    *ngFor="let dl of discussionList?.discussions | filter : searchText">


                                    <div class=" border-bottom">
                                        <div class="row justify-content-center text-left text-break">
                                            <div class="col-xl-9 col-lg-9 col-md-9 col-sm-8 col-8">
                                                <a routerLink="/discussion-details"
                                                    [queryParams]="{discussionId:dl.doc_id,categoryId:categoryId,subCategoryId:subCategoryId}"
                                                    (click)="setTitle( 'Mvest-Discussion Details')">
                                                    <div class="media p-3">

                                                        <ngx-avatar class="mr-3 mr-2"
                                                            name="{{dl?.post_by_name | slice:0:10}}" [size]="40" src="">
                                                        </ngx-avatar>

                                                        <!-- <img class="mr-3 user-pic rounded-circle mr-2"
                                                            src="assets/images/avatars/2.jpg"
                                                            alt="Generic placeholder image"> -->


                                                        <div class="media-body mb-0">

                                                            <ul class="list-inline d-flex mb-0">
                                                                <li class="list-inline-item mb-0 h6  text-muted">
                                                                    <h5 class="text-dark h6 mb-0 font-weight-semibold"
                                                                        innerHTML="{{dl?.title | titlecase | highlight:searchText}}">

                                                                    </h5>
                                                                </li>
                                                            </ul>

                                                            <ul class="list-inline mb-0 d-flex d-inline-flex">
                                                                <li *ngIf="markAsAnswer(dl?.isAnswer)"
                                                                    class="list-inline-item mb-0 h6 text-accent">
                                                                    <i class="material-icons md-20 text-accent">
                                                                        check_circle
                                                                    </i>
                                                                </li>
                                                                <li *ngIf="!markAsAnswer(dl?.isAnswer)"
                                                                    class="list-inline-item mb-0 h6 text-accent">
                                                                    <i class="material-icons md-20 text-muted">
                                                                        check_circle
                                                                    </i>
                                                                </li>
                                                                <li class="list-inline-item mb-0 h6 text-muted"
                                                                    innerHTML="{{dl?.post_msg | summary | highlight:searchText}}">
                                                                    <!-- {{dl?.post_msg | summary}} -->
                                                                </li>
                                                                <!-- <li
                                                                    class="list-inline-item mb-1 h6 text-muted text-right">
                                                                    <a *ngIf="dl?.post_msg.length>100" href="#"
                                                                        (click)="readMore()"><u>- read
                                                                            more</u></a>
                                                                </li> -->

                                                            </ul>
                                                            <ul class="list-inline d-flex mb-0">
                                                                <li class="list-inline-item mb-1 h6 text-muted">
                                                                    <h5
                                                                        class="text-muted small mb-0 font-weight-semibold">
                                                                        <u>25 views</u>
                                                                    </h5>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>

                                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 col-4 text-right">
                                                <div class="media p-3 ">
                                                    <div class="media-body mb-0">
                                                        <h6 class="mb-0 font-weight-semibold"
                                                            *ngIf="!isBookmarkedByMe(dl?.bookmark)">
                                                            <i class="material-icons icon-muted md-22 cursor-pointer"
                                                                (click)="bookmarkDiscussion(dl?.doc_id)"
                                                                data-toggle="tooltip" title="Bookmark">
                                                                turned_in_not
                                                            </i>
                                                        </h6>

                                                        <h6 class="mb-0 font-weight-semibold"
                                                            *ngIf="isBookmarkedByMe(dl?.bookmark)">
                                                            <i class="material-icons icon-muted md-22 cursor-pointer"
                                                                (click)="removeBookmark(dl?.doc_id)"
                                                                data-toggle="tooltip" title="UnBookmark">
                                                                turned_in
                                                            </i>
                                                        </h6>

                                                        <span>
                                                            <h6 class="font-weight-semibold small mb-0 text-muted">
                                                                {{dl?.post_date | timeAgo}}</h6>
                                                        </span>


                                                        <span>
                                                            <h6 class="font-weight-semibold small mb-0 text-muted">
                                                                -by
                                                                {{dl?.post_by_name}}</h6>
                                                        </span>

                                                        <!-- <span>
                                                            <h5 class="text-muted small mb-0 font-weight-semibold">
                                                                    <u>25 views</u>
                                                            </h5>
                                                        </span> -->
                                                        <!-- <ul class="list-inline d-flex mb-0">
                                                                <li
                                                                    class="list-inline-item mb-1 h6  text-muted ml-auto">
                                                                    <span><small
                                                                            class="font-weight-semibold">{{dl?.post_date | timeAgo}}</small></span>

                                                                </li>
                                                            </ul>

                                                            <ul class="list-inline d-flex mb-0">
                                                                <li
                                                                    class="list-inline-item mb-1 h6   text-muted ml-auto">
                                                                    <span><small class="font-weight-semibold">-by
                                                                            {{dl?.post_by_name}}</small></span>
                                                                </li>
                                                            </ul> -->

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>


                        <!---------------------------------------------------Top Contributors------------------------------------------------------------>

                        <!-- <div class="col-xl-4 pb-3">
                            <div class="col-xl-12 col-md-12 col-sm-12 mb-4 ">
                                <div class="card card-small blog-comments shadow">
                                    <div class="card-header ">
                                        <h6 class="mb-0 text-muted px-3">
                                            Top contributors </h6>
                                    </div>
                                    <div class="card-body pt-0">


                                        <div class="media d-flex align-items-center px-3 pb-4">

                                            <img class="mr-3 user-pic rounded-circle mr-2"
                                                src="assets/images/avatars/2.jpg" alt="Generic placeholder image">
                                            <div class="media-body mb-0">

                                                <div class="">

                                                    <h5 class="text-dark h6 mb-0 font-weight-semibold">John Doe</h5>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="media d-flex align-items-center px-3 pb-4 ">

                                            <img class="mr-3 user-pic rounded-circle mr-2"
                                                src="assets/images/avatars/0.jpg" alt="Generic placeholder image">
                                            <div class="media-body mb-0">

                                                <div class="">

                                                    <h5 class="text-dark h6 mb-0 font-weight-semibold">Sierra Brooks
                                                    </h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="media d-flex align-items-center px-3 ">

                                            <img class="mr-3 user-pic rounded-circle mr-2"
                                                src="assets/images/avatars/1.jpg" alt="Generic placeholder image">
                                            <div class="media-body mb-0">

                                                <div class="">
                                                    <h5 class="text-dark h6 mb-0 font-weight-semibold">Tony Stark</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->

                        <!---------------------------------------------------End Top Contributors------------------------------------------------------------>


                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!---------------------------------------------------End Discussions--------------------------------------------------------->


<!---------------------------------------------------Ask a question------------------------------------------------------------>

<ng-template #postQuestionModal>
    <form action="/action_page.php" class="needs-validation" novalidate>
        <div class="modal-content">
            <div class=" justify-content-end">
                <button aria-label="Close" type="button" class="close bg-accent " aria-hidden="true"
                    (click)="closePostQuestionModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!-- <div class="modal-header">
                <h5 class="modal-title">Ask a Question</h5>
            </div> -->

            <div class="modal-body">
                <div class="card shadow-none">
                    <div class="row">
                        <div class="col-12">
                            <h5 class="h6 font-weight-semibold"><u>Ask a Question</u></h5>
                            <form [formGroup]="discussionListQuestionForm">
                                <div class="form">
                                    <div class="form-group">
                                        <label for="title"
                                            class="align-self-center mb-0 h6 text-dark font-weight-semibold">Discussion
                                            Title :</label>
                                        <input type="text" class="form-control" id="title"
                                            formControlName="discussionTitle" placeholder=""
                                            [ngClass]="{ 'is-invalid': submitQuestion && g.discussionTitle.errors }">
                                        <div *ngIf="submitQuestion && g.discussionTitle.errors"
                                            class="invalid-feedback">
                                            <div *ngIf="g.discussionTitle.errors.required">Discussion title is
                                                required</div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="title"
                                            class="align-self-center mb-0 h6 text-dark font-weight-semibold">Description
                                            :</label>
                                        <div class="w-100">
                                        </div>

                                        <!-- <ckeditor [editor]="Editor" formControlName="problemDescription"
                                            [ngClass]="{ 'is-invalid': submitQuestion && g.problemDescription.errors }">
                                            <div *ngIf="submitQuestion && g.problemDescription.errors"
                                                class="invalid-feedback">
                                                <div *ngIf="g.problemDescription.errors.required">Problem
                                                    description is required</div>
                                            </div>
                                        </ckeditor> -->

                                        <angular-editor formControlName="problemDescription" [config]="editorConfig"
                                            [ngClass]="{ 'is-invalid': submitQuestion && g.problemDescription.errors }">
                                            <div *ngIf="submitQuestion && g.problemDescription.errors"
                                                class="invalid-feedback">
                                                <div *ngIf="g.problemDescription.errors.required">Problem
                                                    description is required</div>
                                            </div>
                                        </angular-editor>

                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-accent btn-sm text-uppercase"
                    (click)="postQuestion()">Post</button>
                <!-- <button type="button" class="btn btn-outline-accent btn-sm text-uppercase"
                    (click)="closePostQuestionModal()">Cancel</button> -->
            </div>
        </div>
    </form>

</ng-template>

<!---------------------------------------------------End Ask a question------------------------------------------------------------>