<div class="main-content-container container-fluid px-4">
    <app-community></app-community>

    <flash-messages class="bg-accent text-center"></flash-messages>

    <div class="row">
        <div class="col-xl-12  pb-1 pt-3">
            <ul class="nav nav-tabs sub-tab border-0">
                <a class="align-self-center" routerLink="/neighbors">
                    <li class="nav-item align-self-center">
                        <h5 class="text-muted mb-0 font-weight-bold mr-3 align-self-center">Neighbors(78) / </h5>
                    </li>
                </a>
                <a class="align-self-center" routerLink="/nearbyleases">
                    <li class="nav-item align-self-center">
                        <h5 class="text-muted mb-0 font-weight-bold mr-3 align-self-center">Nearby Lease / </h5>
                    </li>
                </a>
                <li class="nav-item align-self-center">
                    <h5 class="text-dark mb-0 font-weight-bold mr-3 align-self-center">Nearby Neighbors </h5>
                </li>

                <div class="ml-auto d-inline-flex">
                    <!-- <li class="nav-item pull-right mr-3 align-self-center">
                        <a routerLink="#" data-toggle="tooltip" title="Search by Filter"
                            class="badge badge-accent rounded-5 text-white text-uppercase " data-toggle="modal"
                            data-target="#searchfilter-modal-lg">
                            <i class="material-icons md-18 ">
                                filter_list
                            </i>
                        </a>
                    </li> -->
                    <li class="nav-item pull-right mr-3 align-self-center">
                        <a routerLink="#" data-target="#connectall-modal-md" data-toggle="modal"
                            class="btn btn-outline-accent btn-sm btn-block text-uppercase ">Connect All</a>
                    </li>
                    <li class="nav-item pull-right mr-3 align-self-center">
                        <form id="search-form" class="form-inline" role="form" method="post"
                            action="//www.google.com/search" target="_blank">
                            <div class="input-group search">
                                <input type="text" class="form-control search-form" placeholder="Search">

                                <span class="input-group-btn">
                                    <button type="submit" class="search-btn" data-target="#search-form" name="q">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>

                            </div>
                        </form>
                    </li>

                </div>
            </ul>
        </div>
    </div>

    <div class="row justify-content-between gutters-1">
        <div class="col-md-12 col-xl-12">
            <div class="card card-small mt-1 shadow-none">
                <div class="card-body p-0">

                    <!-- <div class="row">
                        <div class="col-12">
                            <ul class="nav nav-tabs sub-tab border-0">
                                <li class="nav-item align-self-center mb-0 text-accent p-2 shadow-sm mr-2">
                                    <h6 class="text-accent font-weight-semibold mb-0">County : Karnes<a
                                            routerLink="#"><span
                                                class="pl-3 text-muted font-weight-semibold">&times;</span></a></h6>
                                </li>

                                <li class="nav-item align-self-center mb-0 text-accent p-2  shadow-sm mr-2">
                                    <h6 class="text-accent font-weight-semibold mb-0"> Operator : Joe Shon<a
                                            routerLink="#"><span
                                                class="pl-3 text-muted font-weight-semibold">&times;</span></a></h6>
                                </li>
                                <li class="nav-item align-self-center mb-0 text-accent p-2  shadow-sm  mr-2">
                                    <h6 class="text-accent font-weight-semibold mb-0"> Play Type : 1<a
                                            routerLink="#"><span
                                                class="pl-3 text-muted font-weight-semibold">&times;</span></a></h6>
                                </li>
                                <li class="nav-item align-self-center mb-0 text-accent p-2 ml-auto">
                                    <h6 class="mb-0">
                                        <a routerLink="/nearbyneighbors"
                                            class="align-self-center font-weight-semibold"><u>Next Lease >></u></a>
                                    </h6>
                                </li>
                            </ul>
                        </div>
                    </div> -->

                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-between pt-1 gutters-1">
        <div class="col-md-12 col-xl-12">

            <div class="row justify-content-between  pb-3 ">

                <div class="col-xl-6 col-md-6 col-sm-6" *ngFor="let lw of leaseOwnersList.owners">
                    <div class="card card-small blog-comments mt-3">
                        <div class="card-body p-0">
                            <div class="row p-3">
                                <div class="col-8">
                                    <div class="media mb-0">
                                        <img class="mr-3 user-pic rounded-circle mr-2" src="assets/images/avatars/3.jpg"
                                            alt="Generic placeholder image">
                                        <div class="media-body mb-0">
                                            <ul class="list-inline  mb-0">
                                                <a href="#">
                                                    <h5 class="text-dark h6 mb-0 font-weight-semibold"
                                                        data-toggle="tooltip" title="Feature Coming Soon">{{lw.name}}
                                                    </h5>
                                                </a>
                                                <li class="list-inline-item mb-0 h6 text-muted">
                                                    {{leaseName | titlecase}}
                                                </li>
                                                <li class="list-inline-item mb-1 font-weight-semibold small text-muted">
                                                    9.2 miles away
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class=" col-4 align-items-center d-flex justify-content-end text-right">
                                    <h6 class="mb-0">
                                        <button type="button"
                                            class="mt-2 btn btn-accent align-self-center text-uppercase"
                                            (click)="sendConnectRequest(lw)">Connect</button>
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>



    </div>

    <hr>
    <div class="row justify-content-end text-right py-3">
        <div class="col-md-12 col-xl-12 text-right">
            <nav aria-label="Page navigation example bg-dark">
                <ul class="nav justify-content-end px-3 ">

                    <li class="page-item border">
                        <a class="page-link py-1 h6 bg-accent " href="#" aria-label="Previous">
                            <span class="font-30" aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <!-- <li class="page-link page-item text-accent font-weight-bold h6"> 1/10 </li> -->
                    <li class="text-accent font-weight-bold h6 p-2 align-self-center mb-0"> 1/10 </li>
                    <li class="page-item border">
                        <a class="page-link py-1 h6 bg-accent" href="#" aria-label="Next">
                            <span class="font-30" aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>

                </ul>
            </nav>
        </div>
    </div>


    <div id="connectall-modal-md" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">

                <div class="justify-content-end">
                    <button aria-label="Close" type="button" class="close bg-accent " aria-hidden="true"
                        data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body p-3">

                    <div class="form-row text-center">
                        <h6 class="font-weight-semibold pr-3">Are you Sure you want to Connect to All 8 Members on your
                            Screen ??</h6>
                    </div>


                </div>
                <div class="modal-footer ">
                    <button type="button" class="btn btn-accent" data-dismiss="modal">Yes</button>
                    <button type="button" class="btn btn-outline-accent" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>