<div class="main-content-container container-fluid px-4">
    <flash-messages class="bg-accent text-center pb-0"></flash-messages>
    <div class="row pb-3 pt-4">
        <div class="col-12">

            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item align-self-center">
                    <a routerLink="/myaccount">
                        <h5 class="text-dark mb-0 font-weight-bold mr-3">My Account</h5>
                    </a>
                </li>
                <li class="nav-item ">
                    <a routerLink="/myaccount" class="nav-link text-muted font-weight-bold text-uppercase"
                        data-toggle="tab" aria-controls="profile" aria-selected="false">My Details</a>
                </li>
                <li class="nav-item ">
                    <a routerLink="/notification" class="nav-link text-muted font-weight-bold text-uppercase"
                        data-toggle="tab" role="tab" aria-controls="notifications"
                        aria-selected="false">Notifications</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/settings" class="active nav-link text-muted font-weight-bold text-uppercase"
                        role="tab" aria-controls="contact" aria-selected="false">Settings</a>
                </li>
                <li class="nav-item">
                    <a routerLink="#" class="nav-link text-muted font-weight-bold text-uppercase" role="tab"
                        aria-controls="contact" aria-selected="false">Manage Subscription</a>
                </li>
                <!-- <li class="nav-item">
                    <a routerLink="/archives" class="nav-link text-muted font-weight-bold text-uppercase" role="tab"
                        aria-controls="contact" aria-selected="false">Archives</a>
                </li> -->
            </ul>
        </div>
    </div>

    <div class="row justify-content-start py-3">
        <div class="col-xl-12">
            <div class="row justify-content-start   pb-4">
                <div class="col-xl-6">
                    <ul class="list-inline d-flex">
                        <li class="list-inline-item h6 text-secondary mb-0">Notification Preferences</li>
                    </ul>
                    <div class="row justify-content-start  pb-3">
                        <div class="col-xl-12 col-md-12 col-sm-12  ">
                            <div class="card card-small shadow ">
                                <div class="card-body p-3">
                                    <div class="form-row">
                                        <div class="form-group d-flex mb-0 col-12">
                                            <label
                                                class="font-weight-semibold align-self-center text-secondary mb-0 pr-1">Community
                                                Notifications
                                            </label>
                                            <div class="ml-auto" *ngIf="!communityNotificationflag">
                                                <!-- <div class="custom-control custom-switch">
                                                    <input type="checkbox" class="custom-control-input" checked
                                                        id="customSwitch4">
                                                    <label class="custom-control-label" for="customSwitch4"> </label>
                                                </div>   -->
                                                <a (click)="openCommunityNotification()" routerLink="#"
                                                    data-toggle="tooltip" title="View Notification Options">
                                                    <i class="material-icons md-24 text-secondary">
                                                        keyboard_arrow_down
                                                    </i>
                                                </a>
                                            </div>
                                            <div class="ml-auto" *ngIf="communityNotificationflag">
                                                <a (click)="closeCommunityNotification()" routerLink="#"
                                                    data-toggle="tooltip" title="Hide Notification Options">
                                                    <i class="material-icons md-24 text-secondary">
                                                        keyboard_arrow_up
                                                    </i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngIf="communityNotification" class="form-row">
                                        <div class="form-group mb-0 col-12 pt-2">
                                            <div class="py-1 d-flex ">
                                                <label class="font-weight-normal text-secondary mb-0 pr-1">Reply on
                                                    Discussion
                                                </label>
                                                <div class="ml-auto">
                                                    <div class="custom-control custom-switch  px-0">
                                                        <input type="checkbox" class="custom-control-input"
                                                            [checked]="!replyToDiscussion" id="customSwitch4"
                                                            (change)="selectReplyOnDiscussion(!replyToDiscussion)">
                                                        <label class="custom-control-label" for="customSwitch4">
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="py-1 d-flex ">
                                                <label class="font-weight-normal text-secondary mb-0 pr-1">Like on
                                                    Comment
                                                </label>
                                                <div class="ml-auto">
                                                    <div class="custom-control custom-switch  px-0 ">
                                                        <input type="checkbox" class="custom-control-input"
                                                            [checked]="!likedOnComment" id="customSwitch5"
                                                            (change)="selectLikedOnComment(!likedOnComment)">
                                                        <label class="custom-control-label" for="customSwitch5">
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="py-1 d-flex ">
                                                <label class="font-weight-normal text-secondary mb-0 ">Like on Post
                                                </label>
                                                <div class=" ml-auto">
                                                    <div class="custom-control custom-switch  px-0">
                                                        <input type="checkbox" class="custom-control-input"
                                                            [checked]="!likedPost" id="customSwitch6"
                                                            (change)="selectLikedPost(!likedPost)">
                                                        <label class="custom-control-label" for="customSwitch6"></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="py-1 d-flex ">
                                                <label class="font-weight-normal text-secondary mb-0 ">Comment on Comment
                                                </label>
                                                <div class=" ml-auto">
                                                    <div class="custom-control custom-switch px-0">
                                                        <input type="checkbox" class="custom-control-input"
                                                            [checked]="!replyOnComment" id="customSwitch7"
                                                            (change)="selectReplyOnComment(!replyOnComment)">
                                                        <label class="custom-control-label" for="customSwitch7"></label>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="py-1 d-flex ">
                                                <label class="font-weight-normal text-secondary mb-0 ">Mark As Read
                                                </label>
                                                <div class=" ml-auto">
                                                    <div class="custom-control custom-switch px-0">
                                                        <input type="checkbox" class="custom-control-input"
                                                            [checked]="!markAsRead" id="customSwitch8"
                                                            (change)="selectMarkAsRead(!markAsRead)">
                                                        <label class="custom-control-label" for="customSwitch8"></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- <div class="py-1 d-flex border-bottom">
                                                            <div class=" pl-5">
                                                                    <div class="custom-control custom-switch">
                                                                         <input type="checkbox" class="custom-control-input" checked
                                                                             id="customSwitch6">
                                                                         <label class="custom-control-label" for="customSwitch6">Like on Post</label>
                                                                     </div> 
                                                                 </div>
                                                            <label class="font-weight-normal text-secondary mb-0 ">
                                                            </label> 
                                                        </div> -->
                                        </div>


                                        <!-- <div class="form-group mb-0 col-12">
                                            <div class=" pt-2">
                                                    <div class="custom-control custom-switch">
                                                            <input type="checkbox" class="custom-control-input" checked
                                                                id="customSwitch4">
                                                            <label class="custom-control-label" for="customSwitch4">Reply on Discussion</label>
                                                        </div>  
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheck1"
                                                    name="example1">
                                                <label class="custom-control-label" for="customCheck1">Reply on Discussion</label>
                                            </div> 
                                        </div>
                                        <div class="pt-2">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" checked id="customCheck2"
                                                        name="example1">
                                                    <label class="custom-control-label" for="customCheck2">Like on Post</label>
                                                </div>
                                            </div>
                                            <div class="w-100"></div>
                                            <div class=" pt-2">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" checked id="customCheck3"
                                                            name="example1">
                                                        <label class="custom-control-label" for="customCheck3">Reply on Comment</label>
                                                    </div>
                                                </div>
                                                <div class=" pt-2">
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="customCheck3"
                                                                name="example1">
                                                            <label class="custom-control-label" for="customCheck3">Like on Comment</label>
                                                        </div>
                                                    </div>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                            <div class="card card-small shadow mt-3">
                                <div class="card-body p-3">
                                    <div class="form-row">
                                        <div class="form-group d-flex mb-0 col-12">
                                            <label
                                                class="font-weight-semibold align-self-center text-secondary mb-0 pr-1">Neighbors
                                                Notifications
                                            </label>
                                            <div class="ml-auto" *ngIf="!neighborsNotificationflag">
                                                <a (click)="openNeighborsNotification()" routerLink="#"
                                                    data-toggle="tooltip" title="View Notification Options">
                                                    <i class="material-icons md-24 text-secondary">
                                                        keyboard_arrow_down
                                                    </i>
                                                </a>
                                            </div>
                                            <div class="ml-auto" *ngIf="neighborsNotificationflag">
                                                <a (click)="closeNeighborsNotification()" routerLink="#"
                                                    data-toggle="tooltip" title="Hide Notification Options">
                                                    <i class="material-icons md-24 text-secondary">
                                                        keyboard_arrow_up
                                                    </i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-row" *ngIf="neighborsNotificationflag">


                                        <div class="form-group mb-0 col-12 pt-2">

                                            <div class="py-1 d-flex ">
                                                <label class="font-weight-normal text-secondary mb-0 pr-1">Neighbors
                                                    Requests
                                                </label>
                                                <div class="ml-auto">
                                                    <div class="custom-control custom-switch px-0">
                                                        <input type="checkbox" class="custom-control-input"
                                                            [checked]="!unMarkAsAnswer"
                                                            (change)="selectUnMarkAsAnswer(!unMarkAsAnswer)"
                                                            id="customSwitch11">
                                                        <label class="custom-control-label" for="customSwitch11">
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>


                <div class="col-xl-6" [formGroup]="notificationMessagePrefForm">
                    <ul class="list-inline d-flex mb-1">
                        <li class="list-inline-item h6 text-secondary">Notification Message Preferences</li>
                        <li class="list-inline-item ml-auto">
                        </li>
                        <li *ngIf="!editPreferenceflag" class="list-inline-item ml-auto mb-1">
                            <a href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                (click)="openEditpreferences()">
                                <small class="font-weight-semibold text-accent mb-0"> Edit</small>
                            </a>
                        </li>
                        <li *ngIf="editPreferenceflag" class="list-inline-item ml-auto mb-1">
                            <a href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                (click)="closeEditpreferences()">
                                <small class="font-weight-semibold text-accent mb-0"> Reset</small>
                            </a>
                        </li>
                    </ul>

                    <div class="row justify-content-start  pb-3">
                        <div class="col-xl-12 col-md-12 col-sm-12 ">
                            <div class="card card-small  shadow">
                                <div class="card-body p-3">

                                    <div *ngIf="!editPreferencesPage" class="form-row">
                                        <div class="form-group mb-0 col-4">
                                            <label class="font-weight-semibold text-secondary mb-0 pr-1">Phone No.
                                            </label>
                                            <h6><label
                                                    class="font-weight-normal text-secondary mb-0 pt-2">{{myNotificationAllData.notphoneno}}</label>
                                            </h6>
                                        </div>
                                        <div class="form-group mb-0 col-8">
                                            <label class="font-weight-semibold text-secondary mb-0 pr-1">eMail Id.
                                            </label>
                                            <h6><label
                                                    class="font-weight-normal text-secondary mb-0 pt-2">{{myNotificationAllData.notemailid}}</label>
                                            </h6>
                                        </div>
                                    </div>

                                    <div *ngIf="editPreferencesPage" class="form-row">
                                        <div class="form-group mb-0 col-4">
                                            <label class="font-weight-semibold text-secondary mb-0 pr-1">Phone No.
                                            </label>
                                            <input type="text" class="form-control mt-2 mb-0 h6"
                                                formControlName="notePhoneNo" [textMask]="{mask: mask}"
                                                [ngClass]="{ 'is-invalid': submitNotificationMessagePrefForm && g.notePhoneNo.errors }">
                                            <div *ngIf="submitNotificationMessagePrefForm && g.notePhoneNo.errors"
                                                class="invalid-feedback">
                                                <div *ngIf="g.notePhoneNo.errors.required">Phone Number is required
                                                </div>
                                                <!-- <div *ngIf="g.notePhoneNo.errors.pattern">Phone number is not valid.
                                                </div> -->
                                            </div>
                                            <div *ngIf="notePhoneValidate">
                                                <h6 class="text-danger">Phone Number is required</h6>
                                            </div>

                                        </div>
                                        <div class="form-group mb-0 col-8">
                                            <label class="font-weight-semibold text-secondary mb-0 pr-1">eMail Id.
                                            </label>
                                            <input type="text" class="form-control mt-2 mb-0 h6"
                                                formControlName="noteEmailId"
                                                [ngClass]="{ 'is-invalid': submitNotificationMessagePrefForm && g.noteEmailId.errors }">
                                            <div *ngIf="submitNotificationMessagePrefForm && g.noteEmailId.errors"
                                                class="invalid-feedback">
                                                <div *ngIf="g.noteEmailId.errors.required">EmailId is required
                                                </div>
                                                <div *ngIf="g.noteEmailId.errors.email">EmailId is not valid
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <div class="form-group mb-0 col-12">
                                            <label class="font-weight-semibold text-secondary mb-0 pr-1 pt-3">Notified
                                                via :
                                            </label>
                                            <label
                                                class="font-weight-normal text-secondary mb-0">{{preferenceName}}</label>
                                        </div>
                                    </div>

                                    <div *ngIf="!editPreferencesPage" class="form-row">
                                        <div class="col-12 form-group mb-0 pt-3">
                                            <div class="custom-control custom-radio pb-3"
                                                *ngFor="let p of notificationPrefList">
                                                <input type="radio" id="customRadioInline1{{p.notPref}}" disabled
                                                    name="Preferences" value="{{p.notPrefId}}" [checked]="p.selected"
                                                    class="custom-control-input" formControlName="Preferences">
                                                <label class="custom-control-label"
                                                    for="customRadioInline1{{p.notPref}}">{{p.notPref}}</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div *ngIf="editPreferencesPage" class="form-row">

                                        <div class="col-12 form-group mb-0 pt-3">

                                            <div class="custom-control custom-radio pb-3"
                                                *ngFor="let p of notificationPrefList">
                                                <input type="radio" id="customRadioInline{{p.notPref}}"
                                                    value="{{p.notPrefId}}" [checked]="p.selected" name="alerts"
                                                    class="custom-control-input" formControlName="alerts">
                                                <label class="custom-control-label"
                                                    for="customRadioInline{{p.notPref}}">{{p.notPref}}</label>
                                            </div>

                                            <div class="card-footer d-flex border-top pb-0">
                                                <button
                                                    class="btn btn-accent text-white rounded-0  px-5  ml-auto text-uppercase"
                                                    (click)="postNotificationPrefernece()">Update
                                                    Preferences
                                                </button>
                                            </div>

                                        </div>
                                    </div>



                                </div>

                                <!-- <div *ngIf="savebutton" class="card-footer d-flex border-top ">
                                    <button
                                        class="btn btn-accent text-white rounded-0  px-5  ml-auto text-uppercase">Update
                                        Preferences
                                    </button>
                                </div> -->

                            </div>
                        </div>

                    </div>
                </div>






            </div>
        </div>
    </div>

</div>